Source: guadalinex-minima-meta
Section: utils
Priority: important
Maintainer: Alfredo Matas <amatas@emergya.es>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.0

Package: guadalinex-minima-meta
Architecture: any
Depends: sudo, guadalinex-minima-installer, language-pack-es, language-pack-es-base, console-setup, console-terminus, xkb-data, perl, console-data, lsb-release, openssl, ssl-cert
Description: Guadalinex Minima metapackage
 Guadalinex Minima metapackage
