Package: guadalinex-eadmin
Version: v5-0.1
Architecture: i386
Maintainer: J. Félix Ontañón <fontanon@emergya.es>
Installed-Size: 884
Depends: firefox-3.0, getatr, guadalinex-hipath-sicurity-card-api, libc6 (>= 2.1.3), libccid, libnss3-1d, libnss3-tools, libssl-dev, mozilla-opensc (>= 0.11.4-2.1), openct, opensc (>= 0.11.4-2.1), opensc-ceres (>= 2.0.2), opensc-dnie (>= 1.4.0), pcsc-tools, pcscd, pinentry-gtk2, python
Section: misc
Priority: optional
Description: E-Admin support for Guadalinex
 This package add support for different hardware and software systems
 needed to communicate with the electronic administration systems
 of Andalucía.
