[Desktop Entry]
Encoding=UTF-8
Name=Assistive Technology Support
Name[af]=Helpende Tegnologie Ondersteuning
Name[ar]=دعم التكنولوجيا المعينة
Name[az]=Yardımçı Texnologiya Dəstəyi
Name[be]=Падтрыма тэхналёгіі садзеяньня
Name[bg]=Поддръжка на технологиите за асистиране
Name[bn]=সহায়ক প্রযুক্তি
Name[bs]=Podrška za pomoćnu tehnologiju
Name[ca]=Suport de tecnologia assistiva
Name[cs]=Podpora technologií usnadnění
Name[cy]=Cynhaliaeth Technoleg Gynorthwyol
Name[da]=Assisterende teknologier
Name[de]=Unterstützung für Hilfstechnologien
Name[el]=Υποστήριξη Βοηθητικής Τεχνολογίας
Name[en_CA]=Assistive Technology Support
Name[en_GB]=Assistive Technology Support
Name[es]=Soporte para tecnología de asistencia
Name[et]=Abistava tehnika tugi
Name[eu]=Laguntza-teknologiaren laguntza
Name[fa]=پشتیبانی فن‌آوری کمکی
Name[fi]=Esteettömyysohjelmatuki
Name[fr]=Aides techniques
Name[gl]=Soporte para tecnoloxía de asistencia
Name[gu]=સહાયક તકનીકીનો આધાર
Name[he]=תמיכת טכנולוגיות מסייעות
Name[hi]=सहायक तकनालॉज़ी समर्थन
Name[hr]=Podrška za tehnologiju podrške
Name[hu]=Kisegítő lehetőségek támogatása
Name[id]=Dukungan Teknologi Bantuan
Name[is]=Stuðningur við stoðtækni
Name[it]=Supporto della tecnologia di aiuto
Name[ja]=支援技術のサポート
Name[ko]=보조 기술 지원
Name[lt]=Pagalbinių technologijų palaikymas
Name[mk]=Поддршка за помошни технологии
Name[mn]=Туслах технолгийн дэмжилт
Name[ms]=Sokongan Teknologi Pertolongan
Name[nb]=Støtte for hjelpefunksjoner
Name[ne]=सहयोगी प्रविधि समर्थन 
Name[nl]=Assisterende technologie
Name[nn]=Støtte for hjelpefunksjonar
Name[no]=Støtte for hjelpefunksjoner
Name[nso]=Thekgo ya Thekinolotši e Thušago
Name[pa]=ਸਹਾਇਕ ਤਕਨਾਲੋਜੀ ਸਹਿਯੋਗ
Name[pl]=Obsługa technologii wspierających
Name[pt]=Suporte para Tecnologias Assistivas
Name[pt_BR]=Suporte a Tecnologia Assistiva
Name[ro]=Suport pentru tehnologii de asistenţă
Name[ru]=Поддержка вспомогательных технологий
Name[sk]=Podpora pomocných technológií
Name[sl]=Podpora pomožnim tehnologijam
Name[sq]=Suporti i teknologjisë asistuese
Name[sr]=Подршка технологијама за испомоћ
Name[sr@Latn]=Podrška tehnologijama za ispomoć
Name[sv]=Stöd för hjälpmedelsfunktioner
Name[ta]=உதவி தொழில்நுட்பம் ஆதரவு
Name[th]=ระบบอำนวยการใช้งาน (ATS)
Name[tr]=Yardımcı Teknoloji Desteği
Name[uk]=Підтримка допоміжних технологій
Name[vi]=Hỗ trợ công nghệ trợ giúp
Name[xh]=INkxaso yobuChwepheshe eNcedayo
Name[zh_CN]=辅助技术支持
Name[zh_TW]=輔助技術支援
Name[zu]=Usizo lwesayensi yemisebenzi ethile oluthandekayo
Comment=Enable support for GNOME assistive technologies at login
Comment[af]=Aktiveer ondersteuning vir GNOME helpende tegnologieë tydens aanmelding
Comment[ar]=تفعيل الدعم للتكنولوجيات المعينة عند التسجيل
Comment[az]=Girişdə GNOME yardımçı texnologiya dəstəyini fəallaşdır
Comment[be]=Уключыць падтрымку для GNOME тэхналёгіі судзеяньня пад час уваходу
Comment[bg]=Включване на поддръжката на технологиите за асистиране при влизане
Comment[bn]=লগ-ইন-এর সময় গনোমের সহায়ক প্রযুক্তি চালু করো
Comment[bs]=Uključi podršku za GNOME pomoćnu tehnologiju pri prijavi
Comment[ca]=Habilita el suport per a les tecnologies assistives del GNOME en entrar
Comment[cs]=Povolit podporu technologií usnadnění GNOME při přihlášení
Comment[cy]=Galluogi cynhaliaeth ar gyfer technolegau cynorthwyol GNOME wrth fewngofnodi
Comment[da]=Aktivér understøttelse for assisterende teknologier ved logind
Comment[de]=Unterstützung für GNOME-Hilfstechnologien bei der Anmeldung aktivieren
Comment[el]=Ενεργοποίηση υποστήριξης για τις βοηθητικές τεχνολογίες του Gnome κατά την είσοδο
Comment[en_CA]=Enable support for GNOME assistive technologies at login
Comment[en_GB]=Enable support for GNOME assistive technologies at login
Comment[es]=Activa el soporte para las tecnologías de asistencia de Gnome durante el inicio
Comment[et]=GNOME abistava tehnika toe lubamine sisselogimisel
Comment[eu]=Gaitu GNOMEren laguntza-teknologiaren laguntza saioa hastean
Comment[fa]=به کار انداختن پشتیبانی فن‌آوری‌های کمکی گنوم هنگام ورود به سیستم
Comment[fi]=Ota käyttöön tuki Gnomen esteettömyysohjelmille sisään kirjauduttaessa
Comment[fr]=Permet d'activer les utilitaires d'accessibilité au démarrage de GNOME
Comment[gl]=Activa o soporte para as tecnoloxías de asistencia de Gnome durante o inicio
Comment[gu]=પ્રવેશ વખતે જીનોમ સહાયક તકનીકીઓનો આધાર સક્રિય કરો
Comment[he]=אפשר תמיכה לטכנולוגיות המסייעות של GNOME בהתחברות
Comment[hi]=गनोम सहायक तकनालॉज़ी हेतु समर्थन को लॉगइन पर सक्षम करें
Comment[hr]=Omogući podršku za GNOME pomoćne tehnologije kod prijavljivanja
Comment[hu]=GNOME kisegítő lehetőségek engedélyezése belépéskor
Comment[id]=Aktifkan dukungan teknologi bantuan GNOME saat login
Comment[is]=Virkja stuðning við GNOME-stoðtækni við innritun
Comment[it]=Abilita il supporto per le tecnologie di aiuto di GNOME al login
Comment[ja]=起動時に GNOME 支援技術のサポートを有効にします
Comment[ko]=로그인할 때 그놈 보조 기술 기능을 사용합니다.
Comment[lt]=Įjungti GNOME pagalbinių technologijų palaikymą prisijungimu metu
Comment[mk]=Овозможи поддршка за помошнаите технологии на Гном кај најавувањето
Comment[mn]=Нэвтрэлтэд ГНОМЕ-н туслах технолгуудын дэмжилтийг нээх
Comment[ms]=Hidupkan sokongan bagi teknologi pertolongan GNOME pasa logmasuk
Comment[nb]=Aktiver støtte for GNOME hjelpefunksjoner ved pålogging
Comment[ne]=लगइनमा जिनोम सहयोगी प्रविद्धिहरुका निम्ति समर्थन सक्षम गर
Comment[nl]=Ondersteuning voor GNOME assisterende technologieën inschakelen bij aanmelden
Comment[nn]=Slå på støtte for GNOME sine hjelpefunksjonar for handicappa når du loggar inn
Comment[no]=Aktiver støtte for GNOME hjelpefunksjoner ved pålogging
Comment[nso]=Kgontšha thekgo bakeng sa dithekinolotši tše thušago tša GNOME go tseneng
Comment[pa]=ਗਨੋਮ ਸਹਾਇਕ ਤਕਨਾਲੋਜੀ ਲਈ ਸਹਾਇਤਾ ਦਾਖਲੇ ਸਮੇਂ ਯੋਗ
Comment[pl]=Włączenie obsługi dla technologii wspierających GNOME przy logowaniu
Comment[pt]=Activar suporte para tecnologias assistivas GNOME ao iniciar sessão
Comment[pt_BR]=Ativar suporte para tecnologias assistivas do GNOME no login
Comment[ro]=Activează suportul pentru tehnologiile de asistenţă GNOME la autentificare
Comment[ru]=Диалог настройки вспомогательных технологий GNOME
Comment[sk]=Povoliť podporuje pre GNOME pomocných technológií pri prihlásení
Comment[sl]=Ob prijavi vključi podporo pomožnim tehnologijam GNOME
Comment[sq]=Aktivo suportin për teknologjitë asistuese të GNOME kur futesh
Comment[sr]=Укључи при пријави подршку за Гномове технологије за испомоћ
Comment[sr@Latn]=Uključi pri prijavi podršku za Gnomove tehnologije za ispomoć
Comment[sv]=Aktivera stöd för GNOME-hjälpmedelsfunktioner vid inloggning
Comment[ta]=நுழையும்போது க்னோம் உதவி தொழில் நுட்பங்களை செயல்படுத்தவும்
Comment[th]=ใช้ระบบอำนวยการใช้งานเมื่อเข้าระบบ
Comment[tr]=GNOME yardımcı teknolojilerini girişte etkin hale getir
Comment[uk]=Ввімкнення допоміжних технологій GNOME при вході у систему
Comment[vi]=Bật hỗ trợ cho công nghệ trợ giúp GNOME lúc đăng nhập
Comment[xh]=Yenza ukuba kusebenze inkxaso ukulungiselela ubuchwephesha boncedo be-GNOME kungeno
Comment[zh_CN]=登录时启用 GNOME 的辅助技术支持
Comment[zh_TW]=登入時啟用 GNOME 輔助技術支援
Comment[zu]=Nika amandla ngokusekela I GNOME uma ungena kusizo lwesayensi yemisebenzi ethile
Exec=gnome-at-properties
Icon=gnome-settings-accessibility-technologies
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=control-center
X-GNOME-Bugzilla-Component=Assistive Technology Support
X-GNOME-Bugzilla-Version=2.12.1
