[Desktop Entry]
Encoding=UTF-8
Name=Image Viewer
Name[af]=Beeldbekyker
Name[am]=የምስል ተመልካች
Name[ar]=عارض الصّور
Name[az]=Rəsm Nümayişcisi
Name[be]=Праглядальнік відарыса
Name[bg]=Преглед на изображения (EoG)
Name[bn]=ছবি প্রদর্শক
Name[bs]=Preglednik slika
Name[ca]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[cy]=Gwelydd Delweddau
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Εφαρμογή Προβολής Εικόνων
Name[en_CA]=Image Viewer
Name[en_GB]=Image Viewer
Name[es]=Visor de imágenes
Name[et]=Pildivaatlusprogramm
Name[eu]=Irudi-ikustailea
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvakatselin
Name[fr]=Visionneur d'images
Name[ga]=Taispeán íomhanna
Name[gl]=Visualizador de imaxes
Name[gu]=ચિત્ર દર્શક
Name[he]=מציג תמונות
Name[hi]=छवि प्रदर्शक
Name[hr]=Preglednik slika
Name[hu]=Képmegjelenítő
Name[id]=Pembuka Gambar
Name[is]=Myndarýnir
Name[it]=Visualizzatore di immagini
Name[ja]=画像ビューア
Name[kn]=ಚಿತ್ರ ವೀಕ್ಷಕ
Name[ko]=그림 보기 프로그램
Name[lt]=Paveikslėlių žiūrėjimo programa
Name[lv]=Attēlu Skatītājs
Name[mk]=Прегледувач на слики
Name[mn]=Зураг харагч
Name[ms]=Pelihat Imej
Name[nb]=Bildevisning
Name[ne]=चित्र दर्शक 
Name[nl]=Afbeeldingsweergave
Name[nn]=Biletevisar
Name[no]=Bildevisning
Name[nso]=Selebeledi sa Seswantšho
Name[or]=ଚିତ୍ର ଦର୍ଶକ
Name[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazów
Name[pt]=Visualizador de Imagens
Name[pt_BR]=Visualizador de Imagens
Name[ro]=Vizualizator imagini
Name[ru]=Программа просмотра изображений
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sq]=Shikues figurash
Name[sr]=Прегледач слика
Name[sr@Latn]=Pregledač slika
Name[sv]=Bildvisare
Name[ta]=ஓவியக் காட்டி
Name[th]=แสดงรูป
Name[tk]=Resim Namaýyşçysy
Name[tr]=Resim Görüntüleyici
Name[ug]=رەسىم كۆرگۈچ
Name[uk]=Перегляд зображень
Name[vi]=Bộ xem ảnh
Name[wa]=Håyneu d' imådjes
Name[xh]=Isibonisi-Mfanekiso
Name[zh_CN]=图像查看器
Name[zh_TW]=圖片瀏覽程式
Name[zu]=Umbonisa sithombe
Comment=View different types of images
Comment[bg]=Преглед на различни типове изображения
Comment[bn]=বিভিন্ন ধরনের ছবি দেখুন
Comment[ca]=Visualitza diferents tipus d'imatges
Comment[cs]=Prohlížet různé typy obrázků
Comment[cy]=Edrych ar ddelweddau o fathau gwahanol
Comment[da]=Vis billeder
Comment[de]=Zeigt verschiedene Bildformate an
Comment[el]=Δείτε διαφορετικούς τύπους εικόνων
Comment[en_CA]=View different types of images
Comment[en_GB]=View different types of images
Comment[es]=Vea muchos tipos distintos de imágenes
Comment[et]=Paljude pilditüüpide vaatamiseks
Comment[eu]=Mota askotako irudiak ikusteko
Comment[fa]=نمایش انواع متعددی از تصاویر
Comment[fi]=Katsele erityyppisiä kuvia
Comment[fr]=Affiche de nombreux formats d'images
Comment[gl]=Ver diferentes tipos de imaxes
Comment[gu]=વિવિધ પ્રકારના ચિત્રો જુઓ
Comment[hi]=भिन्न प्रकार की छवियों को देखें
Comment[hu]=Különféle típusú képek megjelenítése
Comment[id]=Tampilkan berbagai jenis gambar
Comment[it]=Visualizza diversi tipi di immagini
Comment[ja]=いろいろな種類の画像を表示します
Comment[ko]=여러가지 종류의 그림을 봅니다
Comment[lt]=Žiūrėti daugelio tipų paveikslėlius
Comment[mk]=Гледај повеќе различни видови слики
Comment[nb]=Vis forskjellige typer bilder
Comment[ne]=बिभिन्न प्रकारका चित्रहरु हेर्नुहोस
Comment[nl]=Bekijk vele afbeeldingsformaten
Comment[nn]=Vis ulike typar bilete
Comment[no]=Vis forskjellige typer bilder
Comment[pa]=ਵੱਖ ਵੱਖ ਕਿਸਮਾਂ ਦੇ ਚਿੱਤਰ ਵੇਖੋ
Comment[pl]=Wyświetla różne rodzaje obrazów
Comment[pt]=Visualizar tipos diferentes de imagens
Comment[pt_BR]=Visualize diferentes tipos de imagens
Comment[ro]=Vizualizează diferite tipuri de imagini
Comment[ru]=Просмотр различных типов изображений
Comment[sk]=Prezerať rôzne typy obrázkov
Comment[sq]=Shfaq lloje të ndryshme figurash
Comment[sr]=Прегледај различите типова слика
Comment[sr@Latn]=Pregledaj različite tipova slika
Comment[sv]=Visa olika typer av bilder
Comment[ta]=பலவிதமான ஓவியங்களைப் பார்க்கலாம்
Comment[th]=ดูรูปชนิดต่างๆ
Comment[tr]=Farklı resim türlerini görüntüleyin
Comment[uk]=Перегляд зображень різних типів
Comment[vi]=Xem nhiều loại ảnh khác nhau
Comment[zh_CN]=查看不同类型的图像
Comment[zh_TW]=顯示不同種類的圖片
TryExec=eog
Exec=eog %U
Icon=gnome-eog.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Application;Graphics;RasterGraphics;Viewer;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=EOG
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.12.1
X-GNOME-DocPath=eog/eog.xml
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml
