[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=F-Spot
Name[bg]=F-Spot
Name[ca]=F-Spot
Name[cs]=F-Spot
Name[da]=F-Spot
Name[de]=F-Spot
Name[el]=F-Spot
Name[en_CA]=F-Spot
Name[en_GB]=F-Spot
Name[es]=F-Spot
Name[et]=F-Spot
Name[eu]=F-Spot
Name[fi]=F-Spot
Name[fr]=F-Spot
Name[hu]=F-Spot
Name[it]=F-Spot
Name[ja]=F-Spot
Name[lt]=F-Spot
Name[nb]=F-Spot
Name[nl]=F-spot
Name[no]=F-Spot
Name[pl]=F-Spot
Name[sr]=Ф-Спот
Name[sr@Latn]=F-Spot
Name[zh_CN]=F-Spot
Name[zh_TW]=F-Spot
GenericName=Photo Management
GenericName[cs]=Správa fotografií
GenericName[en_CA]=Photo Management
GenericName[fi]=Valokuvien hallinta
Comment=Photo Management
Comment[cs]=Správa fotografií
Comment[en_CA]=Photo Management
Comment[fi]=Valokuvien hallinta
Exec=f-spot
Icon=f-spot-logo
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Graphics;Photograph;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=f-spot
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.1.3
X-SuSE-translate=true
