[Desktop Entry]
Encoding=UTF-8
Name=Calculator
Name[ar]=آلة حاسبة
Name[az]=Hesaplayıcı
Name[be]=Калькулятар
Name[bg]=Калкулатор
Name[bs]=Računalo
Name[ca]=Calculadora
Name[cs]=Kalkulačka
Name[cy]=Cyfrifiannell
Name[da]=Lommeregner
Name[de]=Taschenrechner
Name[el]=Αριθμομηχανή
Name[en_CA]=Calculator
Name[en_GB]=Calculator
Name[en_US]=Calculator
Name[es]=Calculadora
Name[et]=Taskuarvuti
Name[eu]=Kalkulagailua
Name[fa]=ماشین‌حساب
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[ga]=Áireammhán
Name[gl]=Calculadora
Name[gu]=કેલ્ક્યુલેટર
Name[he]=מחשבון
Name[hi]=गणक
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[id]=Kalkulator
Name[it]=Calcolatrice
Name[ja]=関数電卓
Name[ko]=계산기
Name[lt]=Skaičiuotuvas
Name[mk]=Калкулатор
Name[ml]=ഗണനി
Name[mn]=Тооны машин
Name[ms]=Kalkulator
Name[nb]=Kalkulator
Name[ne]=गणक यन्त्र
Name[nl]=Rekenmachine
Name[no]=Kalkulator
Name[or]=କାଲ୍କୁଲେଟର
Name[pa]=ਹਿਸਾਬੀ
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ro]=Calculator
Name[ru]=Калькулятор
Name[sk]=Kalkulačka
Name[sl]=Kalkulator
Name[sq]=Kalkulator (llogaritës)
Name[sr]=Калкулатор
Name[sr@Latn]=Kalkulator
Name[sv]=Miniräknare
Name[ta]=கணிப்பான்
Name[te]=గణన పరికరం
Name[th]=เครื่องคิดเลข
Name[tk]=Çot
Name[tr]=Hesap Makinesi
Name[uk]=Калькулятор
Name[vi]=Máy tính
Name[xh]=Ikhaltyuleyitha
Name[zh_CN]=计算器
Name[zh_TW]=計算機
Comment=Perform calculations
Comment[ar]=تأدية حسابات
Comment[az]=Hesablamalar edin
Comment[be]=Зрабіць падлікі
Comment[bg]=Извършване на пресмятания
Comment[bs]=Izvrši računanje
Comment[ca]=Calcula
Comment[cs]=Provést výpočty
Comment[cy]=Gweithredu'r cyfrifiadau
Comment[da]=Udfør beregninger
Comment[de]=Berechnungen durchführen
Comment[el]=Εκτέλεση υπολογισμών
Comment[en_CA]=Perform calculations
Comment[en_GB]=Perform calculations
Comment[en_US]=Perform calculations
Comment[es]=Realizar cálculos
Comment[et]=Arvutamine
Comment[eu]=Kalkuluak egikaritu
Comment[fa]=اجرای محاسبات
Comment[fi]=Suorita laskutoimitukset
Comment[fr]=Effectue des calculs compliqués
Comment[gl]=Realizar cálculos
Comment[gu]=ગણતરી કરો
Comment[he]=בצע חישובים
Comment[hi]=गणना करें
Comment[hr]=Podešavanje osobnih preferenci
Comment[hu]=Számítások elvégzése
Comment[id]=Laksanakan perhitungan
Comment[it]=Esegue calcoli
Comment[ja]=電卓で計算します
Comment[ko]=계산을 합니다
Comment[lt]=Atlikti skaičiavimus
Comment[mk]=Изврши ги пресметките
Comment[mn]=Тооцоол
Comment[ms]=Lakukan pengiraan
Comment[nb]=Utfør beregninger
Comment[ne]=गणना गर
Comment[nl]=Rekenmachine
Comment[no]=Utfør beregninger
Comment[or]=ଗଣନା କରନ୍ତୁ
Comment[pa]=ਹਿਸਾਬੀ ਕ੍ਰਿਆਵਾਂ ਕਰੋ
Comment[pl]=Przeprowadzenie obliczeń
Comment[pt]=Efectuar os cálculos
Comment[pt_BR]=Executar cálculos
Comment[ro]=Efectuează calculele
Comment[ru]=Калькулятор
Comment[sk]=Vykonať výpočty
Comment[sl]=Izvedi izračune
Comment[sq]=Kryej llogaritjet
Comment[sr]=Израчунај
Comment[sr@Latn]=Izračunaj
Comment[sv]=Utför beräkningar
Comment[ta]=கணக்கிடம் ஆற்று
Comment[te]=గణనములను చేయుPerform calculations
Comment[th]=คำนวณผล
Comment[tr]=Hesaplamaları yap
Comment[uk]=Виконати обчислення
Comment[vi]=Thực hiện tính toán
Comment[xh]=Yenza izibalo
Comment[zh_CN]=执行计算
Comment[zh_TW]=進行計算
Exec=gcalctool
Icon=gnome-calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Utility;
X-GNOME-DocPath=gcalctool/gcalctool.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gcalctool
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-OtherBinaries=gnome-calculator
