[Desktop Entry]
Encoding=UTF-8
Name=New Login in a Nested Window
Name[af]=Nuwe aanmelding in 'n geneste venster
Name[ar]=تسجيل دخول جديد في نافذة معشّشة
Name[az]=Daxili Pəncərədə Yeni Giriş
Name[be]=Новы ўваход ва-ўкладзеным акне
Name[bg]=Ново влизане във вложен прозорец
Name[bn]=নেস্টকৃত উইন্ডোস্থিত নতুন লগিন
Name[bs]=Nova prijava u ugnijeĹľdenom prozoru
Name[ca]=Nova entrada a una finestra imbricada
Name[cs]=Nové přihlášení ve vnořeném okně
Name[cy]=Mewngofnodiad Newydd Mewn Ffenest Nythol
Name[da]=Nyt logind i vindue
Name[de]=In Fenster neu anmelden
Name[el]=Νέα είσοδος σε ενσωματωμένο παράθυρο
Name[en_CA]=New Login in a Nested Window
Name[en_GB]=New Login in a Nested Window
Name[es]=Pantalla de entrada en una ventana anidada
Name[eu]=Habiaratutako leiho batean saio-hasiera berria dago
Name[fi]=Uusi kirjautuminen sisäkkäisestä ikkunasta
Name[fr]=Nouvelle connexion dans une fenêtre imbriquée
Name[gl]=Novo inicio de sesión nunha fiestra aniñada
Name[gu]=પુનરાવર્તિત વિન્ડોમાં નવો પ્રવેશ
Name[he]=חיבור חדש בחלון מקונן
Name[hi]=नेस्टेड विंडो में नया लॉगइन
Name[hr]=Nova prijava u ugniježdenom prozoru
Name[hu]=Új bejelentkezés egy beültetett ablakban
Name[id]=Login baru di Window Bersarang
Name[it]=Nuovo login in finestra
Name[ja]=多重のウィンドウからの新しいログイン
Name[ko]=중첩 창에서 새로 로그인
Name[lt]=Dirbti kitu naudotoju atskirame lange
Name[mk]=Ново најавување во вгнезден прозорец
Name[mn]=Хайрцагласан цонхонд шинээр нэвтрэх
Name[mr]=सुरक्षित विंडोमध्ये नव्याने प्रवेश करा
Name[ms]=Logmasuk baru pada Tetingkap Bersarang
Name[nb]=Ny innlogging i et vindu
Name[ne]=नेस्टेड् सञ्झ्यालमा नयाँ लग-इन ण्डो
Name[nl]=Aanmelden in een genest venster
Name[nn]=Ny innlogging i eit vindauge
Name[no]=Ny innlogging i et vindu
Name[nso]=Go Tsena go go swa Lefesetereng le Logagantšwego
Name[pa]=ਝਰੋਖਿਆਂ ਦੇ ਉਪ-ਸਮੂਹ ਵਿੱਚ ਨਵਾਂ ਲਾਗਿੰਨ
Name[pl]=Nowe logowanie w zagnieżdżonym oknie
Name[pt]=Nova Sessão numa Janela Nested
Name[pt_BR]=Nova Sessão em uma Janela Aninhada
Name[ro]=Autentificare nouă imbricată
Name[ru]=Новый сеанс во встроенном окне
Name[sk]=Nové prihlásenie vo vnorenom okne
Name[sl]=Nova prijava v gnezdenem oknu
Name[sq]=Login i ri në Nested Window
Name[sr]=Нова пријава у угњежденом прозору
Name[sr@Latn]=Nova prijava u ugnježdenom prozoru
Name[sv]=Ny inloggning i ett nästlat fönster
Name[ta]=வலை சாலரத்தில் புதிய நுழைவு
Name[th]=การเข้าระบบใหม่ใน Nested Window
Name[tr]=İçiçe Perncerede Yeni Giriş
Name[uk]=Новий сеанс у вкладеному вікні
Name[vi]=Đăng nhập mới trong cửa sổ lồng nhau.
Name[xh]=uNgeno olutsha kwi-Window eBekiweyo
Name[zh_CN]=嵌套窗口中的新登录
Name[zh_TW]=在 Xnest 視窗以另一個身分登入
Name[zu]=uMngenis Omusha eSidlekeni seFasitela
GenericName=New Login in a Nested Window
GenericName[af]=Nuwe aanmelding in 'n geneste venster
GenericName[ar]=تسجيل دخول جديد في نافذة معشّشة
GenericName[az]=Daxili Pəncərədə Yeni Giriş
GenericName[be]=Новы ўваход ва-ўкладзеным акне
GenericName[bg]=Ново влизане във вложен прозорец
GenericName[bn]=নেস্টকৃত উইন্ডোস্থিত নতুন লগিন
GenericName[bs]=Nova prijava u ugnijeĹľdenom prozoru
GenericName[ca]=Nova entrada a una finestra imbricada
GenericName[cs]=Nové přihlášení ve vnořeném okně
GenericName[cy]=Mewngofnodiad Newydd Mewn Ffenest Nythol
GenericName[da]=Nyt logind i vindue
GenericName[de]=In Fenster neu anmelden
GenericName[el]=Νέα είσοδος σε ενσωματωμένο παράθυρο
GenericName[en_CA]=New Login in a Nested Window
GenericName[en_GB]=New Login in a Nested Window
GenericName[es]=Pantalla de entrada en una ventana anidada
GenericName[eu]=Habiaratutako leiho batean saio-hasiera berria dago
GenericName[fi]=Uusi kirjautuminen sisäkkäisestä ikkunasta
GenericName[fr]=Nouvelle connexion dans une fenêtre imbriquée
GenericName[gl]=Novo inicio de sesión nunha fiestra aniñada
GenericName[gu]=પુનરાવર્તિત વિન્ડોમાં નવો પ્રવેશ
GenericName[he]=חיבור חדש בחלון מקונן
GenericName[hi]=नेस्टेड विंडो में नया लॉगइन
GenericName[hr]=Nova prijava u ugniježdenom prozoru
GenericName[hu]=Új bejelentkezés egy beültetett ablakban
GenericName[id]=Login baru di Window Bersarang
GenericName[it]=Nuovo login in finestra
GenericName[ja]=多重のウィンドウからの新しいログイン
GenericName[ko]=중첩 창에서 새로 로그인
GenericName[lt]=Dirbti kitu naudotoju atskirame lange
GenericName[mk]=Ново најавување во вгнезден прозорец
GenericName[mn]=Хайрцагласан цонхонд шинээр нэвтрэх
GenericName[mr]=सुरक्षित विंडोमध्ये नव्याने प्रवेश करा
GenericName[ms]=Logmasuk baru pada Tetingkap Bersarang
GenericName[nb]=Ny innlogging i et vindu
GenericName[ne]=नेस्टेड् सञ्झ्यालमा नयाँ लग-इन ण्डो
GenericName[nl]=Aanmelden in een genest venster
GenericName[nn]=Ny innlogging i eit vindauge
GenericName[no]=Ny innlogging i et vindu
GenericName[nso]=Go Tsena go go swa Lefesetereng le Logagantšwego
GenericName[pa]=ਝਰੋਖਿਆਂ ਦੇ ਉਪ-ਸਮੂਹ ਵਿੱਚ ਨਵਾਂ ਲਾਗਿੰਨ
GenericName[pl]=Nowe logowanie w zagnieżdżonym oknie
GenericName[pt]=Nova Sessão numa Janela Nested
GenericName[pt_BR]=Nova Sessão em uma Janela Aninhada
GenericName[ro]=Autentificare nouă imbricată
GenericName[ru]=Новый сеанс во встроенном окне
GenericName[sk]=Nové prihlásenie vo vnorenom okne
GenericName[sl]=Nova prijava v gnezdenem oknu
GenericName[sq]=Login i ri në Nested Window
GenericName[sr]=Нова пријава у угњежденом прозору
GenericName[sr@Latn]=Nova prijava u ugnježdenom prozoru
GenericName[sv]=Ny inloggning i ett nästlat fönster
GenericName[ta]=வலை சாலரத்தில் புதிய நுழைவு
GenericName[th]=การเข้าระบบใหม่ใน Nested Window
GenericName[tr]=İçiçe Perncerede Yeni Giriş
GenericName[uk]=Новий сеанс у вкладеному вікні
GenericName[vi]=Đăng nhập mới trong cửa sổ lồng nhau.
GenericName[xh]=uNgeno olutsha kwi-Window eBekiweyo
GenericName[zh_CN]=嵌套窗口中的新登录
GenericName[zh_TW]=在 Xnest 視窗以另一個身分登入
GenericName[zu]=uMngenis Omusha eSidlekeni seFasitela
Comment=Log in as another user inside a nested window
Comment[af]=Meld as 'n ander gebruiker aan binne 'n geneste venster
Comment[ar]=تسجيل كمستخدم آخر في نافذة معششة
Comment[az]=Pəncərə yerinə yeni istifadəçi olaraq sistemə gir
Comment[be]=Увайсьці ў сыстэму як іншы карыстальнік ва-ўкладзеным акне
Comment[bg]=Влизане в системата като друг потребител във вложен прозорец
Comment[bn]=নেস্টকৃত উইন্ডোতে একজন নতুন ব্যবহারকারীরূপে লগিন করুন
Comment[bs]=Prijavite se kao drugi korisnik unutar ugnijeĹľdenog prozora
Comment[ca]=Entreu com a un usuari distint dins d'una finestra imbricada
Comment[cs]=Přihlásit se jako jiný uživatel ve vnořeném okně
Comment[cy]=Mewngofnodi fel defnyddiwr arall o fewn ffenest nythol
Comment[da]=Log ind som en anden bruger i et nyt vindue
Comment[de]=In einem verschachtelten Fenster neu anmelden
Comment[el]=Είσοδος ως διαφορετικός χρήστης μέσα σε ενσωματωμένο παράθυρο
Comment[en_CA]=Log in as another user inside a nested window
Comment[en_GB]=Log in as another user inside a nested window
Comment[es]=Iniciar sesión como otro usuario dentro de una ventana anidada
Comment[eu]=Sartu beste erabiltzaile baten moduan habiaratutako leiho batean 
Comment[fi]=Kirjaudu toisena käyttäjänä sisäkkäisestä ikkunasta
Comment[fr]=Se connecte sous une autre identité à l'intérieur d'une fenêtre imbriquée
Comment[gl]=Iniciar unha sesión como outro usuario dentro dunha fiestra aniñada
Comment[gu]=પુનરાવર્તિત વિન્ડોમાં બીજા વપરાશકર્તા તરીકે પ્રવેશ કરો
Comment[he]=התחבר כמשתמש אחר מתוך חלון מקונן
Comment[hi]=नेस्टेड विंडो के भीतर अन्य उपयोग कर्ता के रूप में लॉगइन करें
Comment[hr]=Prijavite se kao drugi korisnik unutar ugniježdenog prozora
Comment[hu]=Bejelentkezés más felhasználóként egy beültetett ablakban
Comment[id]=Login sebagai pengguna lain dalam window bersarang
Comment[it]=Permette di effettuare un nuovo login in una finestra
Comment[ja]=多重ウィンドウから別のユーザでログインします
Comment[ko]=중첩 창에서 다른 사용자로 로그인
Comment[lt]=Dirbti kitu naudotoju atskirame lange
Comment[lv]=Pieteikties kā cits lietotājs ligzdveida logā
Comment[mk]=Најави се како друг корисник во вгнезден прозорец
Comment[mn]=Хайрцагласан цонхонд өөр хэрэглэгчээр нэвтрэх
Comment[mr]=एका सुरक्षित विंडोमध्ये अन्य उपयोगकर्त्याप्रमाने प्रवेश करा
Comment[ms]=Logmasuk sebagai pengguna lain di dalam tetingkap berulang
Comment[nb]=Logg inn som en annen bruker i et nytt vindu
Comment[ne]=अर्को नेस्टेड् सञ्झ्यालको प्रयोगकर्ताको रुपमा लग-इन गर्नुहोस्।
Comment[nl]=Aanmelden als een andere gebruiker in een genest venster
Comment[nn]=Logg inn som ein annan brukar i eit anna vindauge
Comment[no]=Logg inn som en annen bruker i et nytt vindu
Comment[nso]=Tsena bjalo ka modiriši yo mongwe ka gare ga lefesetere le logagantšwego
Comment[pa]=ਝਰੋਖਿਆਂ ਦੇ ਉਪ-ਸਮੂਹ ਵਿੱਚ ਉਪਭੋਗੀ ਤੌਰ ਤੇ ਲਾਗਿੰਨ ਕਰੋ
Comment[pl]=Logowanie jako inny użytkownik w zagnieżdżonym oknie
Comment[pt]=Iniciar sessão como outro utilizador dentro de uma janela nested
Comment[pt_BR]=Iniciar uma sessão como outro usuário dentro de uma janela aninhada
Comment[ro]=Autentificare cu un alt cont în fereastră imbricată
Comment[ru]=Окно начала сеанса в качестве другого пользователя во вложенном окне
Comment[sk]=Prihlásenie ako iný používateľ vo vnorenom okne
Comment[sl]=Prijavi se kot drug uporabnik znotraj gnezdenega okna
Comment[sq]=Mundëson kryerjen e një login të ri në një dritare
Comment[sr]=Пријавите се као други корисник унутар угњежденог прозора
Comment[sr@Latn]=Prijavite se kao drugi korisnik unutar ugnježdenog prozora
Comment[sv]=Logga in som en annan användare inuti ett nästlat fönster
Comment[ta]=வலை சாலரத்தில் வேறொரு பயனராக நுழை
Comment[th]=เข้าระบบในนามผู้ใช้อื่นในหน้าต่างซ้อน
Comment[tr]=İçiçe pencerede farklı kullanıcı ile giriş
Comment[uk]=Вікно початку сеансу в якості іншого користувача у вкладеному вікні
Comment[vi]=Đăng nhập với tên người dùng khác trong một cửa sổ lồng nhau.
Comment[xh]=Ngena njengomnye umsebenzisi phakathi kwe-window ebekiweyo
Comment[zh_CN]=在嵌套的窗口中以其它用户登录
Comment[zh_TW]=在 Xnest 視窗重新登入成為另一位使用者
Comment[zu]=Ngena njengomunye umsebenzisi phakathi kwefasitela elisesidlekeni
# Given that we can set up the Xnest binary in the config file
# this is minorly evil
TryExec=Xnest
Exec=gdmflexiserver --xnest
Icon=gdm-xnest
Terminal=false
Type=Application
Categories=Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gdm
X-GNOME-Bugzilla-Component=general
