[Desktop Entry]
Encoding=UTF-8
Name=Login Photo
Name[af]=Aanmeldfoto
Name[am]=የዝምብለህ ይግባ ፎቶ
Name[ar]=صورة تسجيل الدخول
Name[az]=Giriş Rəsmi
Name[be]=Фота для GDM
Name[bg]=Снимка за влизане в системата
Name[bn]=লগিনে ব্যবহৃত ফোটো
Name[bs]=Slika za prijavu
Name[ca]=Foto d'entrada
Name[cs]=Fotka přihlášení
Name[cy]=Ffoto Mewngofnodi
Name[da]=logind-foto
Name[de]=Anmeldefoto
Name[el]=Φωτογραφία εισόδου
Name[en_CA]=Login Photo
Name[en_GB]=Login Photo
Name[es]=Foto de entrada
Name[et]=Sisselogimise foto
Name[eu]=Saio-hasierako argazkia
Name[fa]=عکس ورود به سیستم
Name[fi]=Kirjautumiskuva
Name[fr]=Photo de connexion
Name[gl]=Fotografía para o login
Name[gu]=પ્રવેશની છબી
Name[he]=תמונת התחברות
Name[hi]=लॉगइन छवि
Name[hr]=Slika za prijavu
Name[hu]=Bejelentkező fotó
Name[id]=Foto Login
Name[it]=Foto per il login
Name[ja]=ログインの写真
Name[ko]=로그인 사진
Name[ku]=Wêneya Têketinê
Name[lt]=Prisijungimo paveikslėlis
Name[lv]=Pieteikšanās Foto
Name[mk]=Слика за најавување
Name[ml]=ലോഗിന് ഫോട്ടോ
Name[mn]=Бүртгүүлэх фото зураг
Name[mr]= प्रवेश करण्याचे छायाचित्र
Name[ms]=Foto Logmasuk
Name[nb]=Påloggingsbilde
Name[ne]=फोटो लग-इन गर्नुहोस्।
Name[nl]=Aanmeldfoto
Name[nn]=Påloggingsbilete
Name[no]=Påloggingsbilde
Name[nso]=Senepe sa go Tsena
Name[pa]=ਲਾਗਿੰਨ ਫੋਟੋ
Name[pl]=Fotografia użytkownika
Name[pt]=Fotografia de Sessão
Name[pt_BR]=Foto do Navegador de Faces
Name[ro]=Imagine autentificare
Name[ru]=Регистрационная фотография
Name[sk]=Fotografia pre prihlásenie
Name[sl]=Prijavna fotografija
Name[sq]=Fotografia e login
Name[sr]=Слика за пријаву
Name[sr@Latn]=Slika za prijavu
Name[sv]=Inloggningsfoto
Name[ta]=நுழை புகைப்படம்
Name[th]=รูปภาพเข้าระบบ
Name[tr]=Giriş Fotoğrafı
Name[uk]=Фотографія входу
Name[vi]=Ảnh đăng nhập
Name[wa]=Foto d' elodjaedje
Name[xh]=iFoto yokuNgena
Name[zh_CN]=登录照片
Name[zh_TW]=登入樣貌
Name[zu]=Isithombe Sokungena
GenericName=Login Photo
GenericName[af]=Aanmeldfoto
GenericName[am]=የዝምብለህ ይግባ ፎቶ
GenericName[ar]=صورة تسجيل الدخول
GenericName[az]=Giriş Rəsmi
GenericName[be]=Фота для GDM
GenericName[bg]=Снимка за влизане в системата
GenericName[bn]=লগিনে ব্যবহৃত ফোটো
GenericName[bs]=Slika za prijavu
GenericName[ca]=Foto d'entrada
GenericName[cs]=Fotka přihlášení
GenericName[cy]=Ffoto Mewngofnodi
GenericName[da]=logind-foto
GenericName[de]=Anmeldefoto
GenericName[el]=Φωτογραφία εισόδου
GenericName[en_CA]=Login Photo
GenericName[en_GB]=Login Photo
GenericName[es]=Foto de entrada
GenericName[et]=Sisselogimise foto
GenericName[eu]=Saio-hasierako argazkia
GenericName[fa]=عکس ورود به سیستم
GenericName[fi]=Kirjautumiskuva
GenericName[fr]=Photo de connexion
GenericName[gl]=Fotografía para o login
GenericName[gu]=પ્રવેશની છબી
GenericName[he]=תמונת התחברות
GenericName[hi]=लॉगइन छवि
GenericName[hr]=Slika za prijavu
GenericName[hu]=Bejelentkező fotó
GenericName[id]=Foto Login
GenericName[it]=Foto per il login
GenericName[ja]=ログインの写真
GenericName[ko]=로그인 사진
GenericName[ku]=Wêneya Têketinê
GenericName[lt]=Prisijungimo paveikslėlis
GenericName[lv]=Pieteikšanās Foto
GenericName[mk]=Слика за најавување
GenericName[ml]=ലോഗിന് ഫോട്ടോ
GenericName[mn]=Бүртгүүлэх фото зураг
GenericName[mr]= प्रवेश करण्याचे छायाचित्र
GenericName[ms]=Foto Logmasuk
GenericName[nb]=Påloggingsbilde
GenericName[ne]=फोटो लग-इन गर्नुहोस्।
GenericName[nl]=Aanmeldfoto
GenericName[nn]=Påloggingsbilete
GenericName[no]=Påloggingsbilde
GenericName[nso]=Senepe sa go Tsena
GenericName[pa]=ਲਾਗਿੰਨ ਫੋਟੋ
GenericName[pl]=Fotografia użytkownika
GenericName[pt]=Fotografia de Sessão
GenericName[pt_BR]=Foto do Navegador de Faces
GenericName[ro]=Imagine autentificare
GenericName[ru]=Регистрационная фотография
GenericName[sk]=Fotografia pre prihlásenie
GenericName[sl]=Prijavna fotografija
GenericName[sq]=Fotografia e login
GenericName[sr]=Слика за пријаву
GenericName[sr@Latn]=Slika za prijavu
GenericName[sv]=Inloggningsfoto
GenericName[ta]=நுழை புகைப்படம்
GenericName[th]=รูปภาพเข้าระบบ
GenericName[tr]=Giriş Fotoğrafı
GenericName[uk]=Фотографія входу
GenericName[vi]=Ảnh đăng nhập
GenericName[wa]=Foto d' elodjaedje
GenericName[xh]=iFoto yokuNgena
GenericName[zh_CN]=登录照片
GenericName[zh_TW]=登入樣貌
GenericName[zu]=Isithombe Sokungena
Comment=Change the picture that will show in the GDM (login manager) face browser
Comment[af]=Verander die prent wat gewys sal word in die GDM (aanmeldingsbestuurder) oppervlakblaaier
Comment[ar]=تغيير الصورة التي ستظهر في متصفح الوجوه لـ GDM (مدير التسجيل)
Comment[az]=GDM-də göstəriləcək şəkilinizi sifət səyyahından seçin. 
Comment[be]=Дыялёг зьмены карцінкі, якая будзе адлюстраваная на праглядальніке мэнаджара ўваходу GDM
Comment[bg]=Промяна на картинката, която ще бъде показвана в лентата за лица на GDM
Comment[bn]=জি-ডি-এমে (লগিন ম্যানেজার) ফেস ব্রাউজারে যে ছবিটি প্রদর্শিত হবে তা পরিবর্তন করুন
Comment[bs]=Promijenite sliku koja se prikazuje u GDM-ovom (upravitelj prijava) biraÄŤu lica
Comment[ca]=Canvieu la imatge que apareixerà al navegador de cares del gestor d'entrada
Comment[cs]=Změnit obrázek, který bude zobrazen v prohlížeči tváří programu GDM (správci přihlášení) 
Comment[cy]=Newid y llun a wnaiff ymddangos ym mhorwr wyneb GDM (rheolydd mewngofnodi)
Comment[da]=Vælg det billede som bliver vist i logind-programmets ansigtsvælger
Comment[de]=Das Bild ändern, das im Benutzeralbum GDMs (des Anmeldemanagers) angezeigt werden soll
Comment[el]=Αλλαγή εικόνας που θα φαίνεται στο φυλλομετρητή προσώπων του GDM
Comment[en_CA]=Change the picture that will show in the GDM (login manager) face browser
Comment[en_GB]=Change the picture that will show in the GDM (login manager) face browser
Comment[es]=Cambiar la imagen que se mostrará en el visor de rostros de GDM (gestor de entrada)
Comment[et]=Sisselogimishalduri (GDM) näosirvijas näidatava pildi vahetamine
Comment[eu]=GDMren (saioa hasteko kudeatzailea) aurpegi-arakatzailean agertuko den irudia aldatzen du
Comment[fi]=Aseta kuva joka näytetään GDM:n (kirjautumisohjelman) kasvoselaimessa
Comment[fr]=Change l'image qui sera affichée dans le navigateur de figures du gestionnaire de connexions GDM
Comment[gl]=Mudar a imaxe que se mostrará no visualizador de faces do GDM (xestor de conexión)
Comment[gu]=આ ચિત્ર બદલો કે જે GDM (પ્રવેશ પ્રક્રિયા સંચાલક) ફૅસ બ્રાઉઝરમાં દર્શાવાશે
Comment[he]=שנה את התמונה שתופיע בדפדפן הפנים של GDM (מנהל ההתחברות)
Comment[hi]=छवि बदलें जो जीडीएम (लॉगइन प्रबंधक) फेस ब्राउज़र में दिखता है. 
Comment[hr]=Promijenite sliku koja se prikazuje u GDMovom (menadžeru prijava) biraču lica
Comment[hu]=A GDM (bejelentkezés-kezelő) arcképböngészőjében látható arckép megváltoztatása
Comment[id]=Ganti gambar yang akan muncul pada pemilih wajah GDM (manajer login)
Comment[it]=Seleziona l'immagine da utilizzare nel browser dei volti di GDM
Comment[ja]=GDM フェイス・ブラウザに表示する画像を変更します
Comment[ko]=GDM(로그인 관리자) 얼굴 찾아보기에서 나타나는 사진을 바꿉니다
Comment[lt]=Pakeisti paveikslėlį, kuris bus rodomas GDM (prisijungimo programos) naudotoju
Comment[lv]=Uzstādiet bildi, kura tiks parādīta GDM (pieteikumu pārvaldnieka) seju pārlūkā
Comment[mk]=Смени ја сликата што ќе биде во прегледувачот на фаци
Comment[mn]=GDM (хандалтын менежер)-ээс нүүрийн хөтчийн харуулах зургийг өөрчлөх
Comment[mr]= जीडीएम(प्रवेश व्यवस्थापक)मधील संचारकात दाखविले जाणारे चित्र बदला 
Comment[ms]=Tukar gambar yang akan dipaparkan dalam pelayar muka GDM (pengendali logmasuk)
Comment[nb]=Endre bildet som skal vises i GDM's (innloggingshåndtererens) ansiktsviser
Comment[ne]=जिडिएम(लग-इन प्रबन्धक ) फेस ब्राउजर देखाउने तस्वीर परिवर्तन गर्नुहोस्।
Comment[nl]=Kies de foto die in de gezichtenlijst van GNOME Aanmeldbeheer komt te staan
Comment[nn]=Endra biletet som vert vist i ansiktsvisaren i GDM (innloggingshandsamaren)
Comment[no]=Endre bildet som skal vises i GDM's (innloggingshåndtererens) ansiktsviser
Comment[nso]=Fetola seswantšho seo se tla bontšhago go sefetleki sa sefahlego sa GDM (molaodi wa go tsena)
Comment[pa]=ਤਸਵੀਰ ਬਦਲੋ, ਜਿਹੜੀ GDM ਚਿਹਰਾ ਝਲਕ ਵਿੱਚ ਵਿਖਾਈ ਜਾਵੇਗੀ (ਲਾਗਿੰਨ ਪ੍ਰਬੰਧਕ)
Comment[pl]=Ustawienie obrazu, który będzie wyświetlany przez GDM w przeglądarce obrazów twarzy
Comment[pt]=Alterar a imagem que será apresentada no navegador de faces GDM (gestor de sessões)
Comment[pt_BR]=Mudar a figura que será apresentada no navegador de faces do GDM (gerenciador de sessões)
Comment[ro]=Schimbaţi poza care va apărea în selectorul de feţe GDM
Comment[ru]=Диалог измения картинки, которая будет показана на доске портретов менеджера входа GDM
Comment[sk]=Nastaví obrázok, ktorý sa zobrazí v prehliadači tvárí GDM (správca displeja)
Comment[sl]=Spremeni sliko, ki se bo kazala v brskalniku obrazov GDM (GDM je upravljalnik prijav). 
Comment[sq]=Ndrysho foton që do të shfaqet në shfletuesin e faqeve të GDM (manazhuesi i login)
Comment[sr]=Промените слику која се приказује у ГДМовом (менаџеру пријава) бирачу лица
Comment[sr@Latn]=Promenite sliku koja se prikazuje u GDMovom (menadžeru prijava) biraču lica
Comment[sv]=Ändra den bild som kommer att visas i GDM:s (inloggningshanterarens) ansiktsbläddrare
Comment[ta]=புகைப்படத்தை மாற்று அது GDMமில் காண்பிக்க படும் (நுழை மேலாளர்) முக உலாவி
Comment[th]=เปลี่ยนรูปภาพที่จะใช้แสดงในหน้าต่างแสดงผู้ใช้ของ GDM (ตัวจัดการการเข้าระบบ) 
Comment[tr]=GDM (giriş yöneticisi) yüz tarayıcısında gösterilecek resmi değiştir
Comment[uk]=Встановлює зображення, що відображатиметься у переглядачі портретів GDM
Comment[vi]=Thay đổi ảnh dùng để hiển thị trong trình duyệt chân dung GDM.
Comment[wa]=Candjî l' imådje ki srè håynêye dins l' foyteuse di GDM (manaedjeu d' elodjaedje)
Comment[xh]=Tshintsha umfanekiso oyakubonisa i-GDM (umphathi wokungena) isikhangeli sobuso
Comment[zh_CN]=改变将显示在 GDM (登录管理器) 的头像浏览器中的照片
Comment[zh_TW]=更改在 GDM（登入管理員）樣貌瀏覽程式中顯示的樣貌
Comment[zu]=Shintsha isithombe esizoboniswa kuGDM (umphathi womngenisi) isiyaluzi esibonakalayo
TryExec=gdmphotosetup
Exec=gdmphotosetup
Icon=login-photo.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Settings;AdvancedSettings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gdm
X-GNOME-Bugzilla-Component=general
