[Desktop Entry]
Encoding=UTF-8
Name=Floppy Formatter
Name[ar]=مهيىء الأقراص المرنة
Name[az]=Floppy Şəkillləndiricisi
Name[be]=Фарматавальнік гнуткіх дыскаў
Name[bg]=Форматиране на дискети
Name[bn]=ফ্লপি ফরম্যাটর
Name[bs]=Formatiranje diskete
Name[ca]=Formatador de disquet
Name[cs]=Formátovač disket
Name[cy]=Fformatiwr Disg Hyblyg
Name[da]=Disketteformatering
Name[de]=Diskette formatieren
Name[el]=Μορφοποιητής Δισκέτας
Name[en_CA]=Floppy Formatter
Name[en_GB]=Floppy Formatter
Name[es]=Formateador de disquetes
Name[et]=Diskettide vormindaja
Name[eu]=Diskete-formateatzailea
Name[fa]=قالب‌بند دیسک نرم
Name[fi]=Levykkeen alustin
Name[fr]=Formateur de disquettes
Name[ga]=Cealaíodh formáid diosca flapach.
Name[gl]=Formatar o disquete
Name[gu]=ફ્લોપીને ફોર્મેટ કરનાર
Name[he]=מאתחל התקליטונים
Name[hi]=फ्लॉपी डिस्क फ़ॉर्मेटर
Name[hr]=Formatiranje disketa
Name[hu]=Floppy-formázó
Name[id]=Pemformat Disket
Name[it]=Formattazione floppy
Name[ja]=フロッピー初期化ツール
Name[ko]=플로피 포맷
Name[lt]=Diskelių formatavimas
Name[lv]=Disketes Formatētājs
Name[mk]=Форматирање на дискета
Name[mn]=А-диск форматлагч
Name[ms]=Pengformat Liut
Name[nb]=Formatering av diskett
Name[ne]=फ्लपि रुपरेखा
Name[nl]=Diskettes formatteren
Name[nn]=Diskettformaterar
Name[no]=Formatering av diskett
Name[pa]=ਫਲਾਪੀ ਫਾਰਮਿਟਰ
Name[pl]=Formater dyskietek
Name[pt]=Formatador de Disquetes
Name[pt_BR]=Formatador de Disquetes
Name[ro]=Formare dischetă
Name[ru]=Программа форматирования дискет
Name[sk]=Formátovanie diskety
Name[sl]=Formatirnik disket
Name[sq]=Formatuesi i disketave floppy
Name[sr]=Форматирање дискета
Name[sr@Latn]=Formatiranje disketa
Name[sv]=Diskettformaterare
Name[ta]=நெகிழ்வட்டு வடிவமைப்பான்
Name[th]=ฟอร์แมตแผ่นฟลอปปี้
Name[tr]=Disket Biçimlendirici
Name[uk]=Форматування дискет
Name[vi]=Bộ định dạng đĩa mềm
Name[wa]=Abwesnaedje di plaketes
Name[xh]=Isilungiseleli seFloppy
Name[zh_CN]=软盘格式化程序
Name[zh_TW]=軟碟格式化程式
Comment=Format Floppy Disks
Comment[ar]=تهيئة اﻷقراص المرنة
Comment[az]=Floppy Diskləri Şəkilləndir
Comment[be]=Фарматаваць гнуткія дыскі
Comment[bg]=Форматиране на дискети
Comment[bn]=ফ্লপি ডিস্ক ফরমেট করো
Comment[bs]=Formatiraj flopi diskove
Comment[ca]=Formata disquets
Comment[cs]=Formátování disket
Comment[cy]=Fformadu Disgiau Hyblyg
Comment[da]=Formatér disketter
Comment[de]=Disketten formatieren
Comment[el]=Μορφοποιεί Δισκέτες
Comment[en_CA]=Format Floppy Disks
Comment[en_GB]=Format Floppy Disks
Comment[es]=Formatea disquetes
Comment[et]=Vorminda diskette (flopisid)
Comment[eu]=Disketeak formateatzen ditu
Comment[fa]=قالب‌بندی دیسک‌های نرم
Comment[fi]=Alusta levykkeitä
Comment[fr]=Formate vos disquettes
Comment[ga]=Formáidigh diosca flapach
Comment[gl]=Formatador de disquetes
Comment[gu]=ફ્લોપી ડિસ્ક ફોર્મેટ કરો
Comment[he]=אתחל תקליטונים
Comment[hi]=फ्लॉपी डिस्क फ़ॉर्मेट करें
Comment[hr]=Formatiraj Floppy Diskove
Comment[hu]=Floppy lemezek formázása
Comment[id]=Format Disket
Comment[it]=Formatta i dischi floppy
Comment[ja]=フロッピーディスクをフォーマットするツールです
Comment[ko]=플로피 디스크 포맷
Comment[lt]=Diskelių formatavimo įrankis
Comment[lv]=Formatēt Disketi
Comment[mk]=Форматирање на дискови
Comment[mn]=Зөөлөн диск форматлах
Comment[ms]=Format Cakera Liut
Comment[nb]=Formater disketter
Comment[ne]=खालि फ्लपि डिस्क
Comment[nl]=Diskettes formatteren
Comment[nn]=Formatere diskettar
Comment[no]=Formater disketter
Comment[pa]=ਫਲਾਪੀ ਡਿਸਕ ਨੂੰ ਫਾਰਮਿਟ ਕਰੋ
Comment[pl]=Narzędzie do formatowania dyskietek
Comment[pt]=Formatar Disquetes
Comment[pt_BR]=Formate disquetes
Comment[ro]=Formatează o dischetă
Comment[ru]=Программа для форматирования гибких дисков
Comment[sk]=Formátuje diskety
Comment[sl]=Formatira diskete
Comment[sq]=Formaton disketat
Comment[sr]=Форматирајте дискете
Comment[sr@Latn]=Formatirajte diskete
Comment[sv]=Formatera disketter
Comment[ta]=நெகிழ்வட்டை வடிவமை
Comment[th]=ฟอร์แมตแผ่นฟลอปปี้
Comment[tr]=Disketleri Biçimlendir
Comment[uk]=Програма форматування дискет
Comment[vi]=Định dạng đĩa mềm
Comment[wa]=Abwesneye les plaketes
Comment[xh]=Lungiselela iDiski yeFloppy
Comment[zh_CN]=格式化软盘
Comment[zh_TW]=將軟碟格式化
Exec=gfloppy
Terminal=false
Icon=gnome-dev-floppy
Type=Application
StartupNotify=true
Categories=GNOME;Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gfloppy
MimeType=x-device/floppy;
