[Desktop Entry]
Name=Run as different user
Name[de]=Anwendung als anderer Benutzer ausführen
Name[fr]=Lancer avec un utilisateur différent
Name[pt_BR]=Executar como outro usuário
Comment=Opens a dialog where you can type a command to be run as a given user
Comment[de]=Anwendung als ein anderer Benutzer ausführen, falls der korrekte Befehl bekannt ist
Comment[fr]=Ouvrir un dialogue dans lequel vous pourrez entrer une commande à lancer avec l'utilisateur sélectionné
Comment[pt_BR]=Abre um diálogo em que você pode digitar um comando a ser executado por um determinado usuário
Exec=gksuexec
Icon=/usr/share/pixmaps/gksu-icon.png
StartupNotify=true
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;System

