[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Menu Editor
Name[bg]=Редактор на менюта
Name[ca]=Editor del menú
Name[cs]=Editor menu
Name[cy]=Golygydd Dewislen
Name[de]=Menüeditor
Name[el]=Επεξεργασία μενού
Name[en_CA]=Menu Editor
Name[es]=Editor del menú
Name[et]=Menüüredaktor
Name[fa]=ویرایشگر منو
Name[fi]=Valikon muokkain
Name[fr]=Éditeur de menus
Name[gl]=Editor de menú
Name[gu]=મેનુ સંપાદક
Name[hi]=मेनू संपादक
Name[hu]=Menüszerkesztő
Name[id]=Penyunting Menu
Name[ja]=メニュー・エディタ
Name[ko]=메뉴 편집기
Name[lt]=Meniu redaktorius
Name[mk]=Уредувач за менија
Name[nb]=Menyredigering
Name[nl]=Menu-editor
Name[no]=Menyredigering
Name[pa]=ਮੇਨੂ ਸੰਪਾਦਕ
Name[pl]=Edytor menu
Name[pt]=Editor de Menus
Name[pt_BR]=Editor de Menu
Name[ro]=Editor meniuri
Name[ru]=Редактор меню
Name[sk]=Editor menu
Name[sq]=Ndryshues Menuje
Name[sr]=Уређивач менија
Name[sr@Latn]=Uređivač menija
Name[th]=แก้ไขเมนู
Name[tr]=Menü Düzenleyicisi
Name[uk]=Редактор меню
Name[vi]=Bộ hiệu chỉnh trình đơn
Name[zh_CN]=菜单编辑器
Name[zh_TW]=選單編輯器
Icon=gnome-main-menu
Exec=gmenu-simple-editor
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-menus
X-GNOME-Bugzilla-Component=general
