[Desktop Entry]
Encoding=UTF-8
Name=Network Proxy
Name[af]=Netwerk instaner
Name[ar]=بروكسي الشبكة
Name[az]=Şəbəkə Vəkil Vericisi
Name[be]=Паўнамоцны паслужнік
Name[bg]=Мрежов сървър посредник
Name[bn]=নেটওয়ার্ক প্রক্সি
Name[bs]=Mrežni proxy
Name[ca]=Servidor intermediari de xarxa
Name[cs]=Proxy sítě
Name[cy]=Dirprwy Rhwydwaith
Name[da]=Netværksproxy
Name[de]=Netzwerk-Proxy
Name[el]=Διαμεσολαβητής Δικτύου
Name[en_CA]=Network Proxy
Name[en_GB]=Network Proxy
Name[es]=Proxy de la red
Name[et]=Võrgu proksi
Name[eu]=Sareko proxy-a
Name[fa]=وکیل شبکه
Name[fi]=Välipalvelin
Name[fr]=Proxy réseau
Name[ga]=Ionadóir Lín
Name[gl]=Proxy da rede
Name[gu]=નેટવર્ક પ્રોક્સી
Name[he]=מתווך רשת
Name[hi]=नेटवर्क प्रॉक्सी
Name[hr]=Mrežni proxy
Name[hu]=Hálózati proxy
Name[id]=Proksi Jaringan
Name[is]=Netsel
Name[it]=Proxy di rete
Name[ja]=ネットワークのプロキシ
Name[ko]=네트워크 프록시
Name[lt]=Tarpinis tinklo serveris
Name[mk]=Мрежен прокси
Name[mn]=Сүлжээ-итгэмжилэгч
Name[ms]=Proksi Rangkaian
Name[nb]=Nettverksproxy
Name[ne]=सनजाल प्र
Name[nl]=Netwerkproxy
Name[nn]=Mellomtenar i nettverket
Name[no]=Nettverksproxy
Name[nso]=Kemedi ya Neteweke
Name[pa]=ਨੈਟਵਰਕ ਪਰਾਕਸੀ
Name[pl]=Pośrednik sieciowy
Name[pt]=Proxy de Rede
Name[pt_BR]=Proxy da Rede
Name[ro]=Proxy reţea
Name[ru]=Сервис Прокси
Name[sk]=Sieťové proxy
Name[sl]=Omrežni posrednik
Name[sq]=Proxy i Rrjetit
Name[sr]=Мрежни посредник
Name[sr@Latn]=Mrežni posrednik
Name[sv]=Nätverksproxyserver
Name[ta]=வலையமைப்பு பிரதிநிதி.
Name[th]=พร็อกซี
Name[tr]=Ağ Vekili
Name[uk]=Служба проксі
Name[vi]=Ủy nhiệm mạng
Name[xh]=Unxibelelwano lweKhompyutha esebenza njengomqobo
Name[zh_CN]=网络代理
Name[zh_TW]=代理伺服器
Name[zu]=Proxy yokuxhumana
Comment=Set your network proxy preferences
Comment[bg]=Настройки на мрежовия сървър посредник
Comment[bn]=নেটওয়ার্ক প্রক্সি সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[ca]=Establiu les preferències del servidor intermediari de xarxa
Comment[cs]=Nastavit vaši proxy sítě
Comment[cy]=Gosod eich hoffterau dirprwy rhwydwaith
Comment[da]=Sæt dine indstillinger for netværksproxy
Comment[de]=Legen Sie hier Ihre Netzwerk-Proxy-Einstellungen fest
Comment[el]=Καθορισμός προτιμήσεων διαμεσολαβητή δικτύου
Comment[en_CA]=Set your network proxy preferences
Comment[en_GB]=Set your network proxy preferences
Comment[es]=Establezca sus preferencias del proxy de la red
Comment[et]=Võrguproksi eelistuste seadmine
Comment[eu]=Sareko proxy-aren hobespenak ezartzen ditu
Comment[fa]=ترجیحات وکیل شبکه‌تان تنظیم کنید
Comment[fi]=Muuta välityspalvelinasetuksia
Comment[fr]=Règle vos préférences de proxy réseau
Comment[gl]=Estableza as súas preferencias do proxy da rede
Comment[gu]=તમારા નેટવર્ક પ્રોક્સીની પસંદગીઓ સુયોજિત કરો
Comment[hi]=नेटवर्क प्रॉक्सी वरीयताएँ सेट करें
Comment[hu]=Hálózati proxy beállításai
Comment[id]=Atur proksi jaringan
Comment[it]=Imposta le preferenze del proxy di rete
Comment[ja]=お使いのネットワーク・プロキシを設定します
Comment[ko]=네트워크 프록시를 설정합니다
Comment[lt]=Nustatyti Jūsų tarpinio tinklo serverio nustatymams
Comment[mk]=Поставете ги вашите параметри за мрежниот proxy
Comment[nb]=Sett dine brukervalg for nettverksproxy
Comment[nl]=Netwerkproxy-voorkeuren instellen
Comment[nn]=Sett brukarval for mellomtenar i nettverket
Comment[no]=Sett dine brukervalg for nettverksproxy
Comment[pa]=ਆਪਣੀ ਨੈੱਟਵਰਕ ਪਰਾਕਸੀ ਪਸੰਦ ਦਿਓ
Comment[pl]=Konfiguruje ustawienia pośrednika sieciowego
Comment[pt]=Defina as preferências da sua proxy de rede
Comment[pt_BR]=Defina suas preferências do proxy da rede
Comment[ro]=Opţiuni proxy reţea
Comment[ru]=Диалог настройки proxy-серверов
Comment[sk]=Nastaviť predvoľby vášho sieťového proxy
Comment[sq]=Cakto preferimet e proxy-t të rrjetit tënd
Comment[sr]=Подесите поставке мрежног посредника
Comment[sr@Latn]=Podesite postavke mrežnog posrednika
Comment[sv]=Ställ in dina inställningar för nätverksproxyserver
Comment[th]=ตั้งค่าพร็อกซีของเครือข่าย
Comment[tr]=Ağ vekil tercihlerini ayarlayın
Comment[uk]=Діалог налаштовування проксі-сервера
Comment[vi]=Đặt tùy thích máy phục vụ ủy nhiệm mạng cho bạn.
Comment[xh]=Misela uluhlu lokukhetha lonxibelelwano lwekhompyutha esbenza njengomqobo
Comment[zh_CN]=设置您的网络代理首选项
Comment[zh_TW]=設定您的代理伺服器
Exec=gnome-network-preferences
Icon=stock_proxy
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=control-center
X-GNOME-Bugzilla-Component=network preferences
X-GNOME-Bugzilla-Version=2.12.1
