[Desktop Entry]
Encoding=UTF-8
Name=System Log
Name[ar]=سجلات النظام
Name[az]=Sistem Qeydi
Name[be]=Сыстэмныя часопісы
Name[bg]=Системен дневник
Name[bn]=সিস্টেম লগ
Name[bs]=Sistemski dnevnik
Name[ca]=Registre del sistema
Name[cs]=Systémový soubor záznamů
Name[cy]=Cofnod System
Name[da]=Systemlog
Name[de]=Systemprotokoll
Name[el]=Καταγραφές Συστήματος
Name[en_CA]=System Log
Name[en_GB]=System Log
Name[es]=Registro de actividad del sistema
Name[et]=Süsteemi logiraamat
Name[eu]=Sistemaren egunkaria
Name[fa]=ثبت سیستم
Name[fi]=Järjestelmäloki
Name[fr]=Visionneur de journaux système
Name[ga]=Log Corás
Name[gl]=Rexistro do sistema
Name[gu]=સિસ્ટમ લોગ
Name[he]=דו"ח מערכת
Name[hi]=तंत्र लॉग
Name[hr]=Dnevnik sustava
Name[hu]=Rendszernapló
Name[id]=Log Sistem
Name[it]=Log di sistema
Name[ja]=システム・ログ
Name[ko]=시스템 로그
Name[lt]=Sistemos žurnalas
Name[lv]=Sistēmas Žurnāls
Name[mk]=Системски лог
Name[mn]=Системын протоколл
Name[ms]=Log Sistem
Name[nb]=Systemlogg
Name[ne]=प्रबेश पद्दति
Name[nl]=Systeemlogboek
Name[nn]=Systemlogg
Name[no]=Systemlogg
Name[pa]=ਸਿਸਟਮ ਲਾਗ
Name[pl]=Dziennik systemowy
Name[pt]=Registo do Sistema
Name[pt_BR]=Log do Sistema
Name[ro]=Log sistem
Name[ru]=Системный журнал
Name[sk]=Systémové záznamy
Name[sl]=Sistemski dnevnik
Name[sq]=Log i sistemit
Name[sr]=Системски дневник
Name[sr@Latn]=Sistemski dnevnik
Name[sv]=Systemlogg
Name[ta]=அமைப்பு புகுபதிகை
Name[th]=บันทึกปฏิบัติการของระบบ
Name[tr]=Sistem Günlüğü
Name[uk]=Системний журнал
Name[vi]=Bản ghi hệ thống
Name[wa]=Djournå do sistinme
Name[xh]=Inkqubo yokuNgena
Name[zh_CN]=系统日志
Name[zh_TW]=系統日誌
Comment=View the system log file
Comment[ar]=اعرض ملف سجلات النظام
Comment[az]=Sistem qeyd faylını göstər
Comment[be]=Прагледзіць файлы сыстэмных часопісаў
Comment[bg]=Преглед на файла със системния дневник
Comment[bn]=সিস্টেম লগ ফাইল প্রদর্শন করো
Comment[bs]=Pogledaj sistemski dnevnik
Comment[ca]=Visualitza el fitxer de registre del sistema
Comment[cs]=Prohlížet systémový soubor záznamů
Comment[cy]=Gweld y ffeil cofnod system
Comment[da]=Vis systemlogfilen
Comment[de]=Die Systemprotokolldatei anzeigen
Comment[el]=Εμφάνιση του αρχείου καταγραφών συστήματος
Comment[en_CA]=View the system log file
Comment[en_GB]=View the system log file
Comment[es]=Ver el archivo de registro de actividades del sistema
Comment[et]=Vaata süsteemi logiraamatut
Comment[eu]=Ikusi sistemaren egunkari-fitxategia
Comment[fa]=نمایش پرونده ثبت وقایع سیستم
Comment[fi]=Katso järjestelmän lokitiedostoa
Comment[fr]=Affiche les journaux système
Comment[ga]=Feach an comhad log do chóras
Comment[gl]=Ver o rexistro do sistema
Comment[gu]=સિસ્ટમ લોગ ફાઇલ જુઓ
Comment[he]=ראה את קובץ דו"ח המערכת
Comment[hi]=तंत्र लॉग फ़ाइल दिखाएँ
Comment[hr]=Pogledaj sustavsku log datoteku
Comment[hu]=A rendszernapló-fájl megtekintése
Comment[id]=Lihat berkas log sistem
Comment[it]=Visualizza il file di log di sistema
Comment[ja]=システム・ログを表示します
Comment[ko]=시스템의 로그 파일을 보여줌
Comment[lt]=Peržiūrėti sistemos žurnalo bylą
Comment[lv]=Apskatīt sistēmas žurnāla failu
Comment[mk]=Прегледај ја системската лог датотека
Comment[mn]=Системын протоколлын файлыг харуулах
Comment[ms]=Lihat fail log sistem
Comment[nb]=Vis systemets loggfiler
Comment[ne]=प्रणाली लग फाइल दृष्य
Comment[nl]=Systeemlogboek bekijken
Comment[nn]=Vis systemloggfila
Comment[no]=Vis systemets loggfiler
Comment[pa]=ਸਿਸਟਮ ਲਾਗ ਫਾਇਲ ਵੇਖੋ
Comment[pl]=Wyświetla plik dziennika systemowego
Comment[pt]=Ver o ficheiro de registo de sistema
Comment[pt_BR]=Visualize o arquivo de log do sistema
Comment[ro]=Vizualizează fişierul de log sistem
Comment[ru]=Программа просмотра файлов системных журналов
Comment[sk]=Zobrazuje súbor so systémovým záznamom
Comment[sl]=Kaži datoteko sistemskega dnevnika
Comment[sq]=Shiko file e log të sistemit
Comment[sr]=Прегледајте системски дневник
Comment[sr@Latn]=Pregledajte sistemski dnevnik
Comment[sv]=Visa systemloggfilen
Comment[ta]=கணினி பதிவு கோப்புகளை பார்
Comment[th]=อ่านบันทึกปฏิบัติการของระบบ
Comment[tr]=Sistem günlük dosyasını görüntüle
Comment[uk]=Перегляд системних журналів
Comment[vi]=Xem tập tin bản ghi hệ thống
Comment[wa]=Vey li fitchî djournå do sistinme
Comment[xh]=Ukubona ifayili yenkqubo yokungena
Comment[zh_CN]=查看系统日志文件
Comment[zh_TW]=顯示系統日誌檔案
Exec=gnome-system-log
Icon=logviewer
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;System;
X-GNOME-DocPath=gnome-system-log/gnome-system-log.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=logview
