[Desktop Entry]
Encoding=UTF-8
Name=About GNOME
Name[af]=Aangaande GNOME
Name[ar]=حول جنوم
Name[az]=GNOME Haqqında
Name[be]=Пра GNOME
Name[bg]=Относно GNOME
Name[bn]=গুহ্নোম সম্পর্কে
Name[bs]=O GNOME-u
Name[ca]=Quant al GNOME
Name[cs]=O GNOME
Name[cy]=Ynghylch GNOME
Name[da]=Om Gnome
Name[de]=Info zu GNOME
Name[el]=Περί GNOME
Name[en_CA]=About GNOME
Name[en_GB]=About GNOME
Name[eo]=Pri GNOME
Name[es]=Acerca de Gnome
Name[et]=GNOME'st lähemalt
Name[eu]=GNOMEri buruz
Name[fa]=درباره‌ی گنوم
Name[fi]=Tietoja Gnomesta
Name[fr]=À propos de GNOME
Name[ga]=Faoi GNOME
Name[gl]=Acerca de GNOME
Name[gu]=જીનોમ વિશે
Name[he]=אודות GNOME
Name[hi]=गनोम के बारे में
Name[hr]=O GNOME-u
Name[hu]=A GNOME névjegye
Name[hy]=Գնոմի Մասին
Name[id]=Tentang GNOME
Name[is]=Um GNOME
Name[it]=Informazioni su GNOME
Name[ja]=GNOME について
Name[ko]=그놈 정보
Name[lt]=Apie GNOME
Name[mi]=Mo GNOME
Name[mk]=За Гном
Name[mn]=Гномын тухай
Name[ms]=Perihal GNOME
Name[nb]=Om GNOME
Name[ne]=जिनोमको बारेमा
Name[nl]=Info over GNOME
Name[nn]=Om GNOME
Name[no]=Om GNOME
Name[nso]=Mabapi le GNOME
Name[pa]=ਗਨੋਮ ਬਾਰੇ
Name[pl]=Informacje o GNOME
Name[pt]=Sobre o GNOME
Name[pt_BR]=Sobre o GNOME
Name[ro]=Despre GNOME
Name[ru]=О среде GNOME
Name[sk]=O GNOME
Name[sl]=O GNOME
Name[sq]=Informacione mbi GNOME
Name[sr]=О Гному
Name[sr@Latn]=O Gnomu
Name[sv]=Om GNOME
Name[ta]=கனோமைப் பற்றி
Name[te]=గ్నోమ్ గురించి
Name[th]=เกี่ยวกับ GNOME
Name[tk]=GNOME barada
Name[tr]=GNOME Hakkında
Name[ug]=GNOME ھەققىدە
Name[uk]=Про GNOME
Name[vi]=Giới thiệu GNOME
Name[wa]=Å dfait di GNOME
Name[xh]=Malunga ne-GNOME
Name[yo]=Nípa GNOME
Name[zh_CN]=关于 GNOME
Name[zh_TW]=關於 GNOME
Name[zu]=Nge GNOME
Comment=Know more about GNOME
Comment[be]=Даведайцеся больш пра GNOME
Comment[bg]=Научете повече за GNOME
Comment[bn]=গুহ্নোম সম্পর্কে আরও জানুন
Comment[ca]=Descobriu més coses sobre el GNOME
Comment[cs]=Poznejte více o GNOME
Comment[cy]=Dysgu mwy am GNOME
Comment[da]=Lær mere om Gnome
Comment[de]=Mehr über GNOME erfahren
Comment[el]=Μάθετε περισσότερα για το GNOME
Comment[en_CA]=Know more about GNOME
Comment[en_GB]=Know more about GNOME
Comment[es]=Sepa más acerca de Gnome
Comment[et]=Rohkem teadmisi GNOME'i kohta
Comment[eu]=Gehiago jakin GNOMEri buruz
Comment[fi]=Lisää tietoa Gnomesta
Comment[fr]=En savoir plus à propos de GNOME
Comment[gl]=Saber máis acerca de GNOME
Comment[gu]=જીનોમ વિશે વધુ જાણો
Comment[he]=דע יותר אודות GNOME
Comment[hi]=गनोम के बारे में ज्यादा जानें
Comment[hu]=Tudjon meg többet a GNOME-ról
Comment[hy]=Գնոմի մասին մի փոքր ավելի
Comment[id]=Lebih jauh tentang GNOME
Comment[it]=Conosci meglio GNOME
Comment[ja]=もっと GNOME について知るには？
Comment[ko]=그놈을 좀 더 알고 싶을 때
Comment[lt]=Sužinokite daugiau apie GNOME
Comment[mk]=Дознајте повеќе за Гном
Comment[nb]=Finn ut mer om GNOME
Comment[nl]=Meer te weten komen over GNOME
Comment[nn]=Finn ut meir om GNOME
Comment[no]=Finn ut mer om GNOME
Comment[pa]=ਗਨੋਮ ਬਾਰੇ ਹੋਰ ਜਾਣਕਾਰੀ ਲਵੋ
Comment[pl]=Więcej informacji o GNOME
Comment[pt]=Saiba mais sobre o GNOME
Comment[pt_BR]=Saiba mais sobre o GNOME
Comment[ro]=Descoperiţi mai multe despre GNOME
Comment[ru]=Узнать больше о GNOME
Comment[sk]=Vedieť viac o GNOME
Comment[sq]=Informohu më tepër mbi GNOME
Comment[sr]=Сазнајте више о Гному
Comment[sr@Latn]=Saznajte više o Gnomu
Comment[sv]=Lär dig mer om GNOME
Comment[th]=ข้อมูลเพิ่มเติมเกี่ยวกับ GNOME
Comment[tr]=GNOME hakkında daha fazla şey bilin
Comment[ug]=GNOME ھەققىدە تېخمۇ كۆپ بىلمەكچى بولسىڭىز
Comment[uk]=Інформація про GNOME
Comment[vi]=Xem thông tin thêm về GNOME
Comment[xh]=Yazi banzi nge-GNOME
Comment[zh_CN]=关于 GNOME 的更多内容
Comment[zh_TW]=知道更多有關 GNOME
Exec=gnome-about
Icon=/usr/share/pixmaps/gnome-logo-icon-transparent.png
Terminal=false
Type=Application
DocPath=
Categories=GNOME;Application;Core;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-desktop
X-GNOME-Bugzilla-Component=gnome-about
X-GNOME-Bugzilla-Version=2.12.1
StartupNotify=true
