[Desktop Entry]
Encoding=UTF-8
Name=Bluetooth Manager
Name[bg]=Bluetooth управление
Name[cs]=Správce Bluetooth
Name[de]=Bluetooth-Verwaltung
Name[en_CA]=Bluetooth Manager
Name[en_GB]=Bluetooth Manager
Name[es]=Administrador Bluetooth
Name[fr]=Gestionnaire Bluetooth
Name[gl]=Administrador Bluetooth
Name[hu]=Bluetooth kezelő
Name[it]=Gestore Bluetooth
Name[ja]=Bluetooth マネージャ
Name[nb]=Håndtering av Bluetooth
Name[ne]=ब्लुटुथ प्रबन्धक
Name[nl]=Bluetooth-beheer
Name[no]=Håndtering av Bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ ਪ੍ਰਬੰਧਕ
Name[pt]=Gestor Bluetooth
Name[pt_BR]=Gerenciador Bluetooth
Name[ru]=Менеджер устройств Bluetooth
Name[sv]=Bluetooth-hanterare
Name[uk]=Менеджер Bluetooth
Name[zh_CN]=蓝牙管理器
Comment=Display Bluetooth devices and their properties
Comment[bg]=Показване на Bluetooth устройства и техните възможности
Comment[cs]=Zobrazit zařízení Bluetooth a jejich vlastnosti
Comment[de]=Bluetooth-Geräte und ihre Eigenschaften anzeigen
Comment[en_CA]=Display Bluetooth devices and their properties
Comment[en_GB]=Display Bluetooth devices and their properties
Comment[es]=Mostrar los dispositivos Bluetooth y sus propiedades
Comment[fr]=Affiche les périphériques Bluetooth et leur propriétés
Comment[gl]=Mostrar os dispositivos Bluetooth e as súas propiedades
Comment[hu]=Bluetooth eszközök és tulajdonságaik megjelenítése
Comment[it]=Mostra i dispositivi Bluetooth e le loro proprietà
Comment[ja]=Bluetooth デバイスとそのプロパティを表示します
Comment[nb]=Vis Bluetooth-enheter og deres egenskaper
Comment[ne]=ब्लुटुथ साधनहरू र तिनिहरूको गुणहरू प्रदर्शन गर्नुहोस्।
Comment[nl]=Bluetooth-apparaten en hun eigenschappen weergeven
Comment[no]=Vis Bluetooth-enheter og deres egenskaper
Comment[pt]=Apresentar dispositivos Bluetooth e suas propriedades
Comment[pt_BR]=Exibir dispositivos Bluetooth e suas propriedades
Comment[ru]=Показывает устройства Bluetooth и их свойства
Comment[sv]=Visa Bluetooth-enheter och deras egenskaper
Comment[uk]=Відображення пристроїв Bluetooth та їх властивостей
Comment[zh_CN]=显示蓝牙设备及其属性
Icon=../gnome-bluetooth/pixmaps/blueradio-48.png
Exec=gnome-bluetooth-manager
Terminal=0
Type=Application
Categories=Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=admin-tools
