[Desktop Entry]
Encoding=UTF-8
Name=Volume Control
Name[ar]=متحكم شدة الصوت
Name[az]=Səs İdarəsi
Name[be]=Кіраваньне гучнасьцю
Name[bg]=Сила на звука
Name[bn]=শব্দের মাত্রা নিয়ন্ত্রণকারী
Name[bs]=Kontrola zvuka
Name[ca]=Control del volum
Name[cs]=Ovládání hlasitosti
Name[cy]=Rheolydd Lefel Sain
Name[da]=Lydstyrkekontrol
Name[de]=Lautstärkeregler
Name[el]=Έλεγχος Έντασης Ήχου
Name[en_CA]=Volume Control
Name[en_GB]=Volume Control
Name[es]=Control de volumen
Name[et]=Helitugevuse juhtija
Name[eu]=Bolumen-kontrola
Name[fa]=کنترل بلندی صدا
Name[fi]=Äänenhallinta
Name[fr]=Contrôleur de volume
Name[gl]=Control de volume
Name[gu]=અવાજનું પ્રમાણ નિયંત્રક
Name[he]=בקרת עוצמה
Name[hi]=आवाज निर्धारक नियंत्रक
Name[hr]=Kontrola glasnoće
Name[hu]=Hangerőszabályozó
Name[id]=Pengatur Volume
Name[it]=Controllo volume
Name[ja]=音量コントロール
Name[ko]=볼륨 조정
Name[lt]=Garso valdymas
Name[lv]=Skaļuma Kontrole
Name[mk]=Поставување на јачина на звукот
Name[ml]=ശബ്ദം ക്രമീകാരി
Name[mn]=Дууны хянагч
Name[ms]=Kawalan Volum
Name[nb]=Volumkontroll
Name[ne]=ध्वनि नियन्त्रक
Name[nl]=Volumeregeling
Name[nn]=Volumkontroll
Name[no]=Volumkontroll
Name[pa]=ਆਵਾਜ਼ ਕੰਟਰੋਲ
Name[pl]=Regulacja głośności
Name[pt]=Controlo de Volume
Name[pt_BR]=Controle de Volume
Name[ro]=Control volum
Name[ru]=Управление громкостью
Name[sk]=Nastavenie hlasitosti
Name[sl]=Kontrola glasnosti
Name[sq]=Kontrolli i Volumit
Name[sr]=Управљање јачином звука
Name[sr@Latn]=Upravljanje jačinom zvuka
Name[sv]=Volymkontroll
Name[ta]=ஒலிவளவு கட்டுப்பாடு
Name[th]=ควบคุมระดับเสียง
Name[tk]=Hejim Kontroli
Name[tr]=Ses Kontrolü
Name[uk]=Регулятор гучності
Name[vi]=Điều khiển âm lượng
Name[wa]=Contrôle do volume
Name[xh]=Ulawulo lweSandi
Name[zh_CN]=音量控制
Name[zh_TW]=音量控制
Comment=Adjust the volume level
Comment[ar]=احكام مستوى شدة الصوت
Comment[az]=Səs səviyyəni dəyişdir
Comment[be]=Усталяваць гучнасьць
Comment[bg]=Нагласяване на силата на звука
Comment[bn]=শব্দের মাত্রা ঠিক করুন
Comment[bs]=Prilagodi jačinu zvuka
Comment[ca]=Ajusta el nivell del volum
Comment[cs]=Upravit úroveň hlasitosti
Comment[cy]=Addasu'r lefel sain
Comment[da]=Justér lydstyrken
Comment[de]=Den Lautstärkepegel anpassen
Comment[el]=Ρύθμιση επιπέδου έντασης
Comment[en_CA]=Adjust the volume level
Comment[en_GB]=Adjust the volume level
Comment[es]=Ajustar nivel de volumen
Comment[et]=Muuda helitugevust
Comment[eu]=Doitu bolumen-maila
Comment[fa]=تنظیم بلندی صدا
Comment[fi]=Säädä äänenvoimakkuutta
Comment[fr]=Ajuste le niveau du volume sonore
Comment[gl]=Axustar nivel de volume
Comment[gu]=અવાજનું પ્રમાણને નિયંત્રિત કરો
Comment[he]=קבע את רמת העוצמה
Comment[hi]=आवाज़ स्तर निर्धारित करें
Comment[hr]=Prilagodi jačinu zvuka
Comment[hu]=Hangerő beállítása
Comment[id]=Setel besarnya volume
Comment[it]=Regola il livello del volume
Comment[ja]=音量レベルを調整します
Comment[ko]=볼륨 단계를 조절합니다
Comment[lt]=Nustatyti garsumo lygį
Comment[lv]=Noregulēt skaļuma līmeni
Comment[mk]=Постави ја јачината на звукот
Comment[mn]=Дууны түвшиг тохируулах
Comment[ms]=Ubahsuai aras volum
Comment[nb]=Juster volumets nivå
Comment[ne]=यो ध्वनिको मात्रा मिलाउनुहोस्
Comment[nl]=Geluidsniveau aanpassen
Comment[nn]=Justér·volumnivået
Comment[no]=Juster volumets nivå
Comment[pa]=ਆਵਾਜ਼ ਪੱਧਰ ਨਿਰਧਾਰਨ
Comment[pl]=Dostrojenie poziomu głośności
Comment[pt]=Ajustar o nível de volume
Comment[pt_BR]=Ajuste o nível do volume
Comment[ro]=Ajustează nivelul volumului
Comment[ru]=Программа подстройки громкости звука
Comment[sk]=Upraviť hlasitosť
Comment[sl]=Prilagodi nivo glasnosti
Comment[sq]=Rregullo nivelin e volumit
Comment[sr]=Прилагоди јачину звука
Comment[sr@Latn]=Prilagodi jačinu zvuka
Comment[sv]=Justera nivån på volymen
Comment[ta]=ஒலியளவுகளின்  
Comment[th]=ปรับระดับเสียง
Comment[tk]=Hejim derejesini tenzim et
Comment[tr]=Ses seviyesini ayarla
Comment[uk]=Налаштовування гучності
Comment[vi]=Điều chỉnh mức âm lượng
Comment[wa]=Apontyî l' livea do volume
Comment[xh]=Lungisa ukuphakama kwesandi
Comment[zh_CN]=调整音量
Comment[zh_TW]=調整音量
Exec=gnome-volume-control
Icon=gnome-mixer.png
StartupNotify=true
X-Info=Gnome Mixer
Terminal=false
Type=Application
Categories=Application;AudioVideo;X-Ximian-Main;X-Red-Hat-Base;
X-GNOME-DocPath=gst-mixer/gnome-volume-control.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=gnome-volume-control
