[Desktop Entry]
Encoding=UTF-8
Name=About Me
Name[bg]=За мен
Name[bn]=আমার পরিচিতি
Name[ca]=Quant a mi
Name[cs]=O mně
Name[cy]=Amdana I
Name[de]=Persönliche Angaben
Name[el]=Προσωπικά
Name[en_CA]=About Me
Name[es]=Acerca de mí
Name[et]=Minust
Name[eu]=Honi buruz
Name[fi]=Tietoja itsestä
Name[fr]=À propos de moi
Name[gl]=Acerca de mín
Name[gu]=મારા વિશે
Name[he]=אודות עצמי
Name[hi]=के बारे में
Name[hu]=A névjegyem
Name[id]=Informasi Pribadi
Name[ja]=個人情報
Name[ko]=내 정보
Name[lt]=Apie mane
Name[mk]=За мене
Name[nb]=Om meg
Name[nl]=Over mij
Name[nn]=Om meg
Name[no]=Om meg
Name[pa]=ਮੇਰੇ ਬਾਰੇ
Name[pl]=O mnie
Name[pt]=Sobre Mim
Name[pt_BR]=Sobre Mim
Name[ro]=Despre mine
Name[ru]=Обо мне
Name[sk]=O mne
Name[sq]=Rreth Meje
Name[sr]=О мени
Name[sr@Latn]=O meni
Name[th]=เกี่ยวกับฉัน
Name[tr]=Benim Hakkımda
Name[uk]=Про мене
Name[vi]=Giới thiệu tôi
Name[xh]=Malunga Nam
Name[zh_CN]=关于我
Name[zh_TW]=關於自己
Comment=Set your personal information
Comment[bg]=Настройване на личната Ви информация
Comment[bn]=আপনার ব্যক্তিগত তথ্য লিখুন
Comment[ca]=Establiu la vostra informació personal
Comment[cs]=Nastavte své osobní informace
Comment[cy]=Gosodwch eich gwybodaeth bersonol
Comment[de]=Stellen Sie hier Ihre persönlichen Informationen ein
Comment[el]=Καθορισμός των προσωπικών σας στοιχείων
Comment[en_CA]=Set your personal information
Comment[es]=Ponga su información personal
Comment[et]=Enda andmete määramine
Comment[eu]=Ezarri zure datu pertsonalak
Comment[fi]=Aseta omat tiedot
Comment[fr]=Définit vos informations personnelles
Comment[gl]=Poña súa información persoal
Comment[gu]=તમારી ખાનગી જાણકારી સુયોજિત કરો
Comment[he]=ערוך את המידע האישי שלך
Comment[hi]=निजी सूचना सेट करें
Comment[hu]=Személyes információk beállítása
Comment[id]=Masukkan informasi pribadi Anda
Comment[ja]=自分の情報を管理します
Comment[ko]=개인 정보를 설정합니다
Comment[lt]=Nurodyti asmeninę informaciją
Comment[mk]=Поставете лични информации
Comment[nb]=Oppgi din personlige informasjon
Comment[nl]=Persoonlijk informatie instellen
Comment[no]=Oppgi din personlige informasjon
Comment[pa]=ਆਪਣੀ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਦਿਓ
Comment[pl]=Ustawia informacje osobiste
Comment[pt]=Definir a sua informação pessoal
Comment[pt_BR]=Definir suas informações pessoais
Comment[ro]=Setaţi-vă informaţiile personale
Comment[ru]=Ваша персональные данные
Comment[sk]=Nastaviť vaše osobné informácie
Comment[sq]=Cakto të dhënat e tua personale
Comment[sr]=Поставите ваше личне податке
Comment[sr@Latn]=Postavite vaše lične podatke
Comment[sv]=Ställ in din personliga information
Comment[th]=ตั้งค่าข้อมูลเกี่ยวกับตัวคุณ
Comment[tr]=Kişisel bilgilerinizi ayarlayın
Comment[uk]=Встановлення персональної інформації
Comment[vi]=Lập thông tin cá nhân
Comment[zh_CN]=设定您的个人信息
Comment[zh_TW]=設定您的個人資訊
Exec=gnome-about-me
Icon=user-info
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=control-center
X-GNOME-Bugzilla-Component=about-me
X-GNOME-Bugzilla-Version=2.12.1
