[Desktop Entry]
Encoding=UTF-8
Name=System Monitor
Name[ar]=مراقب النّظام
Name[az]=Sistem İzləyicisi
Name[be]=Сыстэмны манітор
Name[bg]=Наблюдение на системата
Name[bn]=সিস্টেম মনিটর
Name[bs]=Nadzor sistema
Name[ca]=Monitor del sistema
Name[cs]=Sledování systému
Name[cy]=Monitor System
Name[da]=Systemovervågning
Name[de]=Systemüberwachung
Name[el]=Παρακολούθηση Συστήματος
Name[en_CA]=System Monitor
Name[en_GB]=System Monitor
Name[es]=Monitor del sistema
Name[et]=Süsteemijälgija
Name[eu]=Sistemako monitorea
Name[fi]=Järjestelmän valvonta
Name[fr]=Moniteur système
Name[ga]=Monatóir Corais
Name[gl]=Monitor do sistema
Name[gu]=સિસ્ટમ મૉનીટર
Name[he]=צג מערכת
Name[hi]=तंत्र मॉनीटर
Name[hr]=Stanje baterija
Name[hu]=Rendszerfigyelő
Name[id]=Monitor Sistem
Name[it]=Monitor di sistema
Name[ja]=システム・モニタ
Name[ko]=시스템 감시
Name[li]=Prosesbeheer
Name[lt]=Sistemos monitorius
Name[lv]=Sistēmas Monitors
Name[mk]=Надгледувач на системот
Name[ml]=വ്യ‍ൂഹ നിരീക്ഷണി
Name[mn]=Системийн монитор
Name[ms]=Monitor Sistem
Name[nb]=Systemmonitor
Name[ne]=प्रणाली प्रगतिमापन यन्त्र
Name[nl]=Procesbeheer
Name[no]=Systemmonitor
Name[pa]=ਸਿਸਟਮ ਨਿਗਰਾਨ
Name[pl]=Monitor systemu
Name[pt]=Monitor de Sistema
Name[pt_BR]=Monitor do Sistema
Name[ro]=Monitorizare sistem
Name[ru]=Системный монитор
Name[sk]=Monitor systému
Name[sl]=Sistemski nadzornik
Name[sq]=Monitori i sistemit
Name[sr]=Праћење система
Name[sr@Latn]=Praćenje sistema
Name[sv]=Systemövervakare
Name[ta]=அமைப்புக் கண்காணி
Name[th]=ติดตามทรัพยากรระบบ
Name[tr]=Sistem Gözlemcisi
Name[ug]=سېستىمىنى كۈزىتىش
Name[uk]=Системний монітор
Name[vi]=Bộ theo dõi hệ thống
Name[zh_CN]=系统监视器
Name[zh_TW]=系統監控
Comment=View current processes and monitor system state
Comment[ar]=عرض العمليات الحالية و مراقبة حالة النظام
Comment[az]=Hazırda baş verən gedişatları göstər və sistemin vəziyyətinə nəzarət et
Comment[be]=Прагледзіць бягучыя працэсы й пракантраляваць сыстэму
Comment[bg]=Показване на текущите процеси и следене на системното състояние
Comment[bn]=চলতি ক্রিয়ার (প্রসেসের) তালিকা দেখুন আর সিস্টেমের অবস্থার উপর নজর রাখুন
Comment[bs]=Pregled trenutnih procesa i nadzor stanja sistema
Comment[ca]=Visualitza els processos actuals i monitoritza l'estat del sistema
Comment[cs]=Zobrazit aktuální procesy a sledovat stav systému
Comment[cy]=Gweld prosesau cyfredol a monitro cyflwr y system
Comment[da]=Vis aktive processer og overvåg systemstatus
Comment[de]=Momentan laufende Prozesse betrachten und den Systemzustand überwachen
Comment[el]=Προβολή τρεχουσών διεργασιών και παρακολούθηση κατάστασης συστήματος
Comment[en_CA]=View current processes and monitor system state
Comment[en_GB]=View current processes and monitor system state
Comment[es]=Ver los procesos actuales y monitorizar el estado del sistema
Comment[et]=Süsteemi oleku ja protsesside jälgimiseks
Comment[eu]=Ikusi uneko prozesuak eta monitorizatu sistemako egoera
Comment[fi]=Katsele aktiivisia prosesseja ja valvo järjestelmän tilaa
Comment[fr]=Affiche les processus en cours et surveille l'état du système
Comment[gl]=Ver procesos actuais e estado do monitor do sistema
Comment[gu]=વર્તમાન પ્રક્રિયાને જુઓ અને સિસ્ટમની સ્થિતિનું ધ્યાન રાખો
Comment[he]=מראה את התהליכים ומציג את מצב המערכת
Comment[hi]=वर्तमान प्रक्रिया दिखाता है और तंत्र अवस्था मॉनीटर करता है
Comment[hr]=Pregled trenutnih procesa i nadzor stanja sustava
Comment[hu]=A jelenlegi folyamatok megtekintése és a rendszerállapot figyelése
Comment[id]=Lihat proses yang ada dan monitor kondisi sistem
Comment[it]=Mostra i processi correnti e controlla lo stato del sistema
Comment[ja]=現在のプロセスを表示して、システム状況を監視します
Comment[ko]=현제 프로세스와 감시기 시스템 상태를 봅니다
Comment[li]=Tuin huijig proses en bekiek systeemtoesjtandj
Comment[lt]=Parodo paleistus procesus ir sistemos būklę
Comment[lv]=Skatīt pašreizējos procesus un monitorēt sistēmas stāvokli
Comment[mk]=Погледни ги моментално активните процеси и состојбата на системот
Comment[mn]=Идэвхитэй процессуудыг харах ба системын төлвийг шалгах
Comment[ms]=Lihat proses semasa dan monitor keadaan sistem
Comment[nb]=Vis aktive prosesser og overvåk systemets tilstand
Comment[ne]=हालको प्रक्रियाहरु हेर्नुहोस् र प्रणालीको स्थिति निगरानी गर्नुहोस्
Comment[nl]=Toon de huidige processen en systeemtoestand
Comment[no]=Vis aktive prosesser og overvåk systemets tilstand
Comment[pa]=ਮੌਜੂਦਾ ਕਾਰਜ ਵੇਖੋ ਅਤੇ ਸਿਸਟਮ ਹਾਲਤ ਦੀ ਨਿਗਰਾਨੀ ਕਰੋ
Comment[pl]=Wyświetla istniejące procesy i monitoruje stan systemu
Comment[pt]=Ver processos actuais e monitorizar o estado do sistema
Comment[pt_BR]=Exibe os processos atuais e monitora o estado do sistema
Comment[ro]=Arată procesele curente şi monitorizează starea sistemului
Comment[ru]=Программа для просмотра текущих процессов и мониторинга состояния системы
Comment[sk]=Zobrazuje aktuálne procesy a monitoruje stav systému
Comment[sl]=Glej trenutne procese in nadzoruj stanje sistema
Comment[sq]=Shfaq proçeset aktualë dhe monitoron gjëndjen e sistemit
Comment[sr]=Преглед текућих процеса и праћење стања система
Comment[sr@Latn]=Pregled tekućih procesa i praćenje stanja sistema
Comment[sv]=Visa aktuella processer och övervaka systemtillståndet
Comment[ta]=தற்போதைய செயல் மற்றும் கணினியின் நிலையை பார்க்கவும்
Comment[th]=แสดงโพรเซสปัจจุบันและติดตามสถานะของระบบ
Comment[tr]=Çalışan süreçleri ve sistem durumunu gösterir
Comment[uk]=Перегляд поточних процесів та контроль стану системи
Comment[vi]=Xem các tiến trình hiện thời và theo dõi tình trạng hệ thống
Comment[zh_CN]=查看当前进程及监视系统状态
Comment[zh_TW]=顯示目前的程序並監控系統的狀態
TryExec=gnome-system-monitor
Exec=gnome-system-monitor
Icon=gnome-monitor
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=system-monitor
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.12.1
