[Desktop Entry]
Encoding=UTF-8
Name=Keyring Manager
Name[bg]=Управител на набори ключове
Name[bn]=Keyring Manager
Name[ca]=Gestor de l'anell de claus
Name[cs]=Správce klíčenek
Name[da]=Nøgleringhåndtering
Name[de]=Schlüsselbund verwalten
Name[el]=Διαχείριση κωδικών
Name[en_CA]=Keyring Manager
Name[en_GB]=Keyring Manager
Name[es]=Administrador de anillos de claves
Name[et]=Võtmerõnga haldur
Name[fa]=مدیر دسته‌کلید
Name[fi]=Avainnippujen hallinta
Name[fr]=Gestionnaire de trousseaux
Name[gl]=Xestor de anels de claves
Name[gu]=કીરીંગ વ્યવસ્થાપક
Name[hi]=कीरिंग प्रबंधक
Name[hu]=Kulcstartókezelő
Name[it]=Gestore portachiavi
Name[ja]=キーリング・マネージャ
Name[ko]=키링 관리자
Name[lt]=Raktų rinkinio tvarkyklė
Name[nb]=Nøkkelringhåndterer
Name[ne]=किरिङ् प्रबन्धक
Name[nl]=Sleutelbos-beheer
Name[no]=Nøkkelringhåndterer
Name[pa]=ਕੀਰਿੰਗ ਮੈਨੇਜਰ
Name[pl]=Menedżer bazy kluczy
Name[pt]=Gestor de Chaveiros
Name[pt_BR]=Gerenciador de Chaveiros
Name[ro]=Manager pentru keyring
Name[ru]=Управление брелоками
Name[sk]=Správca zväzku kľúčov
Name[sq]=Organizuesi i Fjalëkalimeve
Name[sr]=Управник за привезак за кључеве
Name[sr@Latn]=Upravnik za privezak za ključeve
Name[sv]=Nyckelringshanterare
Name[th]=จัดการพวงกุญแจ
Name[tr]=Anahtarlık Yöneticisi
Name[uk]=Менеджер ключів
Name[zh_CN]=密钥环管理器
Name[zh_TW]=鑰匙圈管理員
Comment=Manage your keyrings
Comment[bg]=Управление на вашите набори ключове
Comment[bn]=আপনার keyrings নিয়ন্ত্রন করুন
Comment[ca]=Gestioneu el vostre anell de claus
Comment[cs]=Spravovat vaše klíčenky
Comment[da]=Håndtér dine nøgleringe
Comment[de]=Verwalten Sie Ihre Schlüsselbunde
Comment[el]=Διαχείριση των κωδικών σας
Comment[en_CA]=Manage your keyrings
Comment[en_GB]=Manage your keyrings
Comment[es]=Administre sus anillos de claves
Comment[et]=Sinu võtmerõngaste haldamine
Comment[fa]=دسته‌کلیدهای خود را مدیریت کنید
Comment[fi]=Hallitse omia avainnippujasi
Comment[fr]=Gère vos trousseaux
Comment[gl]=Administre seus anels de claves
Comment[gu]=તમારી કીરીંગની વ્યવસ્થા કરો
Comment[hi]=अपना कीरिंग प्रबंधित करें
Comment[hu]=Kulcstartók kezelése
Comment[it]=Gestisce i tuoi portachiavi
Comment[ja]=お使いのキーリングを管理します
Comment[ko]=키링을 관리합니다
Comment[lt]=Tvarkyti Jūsų raktų rinkiniui
Comment[nb]=Håndter dine nøkkelringer
Comment[ne]=तपाईँका किरिङ्हरू व्यवस्थापन गर्नुहोस्
Comment[nl]=Uw sleutelbossen (keyrings) beheren
Comment[no]=Håndter dine nøkkelringer
Comment[pa]=ਆਪਣੀ ਕੀਰਿੰਗ ਸੰਭਾਲੋ
Comment[pl]=Zarządza bazą kluczy
Comment[pt]=Efectue a gestão dos seus chaveiros
Comment[pt_BR]=Gerencie seus chaveiros
Comment[ro]=Gestionează keyring-urile dumneavoastră
Comment[ru]=Управление ключами к зашифрованной информации
Comment[sk]=Spravovať vaše zväzky kľúčov
Comment[sq]=Organizo fjalëkalimet
Comment[sr]=Управља вашим привесцима за кључеве
Comment[sr@Latn]=Upravlja vašim privescima za ključeve
Comment[sv]=Hantera dina nyckelringar
Comment[th]=จัดการพวงกุญแจของคุณ
Comment[tr]=Anahtarlıklarınızı yönetin
Comment[uk]=Керує вашими в'язками ключів
Comment[zh_CN]=管理您的密钥环
Comment[zh_TW]=管理您的鑰匙圈
Exec=gnome-keyring-manager
Terminal=false
Type=Application
Icon=stock_keyring
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-keyring-manager
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.12.0
Categories=GNOME;Application;System;Utility;
