[Desktop Entry]
Encoding=UTF-8
Name=PDF Viewer
Name[af]=PDF-bekyker
Name[ar]=عارض PDF
Name[az]=PDF Nümayişçisi
Name[be]=Праглядальнік PDF
Name[bn]=পি-ডি-এফ ফাইল প্রদর্শক
Name[bs]=PDF preglednik
Name[ca]=Visualitzador de PDF
Name[cs]=Prohlížeč PDF
Name[cy]=Gwelydd PDF
Name[da]=PDF-fremviser
Name[de]=PDF-Ansicht
Name[el]=Εφαρμογή Προβολής PDF
Name[en_CA]=PDF Viewer
Name[en_GB]=PDF Viewer
Name[es]=Visor PDF
Name[et]=PDF'i vaataja
Name[eu]=PDF ikustailea
Name[fa]=نمایشگر PDF
Name[fi]=PDF-katselin
Name[fr]=Visionneur de fichiers PDF
Name[gl]=Visor PDF
Name[gu]=PDF દેખાડનાર
Name[he]=מציג PDF ל־GNOME
Name[hi]=पीडीएफ़ प्रदर्शक
Name[hr]=Preglednik PDF-a
Name[hu]=PDF-néző
Name[id]=Penampil PDF
Name[it]=Visualizzatore PDF
Name[ja]=PDF ビュワー
Name[ko]=PDF 보기
Name[lt]=PDF žiūryklė
Name[mn]=PDF харагч
Name[ms]=Pelihat PDF
Name[nb]=PDF-leser
Name[ne]=पिडियफ दृष्टा
Name[nl]=PDF-weergave
Name[nn]=PDF-lesar
Name[no]=PDF-leser
Name[or]=ପି.ଡି.ଏଫ. ପ୍ରଦର୍ଶକ
Name[pa]=PDF ਦਰਸ਼ਕ
Name[pl]=Przeglądarka plików PDF
Name[pt]=Visualizador de PDF
Name[pt_BR]=Visualizador de PDF
Name[ro]=Vizualizator PDF
Name[ru]=Программа просмотра PDF
Name[sk]=Prehliadač PDF
Name[sl]=PDF pregledovalnik
Name[sq]=Shikuesi i PDF
Name[sr]=Прегледач ПДФ-а
Name[sr@Latn]=Pregledač PDF-a
Name[sv]=PDF-visare
Name[ta]=PDF காட்டி
Name[th]=ตัวอ่าน PDF
Name[tr]=PDF Görüntüleyici
Name[uk]=Перегляд файлів PDF
Name[zh_CN]=PDF 阅读器
Name[zh_TW]=PDF 瀏覽程式
Comment=View PDF files
Comment[af]=Bekyk PDF-lêers
Comment[ar]=عرض ملفات PDF
Comment[az]=PDF fayllarını açın
Comment[be]=Прагляд файлаў PDF
Comment[bn]=পি-ডি-এফ ফাইল দেখুন
Comment[bs]=Pregledaj PDF datoteke
Comment[ca]=Visualitza fitxers PDF
Comment[cs]=Zobrazit soubory PDF
Comment[cy]=Dangos ffeiliau PDF
Comment[da]=Vis PDF-filer
Comment[de]=PDF-Dateien anzeigen
Comment[el]=Εμφάνιση Αρχείων PDF
Comment[en_CA]=View PDF files
Comment[en_GB]=View PDF files
Comment[es]=Ver archivos PDF
Comment[et]=PDF failide vaatlemine
Comment[eu]=Ikusi PDF fitxategiak
Comment[fa]=نمایش پرونده‌های PDF
Comment[fi]=Katsele PDF-tiedostoja
Comment[fr]=Affiche vos fichiers PDF (Portable Document Format)
Comment[gl]=Visor de ficheiros PDF
Comment[gu]=PDF ફાઈલો જુઓ
Comment[he]=הצג קבצי PDF
Comment[hi]=पीडीएफ़ फ़ाइलें देखें
Comment[hr]=Pregled PDF datoteka
Comment[hu]=PDF-fájlok megtekintése
Comment[id]=Tampilkan berkas PDF
Comment[it]=Visualizza i file PDF
Comment[ja]=PDF ファイルを表示します
Comment[ko]=PDF 파일 보기
Comment[lt]=Žiūrėti PDF bylas
Comment[mn]=PDF файл харагч
Comment[ms]=Lihat fail PDF
Comment[nb]=Vis PDF-filer
Comment[ne]=पिडियफ फाईलहरु देखाउ
Comment[nl]=PDF-bestanden weergeven
Comment[nn]=Vis PDF-filer
Comment[no]=Vis PDF-filer
Comment[or]=ପି.ଡି.ଏଫ. ଫାଇଲ ଦେଖନ୍ତୁ
Comment[pa]=PDF ਫਾਇਲਾਂ ਵੇਖੋ
Comment[pl]=Wyświetlanie plików PDF
Comment[pt]=Visualizar ficheiros PDF
Comment[pt_BR]=Visualizar arquivos PDF
Comment[ro]=Deschideţi fişiere PDF
Comment[ru]=Программа просмотра файлов в формате PDF
Comment[sk]=Prezerať PDF súbory
Comment[sq]=Paraqit files PDF
Comment[sr]=Прегледајте ПДФ датотеке
Comment[sr@Latn]=Pregledajte PDF datoteke
Comment[sv]=Visa PDF-filer
Comment[ta]=PDF கோப்புகள் பார்க்கவும்
Comment[th]=อ่านแฟ้ม PDF
Comment[tr]=PDF dosyalarını göster
Comment[uk]=Перегляд файлів у форматі PDF
Comment[zh_CN]=查看 PDF 文件
Comment[zh_TW]=顯示 PDF 文件
Exec=gpdf %F
Icon=gnome-pdf
Terminal=false
Type=Application
Categories=GNOME;Application;Graphics;VectorGraphics;Viewer;
StartupNotify=true
MimeType=application/pdf;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gpdf
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-OtherBinaries=gnome-pdf-viewer
