[Desktop Entry]
Encoding=UTF-8
Name=gtranslator
Name[am]=gtranslator
Name[az]=gtranslator
Name[be]=gtranslator
Name[bs]=gtranslator
Name[ca]=gtranslator
Name[cs]=gtranslator
Name[da]=gtranslator
Name[de]=gtranslator
Name[el]=gtranslator
Name[en_CA]=gtranslator
Name[en_GB]=gtranslator
Name[es]=gtranslator
Name[et]=gtranslator
Name[eu]=gtranslator
Name[fa]=gtranslator
Name[fi]=gtranslator
Name[fr]=gtranslator
Name[gl]=gtranslator
Name[hu]=gtranslator
Name[is]=gtranslator
Name[it]=gtranslator
Name[ja]=gtranslator
Name[ko]=gtranslator
Name[lt]=gtranslator
Name[lv]=gtranslator
Name[nl]=gtranslator
Name[nn]=gtranslator
Name[no]=gtranslator
Name[pa]=ਜੀ-ਟਰਾਸ਼ਲੇਟਰ
Name[pl]=gtranslator
Name[pt]=gtranslator
Name[pt_BR]=gtranslator
Name[ru]=gtranslator
Name[sk]=gtranslátor
Name[sq]=gtranslator
Name[sr]=ГПреводилац
Name[sr@Latn]=GPrevodilac
Name[sv]=gtranslator
Name[ta]=gtranslator
Name[th]=gtranslator
Name[tk]=gtranslator
Name[tr]=gtranslator
Name[uk]=Перекладач
Name[vi]=gtranslator
Name[wa]=gtranslator
Name[zh_CN]=gtranslator
Name[zh_TW]=gtranslator
Comment=The GNOME translation program
Comment[be]=Праграма перакладу для Gnome
Comment[bs]=GNOME program za prevođenje
Comment[cs]=Překladatelský nástroj pro GNOME
Comment[de]=Das GNOME-Übersetzungsprogramm
Comment[el]=Το πρόγραμμα μετάφρασης του GNOME
Comment[en_CA]=The GNOME translation program
Comment[en_GB]=The GNOME translation program
Comment[es]=El programa de traducción de GNOME
Comment[eu]=GNOMEren itzulpengintzako programa
Comment[fa]=برنامه‌ی ترجمه‌ی گنوم
Comment[fi]=Gnomen kääntämisohjelma
Comment[fr]=Programme de traduction GNOME
Comment[hu]=A GNOME fordítóprogramja
Comment[is]=Þýðingaforrit fyrir GNOME
Comment[it]=Il programma di traduzione per GNOME
Comment[ja]=GNOME 翻訳プログラムです
Comment[ko]=GNOME 번역 프로그램
Comment[lt]=GNOME vertimo programa
Comment[nl]=Het GNOME vertaalprogramma
Comment[no]=GNOME oversettingsprogram
Comment[pa]=ਗਨੋਮ ਭਾਸ਼ਾ ਤਬਦੀਲੀ ਕਾਰਜ
Comment[pl]=Program GNOME do tłumaczeń
Comment[pt]=A aplicação de traduções do GNOME
Comment[pt_BR]=O programa de tradução do GNOME
Comment[ru]=Программа перевода для GNOME
Comment[sk]=Prekladový program pre GNOME
Comment[sq]=Programi i përkthimit për GNOME
Comment[sr]=Гномов програм за превођење
Comment[sr@Latn]=Gnomov program za prevođenje
Comment[sv]=GNOME-översättningsprogrammet
Comment[th]=โปรแกรม GNOMEเพื่อ แปลภาษา
Comment[tk]=GNOME terjime programy
Comment[tr]=GNOME çeviri programı
Comment[wa]=Li programe di ratournaedje di GNOME
Comment[zh_CN]=GNOME 翻译程序
Comment[zh_TW]=GNOME 翻譯程式
Icon=gtranslator.png
Exec=gtranslator
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Development;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gtranslator
