[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=ooo-writer
Type=Application
InitialPreference=2
Categories=Application;Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=ooffice2 -writer %U
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.oasis.opendocument.text-web;application/vnd.oasis.opendocument.text-master;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.sun.xml.writer.global;application/vnd.stardivision.writer;application/msword;application/vnd.ms-word;application/x-doc;text/rtf;application/vnd.wordperfect;application/wordperfect
Name=OpenOffice.org2 Writer
Comment=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[en]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[de]=Erstellen und bearbeiten von Text und Grafiken in Briefen, Reports, Dokumenten und Web-Seiten mit Writer
Comment[af]=Skep en redigeer teks en grafika in briewe, verslae, dokumente en webbladsye met Writer.
Comment[be_BY]=Стварайце і рэдагуйце тэкст і графіку ў лістах, справаздачах, дакументах і старонках Сеціва з дапамогаю Writer-а.
Comment[bg]=С Writer можете да създавате и редактирате текст и графики в писма, отчети, документи и уебстраници.
Comment[ca]=Creeu i editeu text i gràfics a cartes, informes, documents i pàgines web amb el Writer.
Comment[cs]=Vytvářejte a upravujte text a obrázky v dopisech, sestavách, dokumentech a webových stránkách pomocí Writeru.
Comment[cy]=Creu a golygu testun a graffigau mewn llythyron, adroddiadau, dogfennau a thudalennau Gwe gyda Writer.
Comment[da]=OpenOffice.org 1.9-tekstdokument
Comment[el]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[en_GB]=Create and edit text and graphics in letters, reports, documents and Web pages using Writer.
Comment[es]=Crear y editar texto y gráficos de cartas, informes, documentos y páginas Web con Writer.
Comment[et]=Writer võimaldab luua ja redigeerida kirjade, aruannete, dokumentide ning veebilehtede teksti ja pilte.
Comment[fi]=Luo ja muokkaa tekstiä ja grafiikkaa kirjeisiin, raportteihin, tekstiasiakirjoihin ja internet-sivuihin Writer-ohjelmalla.
Comment[fr]=Writer - Création et édition de textes et d'images pour courrier, rapports, documents et pages Web
Comment[gu_IN]=લખાણો અને ગ્રાફિક્સોને લેટરોમાં, અહેવાલોમાં, દસ્તાવેજોમાં અને વેબ પાનાંઓમાં લેખકની મદદથી બનાવો અને તેમાં ફેરફાર કરો.
Comment[hr]=Stvorite i uredite takst i slike u pisma, izvješćima, dokumentima i web stranicama koristeći Writer.
Comment[hu]=Levelek, jelentések, dokumentumok és weboldalak szövegének és grafikájának létrehozása és szerkesztése a Writer használatával.
Comment[it]=Usando Writer, potete creare e modificare il testo e le immagini di lettere, rapporti, documenti e pagine Web.
Comment[ja]=Writer を使用して、レター、レポート、ドキュメントおよび Web ページのテキストおよび図を作成および編集します。
Comment[km]=បង្កើត និង កែ​សម្រួល​អត្ថបទ និង ក្រាហ្វិក​ក្នុង​សំបុត្រ របាយការណ៍ ឯកសារ និង ទំព័រ​បណ្តាញ​ដោយ​ប្រើ Writer ។
Comment[ko]=Writer를 사용하여 편지, 보고서, 문서 및 웹 페이지에서 텍스트와 그림을 만들고 편집할 수 있습니다.
Comment[nb]=Opprett og rediger tekst og bilder i brev, rapporter, dokumenter og nettsider ved å bruke Writer.
Comment[nl]=Met Writer kunt u tekst en afbeeldingen in brieven, rapporten, documenten en webpagina's maken en bewerken.
Comment[nn]=Med Writer kan du laga og redigera tekst og bilete i brev, rapportar, dokument og nettsider.
Comment[pa_IN]=ਲੇਖਕ ਨਾਲ ਪੱਤਰਾਂ, ਰਿਪੋਰਟਾਂ, ਦਸਤਾਵੇਜ਼ਾਂ ਅਤੇ ਵੈੱਬ ਸਫ਼ਿਆਂ ਵਿੱਚ ਪਾਠ ਅਤੇ ਚਿੱਤਰ ਬਣਾਏ ਤੇ ਸੋਧੇ ਜਾ ਸਕਦੇ ਹਨ।
Comment[pl]=Twórz i edytuj listy, raporty, dokumenty i strony www wykorzystując program Writer.
Comment[pt_BR]=Criar e editar texto e figuras em cartas, relatórios, documentos e páginas da Web por meio do Writer.
Comment[ru]=Создание и редактирование текста и рисунка в письмах, отчетах, документах и веб-страницах с помощью Writer.
Comment[rw]=Kurema no guhindura umwandiko n'ibishushanyo mu mabaruwa, raporo, inyandiko n'amapaji Rubuga ukoresheje Writer.
Comment[sh_YU]=Pravi i uređuje tekst i grafiku u pismima, izveštajima i veb stranicama korišćenjem Pisca.
Comment[sk]=Vytvárajte a upravujte textové a grafické listy, správy, dokumenty a webové stránky s použitím Writer.
Comment[sr_CS]=Прави и уређује текст и графику у писмима, извештајима и веб страницама коришћењем Писца.
Comment[st]=Bopa le ho lokisa mongolo le ditshwantsho mangolong, ditlalehong, ditokomaneng le maqepheng a Wepe ka ho sebedisa Mongodi.
Comment[sv]=Skapa och redigera text och grafik i brev, rapporter, dokument och webbsidor med hjälp av Writer.
Comment[sw_TZ]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[tr]=Writer kullanarak mektuplardaki metin ve grafikleri, rapor, belge ve Web sayfalarını oluştur ve düzenle.
Comment[ts]=Endla ni ku tsala rungula ni vudirowi eka mapapila, swiviko, tifayili ni matluka ya Xivandla xa Internet hi ku tirhisa Writer.
Comment[vi]=Tạo và chỉnh sửa văn bản và đồ họa trong thư, báo cáo, tài liệu và trang mạng dùng Writer.
Comment[xh]=Dala uze uhlele isiqendu nezazobe zegrafu ezileteni, iingxelo, amaxwebhu namakhasi Othungelwano ngokusebenzisa i-Writer.
Comment[zh_CN]=使用 Writer 创建并编辑信函、报表、文档和网页中的文本和图形。
Comment[zh_TW]=使用 Writer 可以在信件、報告、文件和網頁中建立與編輯文字和圖形。
StartupNotify=true
