[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=ooo-calc
Type=Application
InitialPreference=2
Categories=Application;Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=ooffice2 -calc %U
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-template;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/vnd.stardivision.calc;application/vnd.stardivision.chart;application/msexcel;application/vnd.ms-excel
Name=OpenOffice.org2 Calc
Comment=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
Comment[en]=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
Comment[de]=Berechnungen ausführen, Informationen analysieren und Listen in Tabellen verwalten mit Calc
Comment[af]=Doen berekening, analiseer inligting en bestuur lyste in sigblaaie met Calc.
Comment[be_BY]=Праводзьце вылічэнні, аналізуйце інфармацыю і кіруйце спісамі ў разліковых аркушах з дапамогаю Calc-а.
Comment[bg]=Calc служи за изчисления, анализи и управление на списъци чрез електронни таблици.
Comment[ca]=Feu càlculs, analitzeu informació i gestioneu llistes a fulls de càlcul amb el Calc.
Comment[cs]=Provádějte výpočty, analyzujte informace a ovládejte seznamy v sešitech pomocí Calcu.
Comment[cy]=Cyfrifo, dadansoddi data a rheoli rhestrau mewn taenlenni gan ddefnyddio Calc.
Comment[da]=Udfør beregning, analyser information og administrer lister i regneark ved brug af Calc.
Comment[el]=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
Comment[en_GB]=Perform calculation, analyse information and manage lists in spreadsheets using Calc.
Comment[es]=Realizar cálculos, analizar información y editar listas en hojas de cálculo con Calc.
Comment[et]=Calc aitab teostada arvutusi, analüüsida infot ja hallata nimekirju.
Comment[fi]=Suorittaa laskentaa sekä analysoi ja hallitsee Calc:in käyttämissä laskentataulukoissa olevia tietoja.
Comment[fr]=Calc - Calculs, analyses et gestion de listes dans des feuilles de calcul
Comment[gu_IN]=ગણતરી કરો, જાણકારીનું વિશ્લેષ કરો અને કેલ્ક્યુલેટરની મદદથી સ્પ્રેડશીટમાં યાદીઓની વ્યવસ્થા કરો.
Comment[hr]=Izvedite proračune, analizirajte informacije i upravljajte popisima u proračunskim tablicama koristeći Calc.
Comment[hu]=Számítások végrehajtása, adatok elemzése és listák kezelése munkafüzetekben a Calc használatával.
Comment[it]=Calc può essere usato per eseguire calcoli, analizzare informazioni e gestire elenchi in un foglio elettronico.
Comment[ja]=Calc を使用して、表計算ドキュメントで計算を実行し、情報を分析し、リストを管理します。
Comment[km]=គណនា​ វិភាគ​ព័ត៌មាន និង គ្រប់គ្រង​បញ្ជី​ក្នុង​សៀវភៅ​បញ្ជី ដោយ​ប្រើ Calc ។
Comment[ko]=Calc를 사용하여 스프레드시트에서 계산, 정보 분석 및 목록 관리를 수행합니다.
Comment[nb]=Utfør beregninger, analyser informasjon og håndter lister i regneark ved å bruke Calc.
Comment[nl]=Met Calc kunt u in werkbladen berekeningen uitvoeren, gegevens analyseren en lijsten beheren.
Comment[nn]=Med Calc kan du gjera utrekningar, analysera informasjon og handtera lister i rekneark.
Comment[pa_IN]=ਸਾਰਣੀਕਾਰ ਨਾਲ ਸਾਰਣੀ ਵਿੱਚ ਗਣਨਾ, ਜਾਣਕਾਰੀ ਦੀ ਸਮੀਖਿਆ ਅਤੇ ਸੂਚੀਆਂ ਨੂੰ ਰੱਖਿਆ ਜਾ ਸਕਦਾ ਹੈ।
Comment[pl]=Dokonuj obliczeń, analizuj informacje i zarządzaj listami danych w arkuszach kalkulacyjnych używając programu Calc.
Comment[pt_BR]=Fazer cálculos, analisar informações e gerenciar listas em planilhas por meio do Calc.
Comment[ru]=Выполнение вычислений, анализ информации и управление листами в электронных таблицах с помощью Calc.
Comment[rw]=Gukora imibare, gutondagura amakuru no kuyobora amarisiti mu mpapurozisesuye ukoresheje Calc
Comment[sh_YU]=Izvodi proračune, analizira podatke i upravlja listama u unakrsnim tabelama koristeći Račun.
Comment[sk]=Vykonávajte kalkulácie, analyzujte informácie a spravujte zoznamy v zošitoch s použitím Calc.
Comment[sr_CS]=Изводи прорачуне, анализира податке и управља листама у унакрсним табелама користећи Рачун.
Comment[st]=Etsa ho kopanya, batlisisa tlhahisoleseding le ho laola mathathamo maqepheng a ho ala boitsebiso ka ho sebedisa ho Kopanya.
Comment[sv]=Beräkna, anaysera information och hantera listor i kalkylblad med hjälp av Calc.
Comment[sw_TZ]=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
Comment[tr]=OpenOffice.org 1.9 Hesap Tablosu
Comment[ts]=Hlayela, hlahluva rungula kutani u tirha hi minxaxamelo ya tifayili hi ku tirhisa phrogremu ya Cal.
Comment[vi]=Thực hiện tính toán, phân tích thông tin và quản lý danh sách trong bảng tính bằng Calc.
Comment[xh]=Yenza isibalo, hlalutya ulwazi uze ulawule izindwe kumacwecwe eeseli ngokusebenzisa u-Calc.
Comment[zh_CN]=使用 Calc 进行计算、分析信息以及管理电子表格中的列表。
Comment[zh_TW]=使用 Calc 可在工作表中執行計算、分析資訊與管理清單。
StartupNotify=true
