[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=ooo-draw
Type=Application
InitialPreference=2
Categories=Application;Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=ooffice2 -draw %U
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.stardivision.draw
Name=OpenOffice.org2 Draw
Comment=Create and edit drawings, flow charts, and logos by using Draw.
Comment[en]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[de]=Zeichnungen erstellen und bearbeiten, Flussdiagramme entwerfen und Logos kreieren mit Draw
Comment[af]=Skep en redigeer tekeninge, vloeigrafieke en logo's met Draw.
Comment[be_BY]=Стварайце і рэдагуйце рысункі, схемы і лагатыпы з дапамогаю Draw-а.
Comment[bg]=С Draw можете да създавате и редактирате рисунки, блок-схеми и емблеми.
Comment[ca]=Creeu i editeu dibuixos, diagrames de flux i logotips amb el Draw.
Comment[cs]=Vytvářejte a upravujte kresby, bloková schémata a loga pomocí Draw.
Comment[cy]=Creu a golygu darluniau, siartiau llif a logos drwy ddefnyddio Draw.
Comment[da]=Opret og rediger tegninger, rutediagrammer og logoer ved brug af Draw.
Comment[el]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[en_GB]=Create and edit drawings, flow charts, and logos using Draw.
Comment[es]=Crear y editar dibujos, gráficos de flujo y logotipos con Draw.
Comment[et]=Draw võimaldab luua ja redigeerida joonistusi, vooskeeme ning logosid.
Comment[fi]=Luo ja muokkaa piirroksia, vuokaavioita ja logoja Draw-ohjelmalla.
Comment[fr]=Draw - Création et édition de dessins, d'organigrammes et de logos
Comment[gu_IN]=ચિત્રો, ફ્લો ચાર્ટો, અને લોગોમાં ચિત્રકામની મદદથી ચિત્રો બનાવો અને તેમાં ફેરફાર કરો.
Comment[hr]=Stvorite i uredite crteže, dijagrame toka i logo-e koristeći Draw.
Comment[hu]=Rajzok, folyamatábrák és logók létrehozása és szerkesztése a Draw használatával.
Comment[it]=Con Draw potete creare e modificate disegni, diagrammi di flusso e logo.
Comment[ja]=Draw を使用して、図形描画、フローチャート、およびロゴを作成および編集します。
Comment[km]=បង្កើត និង កែ​សម្រួល​គំនូរ គំនូស​តាង​លំហូរ និង រូបសញ្ញា​ដោយ​ប្រើ Draw ។
Comment[ko]=그리기를 사용하여 그리기, 순서도 및 로고를 만들고 편집합니다.
Comment[nb]=Opprett og rediger tegninger, flytdiagrammer og logoer ved å bruke Draw.
Comment[nl]=Met Draw kunt u tekeningen, stroomdiagrammen en logo's maken en bewerken.
Comment[nn]=Med Draw kan du laga og redigera teikningar, flytdiagram og logoar.
Comment[pa_IN]=ਚਿੱਤਰਕਾਰ ਨਾਲ ਸ਼ਕਲਾਂ, ਵਹਾ-ਚਾਰਟ ਅਤੇ ਲੋਗੋ ਬਣਾਏ ਅਤੇ ਸੋਧੇ ਜਾ ਸਕਦੇ ਹਨ।
Comment[pl]=Twórz i edytuj rysunki, wykresy i znaki graficzne używając programu Draw.
Comment[pt_BR]=Criar e ditar desenhos, fluxogramas e logotipos por meio do Draw.
Comment[ru]=Создание и редактирование рисунков, блок-схем и логотипов с помощью Draw.
Comment[rw]=Kurema no guhindura ibishushanyo, ibishushanyo by'ikurikirana, n'ikirango ukoresheje Draw
Comment[sh_YU]=Pravi i uređuje crteže, dijagrame toka, i logotipe korišćenjem Draw-a.
Comment[sk]=Vytvárajte a upravujte obrázky, postupové diagramy a logá s použitím Draw.
Comment[sr_CS]=Прави и уређује цртеже, дијаграме тока, и логотипе коришћењем Draw-а.
Comment[st]=Bopa le ho lokisa tse torowilweng, ditjhate tse elellang, le matshwao ka ho sebedisa Torowa.
Comment[sv]=Skapa och redigera teckningar, flödesdiagram och logotyper med hjälp av Draw.
Comment[sw_TZ]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[tr]=Draw kullanarak akış çizelgeleri ve logolar oluştur ve düzenle.
Comment[ts]=Dirowa ni ku lulamisa vudirowi, tichati ta ntlhandlamano, ni mimfungho hi ku tirhisa xiyenge xa Vudirowi.
Comment[vi]=Tạo và chỉnh bản vẽ, lưu đồ, và biểu tượng dùng Draw.
Comment[xh]=Dala uze uhlele imizobo, iitshati zomqukuqelo, kunye nee-logo ngokusebenza u-Draw.
Comment[zh_CN]=使用 Draw 创建并编辑图形、流程图和徽标。
Comment[zh_TW]=使用 Draw 可建立與編輯繪圖、流程圖以及標誌。
StartupNotify=true
