[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Serpentine Audio-CD Creator
Name[ca]=Creador de CD d'àudio Serpentine
Name[de]=Serpentine Audio-CD Ersteller
Name[fa]=برنامه تولید دیسک صوتی Serpentine
Name[fi]=Serpentine Audio-CD-työkalu
Name[fr]=Créateur de CDs audio Serpentine
Name[pt]=Criador de CDs Áudio Serpentine
Name[pt_BR]=Criador de CDs de Áudio Serpentine
Name[it]=Serpentine Creatore di CD-Audio 
Name[nl]=Serpentine audio-CD brander
Name[hu]=Serpentine audio-CD készítő
Comment=Create Audio-CD's from music files and playlists
Comment[ca]=Crea CD d'àudio de fitxers de música i llistes de reproducció
Comment[de]=Brennt Musik-CDs aus beliebigen Musikdateien
Comment[fi]=Luo Audio-CD:itä musiikkitiedostoista ja soittolistoista
Comment[fr]=Crée des CDs audio à partir de fichiers de musique et de listes de lecture
Comment[pt]=Cria CDs Áudio a partir de ficheiros de música e listas de reprodução
Comment[pt_BR]=Crie CDs de áudio a partir de arquivos de músicas e listas de reprodução
Comment[it]=Crea i CD audio dai file musicali e playlist
Comment[nl]=Creëer audio-CD's van muziekbestanden en afspeellijsten
Comment[hu]=Audio-CD létrehozása zenefájlokból és lejátszólistákból
Comment[fa]=از فایلهای صوتی خود دیسک صوتی بسازید  
Type=Application
Exec=serpentine
Icon=gnome-dev-cdrom-audio.png
Terminal=False
Categories=GNOME;Application;AudioVideo;X-Ximian-Main;X-Red-Hat-Base;
StartupNotify=true
