[Desktop Entry]
Name=Shared Folders
Name[bg]=Споделени папки
Name[ca]=Carpetes compartides
Name[cs]=Sdílené adresáře
Name[da]=Delte mapper
Name[de]=Gemeinsame Ordner
Name[el]=Κοινόχρηστοι φάκελοι
Name[en_CA]=Shared Folders
Name[es]=Carpetas compartidas
Name[et]=Jagatud kataloogid
Name[fi]=Jaetut kansiot
Name[fr]=Dossiers partagés
Name[gu]=વહેંચાયેલ ફોલ્ડરો
Name[hi]=साझेदारी फोल्डर
Name[hu]=Megosztott mappák
Name[id]=Folder Terkongsi
Name[ja]=フォルダの共有
Name[ko]=공유 폴더
Name[lt]=Viešinami aplankai
Name[mk]=Споделени папки
Name[nb]=Delte mapper
Name[nl]=Gedeelde mappen
Name[no]=Delte mapper
Name[pa]=ਸਾਂਝ ਫੋਲਡਰ
Name[pl]=Foldery współdzielone
Name[pt]=Pastas Partilhadas
Name[pt_BR]=Pastas Compartilhadas
Name[ro]=Directoare partajate
Name[ru]=Опубликованные папки
Name[sq]=Kartelat e përbashkëta
Name[sr]=Дељени директоријуми
Name[sr@Latn]=Deljeni direktorijumi
Name[th]=โฟลเดอร์ใช้ร่วม
Name[tr]=Paylaşılan Klasörler
Name[uk]=Спільні теки
Name[vi]=Danh mục dùng chung
Name[zh_CN]=共享的文件夹
Name[zh_TW]=共享的資料夾
Comment=Configure which folders are available for your network neighborhood
Comment[bg]=Настройване на папките, които са налични във вашия network neighborhood
Comment[ca]=Configura quines carpetes són visibles a altres ordinadors de la xarxa
Comment[cs]=Nastavit, které adresáře jsou k dispozici pro vaše okolní počítače
Comment[da]=Konfigurér hvilke mapper der skal være tilgængelige for dit netværk
Comment[de]=Stellen Sie hier ein, welche Ordner für andere Rechner in Ihrem Netzwerk sichtbar sind
Comment[el]=Ρύθμιση των διαθέσιμων φακέλων στο δίκτυο
Comment[en_CA]=Configure which folders are available for your network neighbourhood
Comment[en_GB]=Configure which folders are available for your network neighborhood
Comment[es]=Configure qué carpetas están disponibles para su red local
Comment[eu]=Konfiguratu sare lokalean eskuragarri dauden karpetak
Comment[fi]=Määrittele, mitkä kansiot näkyvät verkkoympäristössäsi
Comment[fr]=Configure les répertoires qui seront accessibles aux autres utilisateurs du réseau
Comment[gl]=Configure qué cartafoles están dispoñibles para a súa rede local
Comment[gu]=તમારા નેટવર્કની પડોશમાં કયા ફોલ્ડરો તમારા માટે ઉપ્લબ્ધ છે તે રૂપરેખાંકિત કરો
Comment[hi]=आपके संजाल पड़ोस के लिये विन्यस्त करें कि कौन सा फोल्डर उपलब्ध है
Comment[hu]=A helyi hálózat számára elérhető mappák beállítása
Comment[id]=Konfigurasikan folder yang hendak dibuka aksesnya dalam jaringan
Comment[it]=Configura quali cartelle saranno disponibili ai vicini di rete
Comment[ja]=お使いのネットワーク内で共有し利用できるフォルダを設定します
Comment[ko]=네트워크에서 사용가능한 폴더 설정
Comment[lt]=Nurodykite, kurie aplankai yra prieinami Jūsų tinklo kaimynams
Comment[mk]=Конфигурирајте кои папки да бидат достапни преку Вашата мрежа
Comment[nb]=Konfigurer mapper som skal gjøres tilgjengelig for ditt nettverk
Comment[ne]=तपाइँको छिमेकी सञ्जालहरुको लागि भएका फोल्डरहरु कन्फिगर गर्नुहोस्  
Comment[nl]=Instellen welke mappen beschikbaar zijn in uw netwerkomgeving
Comment[no]=Konfigurer mapper som skal gjøres tilgjengelig for ditt nettverk
Comment[pa]=ਸੰਰਚਨਾ ਕਰੋ ਕਿ ਕਿਹੜੇ ਫੋਲਡਰ ਆਂਢ-ਗੁਆਂਢ ਨੂੰ ਉਪਲੱਬਧ ਹੋਣ
Comment[pl]=Konfiguruje, które foldery będą dostępne w otoczeniu sieciowym
Comment[pt]=Configurar que pastas estão disponíveis para a sua vizinhança de rede
Comment[pt_BR]=Configure quê pastas ficarão disponíveis para a sua rede
Comment[ro]=Specificaţi ce directoare să fie disponibil în reţeaua locală
Comment[ru]=Задать папки доступные для сетевого окружения
Comment[sk]=Nastaviť, ktoré priečinky sú dostupné pre vaše okolité počítače
Comment[sq]=Përcakto çfarë kartela janë në dispozicion për fqinjët tek rrjeti juaj
Comment[sr]=Подесите који директоријуми су доступни у локалној мрежи
Comment[sr@Latn]=Podesite koji direktorijumi su dostupni u lokalnoj mreži
Comment[sv]=Konfigurera vilka mappar som är tillgängliga för ditt nätverk
Comment[th]=กำหนดโฟลเดอร์ที่จะให้เครื่องเพื่อนบ้านในเครือข่ายใช้ร่วม
Comment[tr]=Ağ komşularınız için uygun olan klasörleri yapılandırın
Comment[uk]=Налаштувати які теки доступні для вашого мережного оточення
Comment[vi]=Cấu hình những danh mục nào công bố cho mạng địa phương.
Comment[xh]=Misa ukuba zeziphi na izigcini-zifayili ezikhoyo kuthungelwano lwasebumelwaneni
Comment[zh_CN]=配置哪些文件夹可共享给网络邻居
Comment[zh_TW]=設定那一個資料夾共享給您的網路芳鄰
Exec=gksudo shares-admin
Icon=/usr/share/gnome-system-tools/pixmaps/shares.png
Terminal=false
Type=Application
Categories=Application;System;Settings
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-system-tools
X-GNOME-Bugzilla-Component=shares-admin
X-GNOME-Bugzilla-Version=1.4.0
StartupNotify=true
Encoding=UTF-8

