[Desktop Entry]
Name=Terminal Server Client
Name[ar]=مستخدم المحطّة الطّرفيّة
Name[ca]=Client de Terminal Server
Name[da]=Terminalserver klient
Name[de]=Terminal Server Client
Name[el]=Πελάτης Εξυπηρέτη X?ερματικού
Name[es]=Cliente de Terminal Server
Name[fi]=Terminal Server Client
Name[fr]=Terminal Server Client
Name[hu]=Távoli asztali kapcsolat
Name[it]=Client Terminal Server
Name[ja]=ターミナルサーバクライアント
Name[ms]=Klien Pelayan Terminal
Name[nl_NL]=Terminal Server Client
Name[no_nb]=Terminalserver-klient
Name[pl_PL]=Klient Usług Terminalowych
Name[pt_BR]=Cliente do Terminal Server
Name[pt_PT]=Cliente Terminal Server
Name[ru]=ыЬЩХЮд єХвЭЩЮСЬиЮЯЧЯ гХвзХвС
Name[se]=Terminalserver-klient
Name[xh]=Umxhasi Weseva We-Terminal
Name[zh_CN]=终端服务客户端
Name[zh_TW]=終端伺服器用戶端
Comment=Connect to a remote computer
Comment[ar]=اتصل بجهار بعيد
Comment[ca]=Connectar-se a un ordinador remot
Comment[de]=Mit entfernten Computer verbinden
Comment[el]=Σύνδεση σε ένα απομακρυσμένο υπολογιστX?
Comment[es]=Conectarse a un ordenador remoto
Comment[fi]=Yhdistä etätietokoneeseen
Comment[fr]=Se connecter à un ordinateur distant
Comment[hu]=Csatlakozás a távoli géphez
Comment[id]=Hubungkan dengan komputer lain
Comment[it]=Connetti a un computer remoto
Comment[ja]=リモートコンピュータに接続する
Comment[ms]=Sambung ke komputer jauh
Comment[nl_NL]=Verbinding maken met computer op afstand
Comment[no_nb]=Koble til en annen datamaskin
Comment[pl_PL]=Połącz ze zdalnym komputerem
Comment[pt_BR]=Conectar a um computador remoto
Comment[pt_PT]=Ligar a um computador remoto
Comment[ru]=№ЯФгЯХФЩЮЩдгб Ы еФСЬХЮЮЯЭе ЫЯЭаиРдХве
Comment[se]=Anslut till fjärrdator
Comment[xh]=Qhagamshela kwikhompyutha ekude
Comment[zh_CN]=连接到远程计算机
Comment[zh_TW]=連線遠端電腦
TryExec=tsclient
Exec=tsclient
Icon=tsclient.png
Terminal=false
Type=Application
Version=1.0
Actions=Full;
Categories=Application;Network;X-Red-Hat-Base;
Encoding=UTF-8

[Desktop Action Full]
Exec=tsclient -f
