[Desktop Entry]
Encoding=UTF-8
Name=About Ubuntu
Name[ca]=Quant a Ubuntutu
Name[da]=Om Ubuntu
Name[de]=Über Ubuntu
Name[el]=Περί Ubuntu
Name[es]=Acerca de Ubuntu
Name[fa]=درباره Ubuntu
Name[fi]=Tietoja Ubuntusta
Name[fr]=À propos d'Ubuntu
Name[he]=אודות אובונטו
Name[hu]=Az Ubuntu névjegye
Name[is]=Um Ubuntu
Name[it]=Informazioni su Ubuntu
Name[nl]=Over Ubuntu
Name[pt]=Sobre o Ubuntu
Name[pt_BR]=Sobre o Ubuntu
Name[ro]=Despre Ubuntu
Name[sk]=O Ubuntu
Name[sv]=Om Ubuntu
Name[xh]=Malunga ne-Ubuntu
Name[zh_CN]=关于 Ubuntu
Comment=Learn more about Ubuntu
Comment[da]=Lær mere om Ubuntu
Comment[de]=Mehr über Ubuntu erfahren
Comment[el]=Μάθετε περισσότερα για το Ubuntu
Comment[es]=Sepa más acerca de ubuntu
Comment[fa]=راجع به Ubuntu بیشتر بدانید
Comment[fi]=Näytä tietoja Ubuntu-järjestelmästä
Comment[fr]=En savoir plus à propos d'Ubuntu
Comment[he]=קרא דואר באמצעות אבולושיין
Comment[hu]=Tudjon meg többet az Ubunturól
Comment[is]=Lærðu meira um Ubuntu
Comment[it]=Sapere di più circa Ubuntu
Comment[nl]=Kom meer te weten over Ubunt
Comment[pt]=Aprenda mais sobre o Ubuntu
Comment[pt_BR]=Aprenda mais sobre o Ubuntu
Comment[ro]=Aflaţi mai multe despre Ubuntu
Comment[sk]=Dozvedieť sa viac o Ubuntu
Comment[sv]=Lär dig mer om Ubuntu
Comment[xh]=Funda ngaphezulu nge-Ubuntu
Comment[zh_CN]=更多有关 Ubuntu 的信息
Exec=yelp ghelp:about-ubuntu
Icon=/usr/share/icons/hicolor/24x24/stock/generic/stock_about.png
Terminal=false
Type=Application
DocPath=
Categories=GNOME;Application;Core;
StartupNotify=true
