[Desktop Entry]
Encoding=UTF-8
Name=Windows
Name[af]=Windows
Name[am]=መስኮቶች
Name[ar]=النوافذ
Name[az]=Pəncələr
Name[be]=Вокны
Name[bg]=Прозорци
Name[bn]=উইন্ডো
Name[bs]=Prozori
Name[ca]=Finestres
Name[cs]=Okna
Name[cy]=Ffenestri
Name[da]=Vinduer
Name[de]=Fenster
Name[el]=Παράθυρα
Name[en_CA]=Windows
Name[en_GB]=Windows
Name[es]=Ventanas
Name[et]=Aknad
Name[eu]=Leihoak
Name[fa]=پنجره‌ها
Name[fi]=Ikkunat
Name[fr]=Fenêtres
Name[ga]=Fuinneoga
Name[gl]=Fiestras
Name[gu]=વિન્ડો
Name[he]=חלונות
Name[hi]=विंडोज़
Name[hr]=Windows
Name[hu]=Ablakok
Name[id]=Jendela
Name[is]=Gluggar
Name[it]=Finestre
Name[ja]=ウィンドウ
Name[ko]=창
Name[ku]=Pencere
Name[lt]=Langai
Name[lv]=Logi
Name[mk]=Прозорци
Name[ml]=ജാലകങ്ങള്
Name[mn]=Цонх
Name[ms]=Tetingkap
Name[nb]=Vinduer
Name[ne]=विन्डोहरु
Name[nl]=Vensters
Name[nn]=Vindauge
Name[no]=Vinduer
Name[nso]=Mafesetere
Name[pa]=ਝਰੋਖਾ
Name[pl]=Okna
Name[pt]=Janelas
Name[pt_BR]=Janelas
Name[ro]=Ferestre
Name[ru]=Окна
Name[sk]=Okná
Name[sl]=Okna
Name[sq]=Dritaret
Name[sr]=Прозори
Name[sr@Latn]=Prozori
Name[sv]=Fönster
Name[ta]=சாளரங்கள்
Name[th]=หน้าต่าง
Name[tr]=Pencereler
Name[uk]=Вікна
Name[vi]=Cửa sổ
Name[wa]=Purneas
Name[xh]=U-Windows
Name[zh_CN]=窗口
Name[zh_TW]=視窗
Name[zu]=Windows
Comment=Set your window properties
Comment[bg]=Задаване на настройки за вашия прозорец
Comment[bn]=উইন্ডোর বৈশিষ্ট্য নির্ধারণ করুন
Comment[ca]=Configureu les propietats de la finestra
Comment[cs]=Nastavit vaše vlastnosti okna
Comment[cy]=Gosod eich priodweddau ffenestr
Comment[da]=Konfigurér egenskaber for dine vinduer
Comment[de]=Einstellen des Fensterverhaltens
Comment[el]=Καθορισμός ιδιοτήτων παραθύρων
Comment[en_CA]=Set your window properties
Comment[en_GB]=Set your window properties
Comment[es]=Establezca sus propiedades de ventana
Comment[et]=Akende omaduste seadmine
Comment[eu]=Leihoaren propietateak ezartzen ditu
Comment[fa]=ویژگی‌های پنجره‌ی خود را تنظیم کنید
Comment[fi]=Muuta ikkunaominaisuuksia
Comment[fr]=Règle vos propriétés de fenêtres
Comment[gl]=Estableza as propiedades das fiestras
Comment[gu]=તમારી વિન્ડોના ગુણધર્મો સુયોજિત કરો
Comment[hi]=अपना विंडो गुण सेट करें
Comment[hu]=Az ablakok tulajdonságainak beállítása
Comment[id]=Atur properti jendela
Comment[it]=Imposta le proprietà delle finestre
Comment[ja]=ウィンドウのプロパティを設定します
Comment[ko]=창 등록 정보를 설정합니다
Comment[lt]=Nustatykit Jūsų langų savybes
Comment[mk]=Поставете ги својствата за прозорците
Comment[nb]=Egenskaper for vinduer
Comment[nl]=Venstereigenschappen instellen
Comment[nn]=Set dine vindaugseigenskapar
Comment[no]=Egenskaper for vinduer
Comment[pa]=ਆਪਣੀ ਝਰੋਖਾ ਵਿਸ਼ੇਸਤਾ ਸੈਟ
Comment[pl]=Konfiguruje ustawienia okien
Comment[pt]=Defina as propriedades das janelas
Comment[pt_BR]=Defina suas propriedades de janela
Comment[ro]=Setaţi proprietăţile ferestrelor
Comment[ru]=Диалог настройки свойств окон
Comment[sk]=Nastaviť vaše vlastnosti okna
Comment[sq]=Cakto pronësitë e dritares tënde
Comment[sr]=Поставите ваше особине прозора
Comment[sr@Latn]=Postavite vaše osobine prozora
Comment[sv]=Ställ in dina fönsteregenskaper
Comment[th]=ตั้งค่าระบบหน้าต่างของคุณ
Comment[tr]=Pencere özelliklerinizi ayarlayın
Comment[uk]=Налаштовування параметрів вікон
Comment[vi]=Đặt thuộc tính cửa sổ
Comment[xh]=Misela iimpawu zefestile yakho
Comment[zh_CN]=设定您的窗口属性
Comment[zh_TW]=設定您的視窗屬性
Exec=gnome-window-properties
Icon=gnome-window-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=control-center
X-GNOME-Bugzilla-Component=Window preferences
X-GNOME-Bugzilla-Version=2.12.1
