[Desktop Entry]
Encoding=UTF-8
Name=XSane Image scanning program
Name[ru]=Программа для сканирования изображений
Name[ca]=Programa d'escaneig d'imatges XSane
Name[da]=XSane - Billedskanning
Name[de]=XSane Scanprogramm
Name[es]=Programa de escaneo de imágenes XSane
Name[fr]=Programme d'acquisition d'images XSane
Name[fi]=XSane-kuvanlukuohjelma
Name[fa]=برنامه اسکن تصاویر XSane
Name[pt]=Programa de digitalização XSane
Name[pt_BR]=Programa de Digitalização XSane
Name[it]=Xsane Programma di acquisizione di immagini
Name[nl]=XSane scannerprogramma
Name[hu]=XSane lapolvasó program
Comment=A program to work with scanner. Can be used as a scanning, copier, OCR, fax tools.
Comment[ru]=Программа для работы со сканером. Может быть использована в качестве копировального аппарата, факса, и др.
Comment[ca]=Un programa per a treballar amb escànners. Es pot utilitzar com una eina d'escanejat, copiat, OCR i fax.
Comment[de]=Ein Programm, um mit einem Scanner zu arbeiten. Kann zum scannen, kopieren, faxen, oder zur Texterkennung verwendet werden.
Comment[es]=Un programa para trabajar con escáners. Se puede utilizar como una herramienta para escanear, copiar, OCR y fax.
Comment[fr]=Un programme d'acquisition d'images pour votre scanner. Peut également photocopier, faxer ou faire de la reconnaissance de caractères.
Comment[fi]=Ohjelma kuvanlukijoiden käyttöön. Voidaan käyttää kuvanluku-, kopiointi-, tekstintunnistus- ja faksaustarkoituksiin.
Comment[fa]=برنامه ای که با دستگاه اسکنر شما کار میکند
Comment[pt]=Um programa para trabalhar com o digitalizador. Pode ser usado para digitalizar, copiar, reconhecimento óptico de caracteres, fax.
Comment[pt_BR]=Um programa para trabalhar com o scanner. Pode ser usado para digitalizar, copiar, reconhecimento óptico de caracteres, fax.
Comment[it]=Un programma per lavorare con lo scanner. Può essere usato per acquisire, copiare, fare OCR, fax.
Comment[nl]=Een programma om met de scanner te werken. Kan gebruikt worden voor scannen, kopiëren, OCR en faxen.
Comment[hu]=Lapolvasót kezelő program. Lapolvasó, másoló, fax és OCR eszközként is használható.
Exec=xsane
Icon=xsane
Terminal=false
Type=Application
Categories=GTK;Application;Graphics;RasterGraphics;Scanning;OCR;
StartupNotify=true
