[Desktop Entry]
Encoding=UTF-8
Name=Broadband Assistant
Name[es]=Asistente de Banda Ancha
Comment=Set up your broadband devices
Comment[es]=Configura tus dispositivos de banda ancha
Exec=gksudo /usr/bin/bb-assist
Icon=/usr/share/bb-assist/glade/pixmaps/bb-assist48.png
Terminal=false
Type=Application
Categories=Application;System;Settings;
