[Desktop Entry]
Encoding=UTF-8
Name=Devhelp
Name[az]=DevHelp
Name[be]=DevHelp
Name[ca]=Devhelp
Name[cs]=Devhelp
Name[da]=Udviklerhjælp
Name[de]=Devhelp
Name[el]=DevHelp
Name[en_CA]=Devhelp
Name[en_GB]=Devhelp
Name[es]=DevHelp
Name[fi]=Devhelp
Name[fr]=Devhelp
Name[gu]=વિકાસ મદદ
Name[hr]=Devhelp
Name[hu]=Devhelp
Name[is]=Devhelp
Name[it]=Devhelp
Name[ja]=Devhelp
Name[ko]=DevHelp
Name[ms]=DevHelp
Name[nb]=Devhelp
Name[nl]=DevHulp
Name[no]=Devhelp
Name[pa]=ਵਿਕਾਸਸਹਾਈ
Name[pl]=DevHelp
Name[pt]=Devhelp
Name[pt_BR]=Devhelp
Name[ru]=Devhelp
Name[sk]=Devhelp
Name[sq]=Devhelp
Name[sr]=ДевХелп
Name[sr@Latn]=DevHelp
Name[sv]=Devhelp
Name[tr]=Geliştirici yardım
Name[uk]=Devhelp
Name[zh_CN]=Devhelp
Name[zh_TW]=Devhelp
Comment=Developer's Help program
Comment[az]=İnkişafçının Yardım proqramı
Comment[be]=Праграма дапамогі распрацоўшчыкам
Comment[ca]=Programa d'ajuda per als desenvolupadors
Comment[cs]=Program nápovědy pro vývojáře
Comment[da]=Hjælpeprogram til udviklere
Comment[de]=Hilfeprogramm für Entwickler
Comment[el]=Πρόγραμμα βοήθειας για προγραμματιστές
Comment[en_CA]=Developer's Help program
Comment[en_GB]=Developer's Help program
Comment[es]=Programa de ayuda del desarrollador
Comment[fi]=Kehittäjän Ohje
Comment[fr]=Programme d'aide pour les développeurs
Comment[gu]=વિકાસ કરનારાઓનો મદદ કાર્યક્રમ
Comment[hu]=Fejlesztők súgóprogramja
Comment[is]=Hjálparvafri fyrir þróendur
Comment[it]=Programma di aiuto per sviluppatori
Comment[ja]=開発者向けのヘルプ・プログラムです
Comment[ko]=개발자를 위한 도움말 프로그램
Comment[ms]=Program Bantuan Pembangun
Comment[nb]=Hjelpleser for utviklere
Comment[nl]=Hulpprogramma voor ontwikkelaars
Comment[no]=Hjelpleser for utviklere
Comment[pa]=ਵਿਕਾਸਵਾਦੀਆਂ ਲਈ ਸਹਾਈ ਕਾਰਜ
Comment[pl]=Program pomocy dla programistów
Comment[pt]=Aplicação de Ajuda aos Programadores
Comment[pt_BR]=Programa de Ajuda para Desenvolvedores
Comment[ru]=Программа справки для разработчиков
Comment[sk]=Program pomocníka pre vývojárov
Comment[sq]=Programi ndihmues i zhvilluesve
Comment[sr]=Програм за помоћ програмерима
Comment[sr@Latn]=Program za pomoć programerima
Comment[sv]=Hjälpprogram för utvecklare
Comment[tr]=Geliştirici Yardım programı
Comment[uk]=Довідкова програма для розробників
Comment[zh_CN]=开发者帮助程序
Comment[zh_TW]=適用於程式開發者的說明書瀏覽程式
Exec=devhelp
Terminal=false
Type=Application
Icon=devhelp.png
Categories=GNOME;Application;Development;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=devhelp
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.10
