[Desktop Entry]
Encoding=UTF-8
Name=Evolution
Name[ar]=افُليوشِن
Name[az]=Evolution
Name[be]="Эвалюцыя"
Name[bg]=Evolution
Name[bn]=Evolution
Name[ca]=Evolution
Name[cs]=Evolution
Name[cy]=Evolution
Name[da]=Evolution
Name[de]=Evolution
Name[el]=Evolution
Name[en_CA]=Evolution
Name[en_GB]=Evolution
Name[es]=Evolution
Name[et]=Evolution
Name[eu]=Evolution
Name[fa]=Evolution
Name[fi]=Evolution
Name[fr]=Evolution
Name[ga]=Evolution
Name[gl]=Evolution
Name[gu]=ઈવોલ્યુશન
Name[hr]=Evolution
Name[hu]=Evolution
Name[id]=Evolution
Name[it]=Evolution
Name[ja]=Evolution-2.4
Name[ko]=Evolution
Name[lt]=Evolution
Name[lv]=Evolution
Name[mn]=Эволюшин
Name[ms]=Evolution
Name[nb]=Evolution
Name[ne]=इभुलोसन
Name[nl]=Evolution
Name[nn]=Evolution
Name[no]=Evolution
Name[pa]=ਈਵੇਲੂਸ਼ਨ
Name[pl]=Evolution
Name[pt]=Evolution
Name[pt_BR]=Evolution
Name[ro]=Evolution
Name[ru]=Evolution
Name[rw]=Impinduka
Name[sk]=Evolution
Name[sl]=Evolucija
Name[sq]=Evolution
Name[sr]=Еволуција
Name[sr@Latn]=Evolucija
Name[sv]=Evolution
Name[th]=Evolution
Name[tr]=Evolution
Name[uk]=Evolution
Name[vi]=Evolution
Name[wa]=Evolution
Name[xh]=I-Evolution
Name[zh_CN]=Evolution
Name[zh_TW]=Evolution
Comment=The Evolution Groupware Suite
Comment[bg]=Програма за работа в група Evolution
Comment[bn]=Evolution Groupware Suite
Comment[ca]=El paquet d'aplicacions de treball en grup Evolution
Comment[cs]=Sada nástrojů pro skupinovou spolupráci Evolution
Comment[cy]=Cyfres Meddalwedd Grŵp Evolution
Comment[da]=Samarbejdsprogrammellet Evolution
Comment[de]=Die Groupware-Suite Evolution
Comment[el]=Η σουίτα εφαρμογών του Evolution 
Comment[en_CA]=The Evolution Groupware Suite
Comment[en_GB]=The Evolution Groupware Suite
Comment[es]=La suite de trabajo en grupo Evolution
Comment[et]=Evolution grupitarkvarakomplekt
Comment[eu]=Evolution-en talde-lanerako suitea
Comment[fi]=Evolution työryhmäohjelmisto
Comment[fr]=La suite de travail collaboratif Evolution
Comment[gu]=ઈવોલ્યુશન ગ્રુપવેર સેવા
Comment[hu]=Az Evolution csoportmunka-programcsomag
Comment[id]=The Evolution Groupware Suite
Comment[it]=La suite Evolution per il groupware
Comment[ja]=Evolution グループウェア・スイートです
Comment[ko]=Evolution 그룹웨어 모음
Comment[lt]=Evolution grupinio darbo rinkinys
Comment[ms]=Sut perisian kumpulan Evolution
Comment[nb]=Gruppevaresuiten Evolution
Comment[ne]=इभोलुसन ग्रुपवेर सुट
Comment[nl]=De Evolution Groupware suite
Comment[nn]=Pakka Evolution Groupware
Comment[no]=Gruppevaresuiten Evolution
Comment[pa]=ਈਵੇਲੂਸ਼ਨ ਸਮੂਹਵੇਅਰ ਸਰੂਪ
Comment[pl]=Pakiet do pracy grupowej Evolution
Comment[pt]=O Pacote de Colaboração Evolution
Comment[pt_BR]=O Conjunto de Aplicações para Grupos de Trabalho Evolution
Comment[ro]=Suita Groupware Evolution
Comment[ru]=Набор приложений групповой работы Evolution
Comment[sq]=Suite Groupware e Evolution.
Comment[sr]=Пакет програма Еволуција
Comment[sr@Latn]=Paket programa Evolucija
Comment[sv]=Grupprogramvarusviten Evolution
Comment[th]=ชุดกรุ๊ปแวร์ Evolution
Comment[tr]=Evolution Groupware Programları
Comment[uk]=Набір програм для групової роботи Evolution
Comment[vi]=Bộ phần mềm nhóm Evolution
Comment[xh]=I-Groupware Suite ye-Evolution
Comment[zh_CN]=Evolution 群件套件
Comment[zh_TW]=Evolution Groupware 套件
Exec=evolution-2.4
Icon=evolution-2.4
Terminal=false
Type=Application
Categories=GNOME;Application;Office;X-Red-Hat-Base;
StartupNotify=true
X-GNOME-Bugzilla-Product=Evolution
X-GNOME-Bugzilla-OtherBinaries=evolution-data-server-1.4;evolution-exchange-storage;evolution-alarm-notify;

