[Desktop Entry]
Encoding=UTF-8
Name=New Login
Name[af]=Nuwe aanmelding
Name[ar]=تسجيل دخول جديد
Name[az]=Yeni Giriş
Name[be]=Новы ўваход
Name[bg]=Ново влизане
Name[bn]=নতুন লগিন
Name[bs]=Nova prijava
Name[ca]=Entrada nova
Name[cs]=Nové přihlášení
Name[cy]=Mewngofnodiad Newydd
Name[da]=Nyt logind
Name[de]=Neu anmelden
Name[el]=Νέα Είσοδος
Name[en_CA]=New Login
Name[en_GB]=New Login
Name[es]=Pantalla de entrada nueva
Name[et]=Uus seanss
Name[eu]=Saio-hasiera berria
Name[fi]=Uusi kirjautuminen
Name[fr]=Nouvelle connexion
Name[ga]=Logann nua
Name[gl]=Nova sesión
Name[gu]=નવો પ્રવેશ
Name[he]=חיבור חדש
Name[hi]=नया लॉगइन
Name[hr]=Nova prijava
Name[hu]=Új bejelentkezés
Name[id]=Login Baru
Name[it]=Nuovo login
Name[ja]=新しいログイン
Name[ko]=새로 로그인
Name[ku]=Têketina Nû
Name[lt]=Naujas prisijungimas
Name[mk]=Ново најавување
Name[mn]=Шинэ нэвтрэлт
Name[mr]=नविन प्रवेश
Name[ms]=Logmasuk baru
Name[nb]=Ny innlogging
Name[ne]=नयाँ लग-इन
Name[nl]=Nieuwe aanmelding
Name[nn]=Ny innlogging
Name[no]=Ny innlogging
Name[nso]=Go Tsena go go Swa
Name[pa]=ਨਵਾਂ ਲਾਗਿੰਨ
Name[pl]=Nowy login
Name[pt]=Nova Sessão
Name[pt_BR]=Nova Sessão
Name[ro]=Autentificare nouă
Name[ru]=Новый сеанс
Name[sk]=Nové prihlásenie
Name[sl]=Nova prijava
Name[sq]=Login i Ri
Name[sr]=Нова пријава
Name[sr@Latn]=Nova prijava
Name[sv]=Ny inloggning
Name[ta]=புதிய நுழை
Name[th]=การเข้าระบบใหม่
Name[tr]=Yeni Giriş
Name[uk]=Новий сеанс
Name[vi]=Đăng nhập mới
Name[wa]=Novea elodjaedje
Name[xh]=Ungeno Olutsha
Name[zh_CN]=新登录
Name[zh_TW]=以新身分登入
Name[zu]=Umngenisi omusha
GenericName=New Login
GenericName[af]=Nuwe aanmelding
GenericName[ar]=تسجيل دخول جديد
GenericName[az]=Yeni Giriş
GenericName[be]=Новы ўваход
GenericName[bg]=Ново влизане
GenericName[bn]=নতুন লগিন
GenericName[bs]=Nova prijava
GenericName[ca]=Entrada nova
GenericName[cs]=Nové přihlášení
GenericName[cy]=Mewngofnodiad Newydd
GenericName[da]=Nyt logind
GenericName[de]=Neu anmelden
GenericName[el]=Νέα Είσοδος
GenericName[en_CA]=New Login
GenericName[en_GB]=New Login
GenericName[es]=Pantalla de entrada nueva
GenericName[et]=Uus seanss
GenericName[eu]=Saio-hasiera berria
GenericName[fi]=Uusi kirjautuminen
GenericName[fr]=Nouvelle connexion
GenericName[ga]=Logann nua
GenericName[gl]=Nova sesión
GenericName[gu]=નવો પ્રવેશ
GenericName[he]=חיבור חדש
GenericName[hi]=नया लॉगइन
GenericName[hr]=Nova prijava
GenericName[hu]=Új bejelentkezés
GenericName[id]=Login Baru
GenericName[it]=Nuovo login
GenericName[ja]=新しいログイン
GenericName[ko]=새로 로그인
GenericName[ku]=Têketina Nû
GenericName[lt]=Naujas prisijungimas
GenericName[mk]=Ново најавување
GenericName[mn]=Шинэ нэвтрэлт
GenericName[mr]=नविन प्रवेश
GenericName[ms]=Logmasuk baru
GenericName[nb]=Ny innlogging
GenericName[ne]=नयाँ लग-इन
GenericName[nl]=Nieuwe aanmelding
GenericName[nn]=Ny innlogging
GenericName[no]=Ny innlogging
GenericName[nso]=Go Tsena go go Swa
GenericName[pa]=ਨਵਾਂ ਲਾਗਿੰਨ
GenericName[pl]=Nowy login
GenericName[pt]=Nova Sessão
GenericName[pt_BR]=Nova Sessão
GenericName[ro]=Autentificare nouă
GenericName[ru]=Новый сеанс
GenericName[sk]=Nové prihlásenie
GenericName[sl]=Nova prijava
GenericName[sq]=Login i Ri
GenericName[sr]=Нова пријава
GenericName[sr@Latn]=Nova prijava
GenericName[sv]=Ny inloggning
GenericName[ta]=புதிய நுழை
GenericName[th]=การเข้าระบบใหม่
GenericName[tr]=Yeni Giriş
GenericName[uk]=Новий сеанс
GenericName[vi]=Đăng nhập mới
GenericName[wa]=Novea elodjaedje
GenericName[xh]=Ungeno Olutsha
GenericName[zh_CN]=新登录
GenericName[zh_TW]=以新身分登入
GenericName[zu]=Umngenisi omusha
Comment=Log in as another user without logging out
Comment[af]=Meld aan as 'n ander gebruiker sonder om eers af te meld
Comment[ar]=سجل كمستخدم آخر دون الخروج
Comment[az]=Sistemdən çıxmadan yeni istifadəçi olaraq girin
Comment[be]=Увайсьці ў новы сэанс у якасьці іншага карыстальніка бяз выхаду з бягучага сэанса
Comment[bg]=Влизане като друг потребител без излизане от системата
Comment[bn]=লগ আউট না করে অপর কোন ব্যবহারকারীরূপে লগিন করুন
Comment[bs]=Prijavi se kao drugi korisnik bez odjavljivanja
Comment[ca]=Entreu com a un usuari distint sense sortir
Comment[cs]=Přihlásit se jako jiný uživatel bez odhlášení
Comment[cy]=Mewngofnodi fel defnyddiwr arall heb allgofnodi
Comment[da]=Log ind som en anden bruger uden at logge ud
Comment[de]=Neu anmelden, ohne sich abzumelden
Comment[el]=Είσοδος ως άλλος χρήστης χωρίς να αποσυνδεθείτε
Comment[en_CA]=Log in as another user without logging out
Comment[en_GB]=Log in as another user without logging out
Comment[es]=Entrar como otro usuario sin salir
Comment[eu]=Saioan beste erabiltzaile baten moduan sartu, saioa utzi gabe
Comment[fa]=ورود به سیستم به‌عنوان یک کاربر دیگر بدون خروج از سیستم
Comment[fi]=Kirjaudu sisään toisena käyttäjänä ilman uloskirjautumista
Comment[fr]=Se connecte sous une autre identité sans se déconnecter de la session en cours
Comment[gl]=Iniciar unha sesión como outro usuario sen saír da sesión actual
Comment[gu]=બહાર નીકળ્યા વગર બીજા વપરાશકર્તા તરીકે પ્રવેશ કરો
Comment[he]=התחבר עם שם משתמש אחר מבלי להתנתק
Comment[hi]=बिना लॉगआउट हुए अन्य उपयोक्ता के रूप में लॉगइन करें
Comment[hr]=Prijavi se kao drugi korisnik bez odjavljivanja
Comment[hu]=Bejelentkezés más felhasználó nevében kilépés nélkül
Comment[id]=Login sebagai pengguna lain tanpa logout
Comment[it]=Effettua un nuovo login senza chiudere la sessione corrente
Comment[ja]=ログアウトせずに別のユーザでログインします
Comment[ko]=로그아웃하지 않고 다른 사용자로 로그인 합니다
Comment[lt]=Neatsijungus prisijungti kitu naudotoju
Comment[lv]=Pieteikties kā citam lietotājam bez attiekšanās
Comment[mk]=Најави се како друг корисник без да се одјавиш
Comment[mn]=Өөрөө гаралгүйгээр өөр нэрээр нэвтрэх
Comment[mr]=बाहेर न पडता अन्य एक उपयोग कर्ता म्हणून प्रवेश करा
Comment[ms]=Log masuk sebagai pengguna lain tanpa log keluar
Comment[nb]=Logg inn som en annen bruker uten å logge ut
Comment[ne]=लगिङ्ग आउट नगरीकन अर्को प्रयोगकर्ताको रुपमा लग-इन गर्नुहोस्।
Comment[nl]=Aanmelden als andere gebruiker zonder eerst af te melden
Comment[nn]=Logg inn som ein anna brukar utan å logga ut
Comment[no]=Logg inn som en annen bruker uten å logge ut
Comment[nso]=Tsena bjalo ka modiriši yo mongwe ka ntle le go tšwa
Comment[pa]=ਬਾਹਰੀ ਦਰ ਤੋਂ ਬਗੈਰ ਉਪਭੋਗੀ ਦੇ ਤੌਰ ਤੇ ਲਾਗਿੰਨ ਕਰੋ
Comment[pl]=Logowanie jako inny użytkownik bez wylogowywania się
Comment[pt]=Iniciar sessão como outro utilizador sem terminar a actual
Comment[pt_BR]=Iniciar um nova sessão como um outro usuário sem sair da sessão atual
Comment[ro]=Autentificare cu un nou cont fără deautentificare
Comment[ru]=Окно начала нового сеанса в качестве другого пользователя без завершения старого сеанса
Comment[sk]=Prihlásenie ako iný používateľ bez odhlásenia
Comment[sl]=Prijavi se kot drug uporabnik, brez da bi se odjavil
Comment[sq]=Kryej një log in të ri pa mbyllur seancën aktuale
Comment[sr]=Пријави се као други корисник без одјављивања
Comment[sr@Latn]=Prijavi se kao drugi korisnik bez odjavljivanja
Comment[sv]=Logga in som en annan användare utan att logga ut
Comment[ta]=வேளியேறாமல் வேறோரு பயனராக நுழை
Comment[th]=เข้าระบบเป็นผู้ใช้อื่นโดยไม่ได้ออกจากระบบ
Comment[tr]=Çıkış yapmadan başka bir kullanıcıyla giriş yap
Comment[uk]=Вікно початку нового сеансу в якості іншого користувача без завершення старого сеансу
Comment[vi]=Đăng nhập với tên người dùng khác mà không cần đăng xuất.
Comment[wa]=S' elodjî come èn ôte uzeu sins s' dislodjî
Comment[xh]=Ngena njengomnye umsebenzisi ngaphandle kokuba uphume
Comment[zh_CN]=以其他用户登录但不注销
Comment[zh_TW]=在不登出的情況下以另一位使用者的身分登入
Comment[zu]=Ngena njengomunye umsebenzisi ngaphandle komngenisi -phuma
Exec=gdmflexiserver
Icon=gdm
Terminal=false
Type=Application
Categories=Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gdm
X-GNOME-Bugzilla-Component=general
