[Desktop Entry]
Encoding=UTF-8
Name=PostScript Viewer
Name[bg]=Програма за преглед на PostScript
Name[ca]=Visualitzador PostScript
Name[cs]=Prohlížeč PostScriptu
Name[da]=PostScript-fremviser
Name[de]=PostScript-Betrachter
Name[el]=Εφαρμογή προβολής PostScript
Name[en_CA]=PostScript Viewer
Name[en_GB]=PostScript Viewer
Name[es]=Visor PostScript
Name[et]=PostScript'i vaataja
Name[fi]=PostScript-katselin
Name[fr]=Visionneur PostScript
Name[gl]=Visor PostScript
Name[gu]=પોસ્ટસ્ક્રિપ્ટ દેખાડનાર
Name[hi]=पोस्टस्क्रिप्ट प्रदर्शक
Name[hu]=PostScript-néző
Name[it]=Visualizzatore PostScript
Name[ja]=ポストスクリプト・ビューア
Name[ko]=PostScript 보기
Name[lt]=PostScript dokumentų peržiūros programa
Name[mk]=Прегледувач за постскрипт
Name[nb]=PostScript-visning
Name[nl]=Postscriptviewer
Name[no]=PostScript-visning
Name[pa]=ਪੋਸਟ-ਸਕ੍ਰਿਪਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka PostScriptu
Name[pt]=Visualizador de PostScript
Name[pt_BR]=Visualizador de PostScript
Name[ro]=Vizualizator PostScript
Name[ru]=Программа просмотра PostScript
Name[sk]=Prehliadač pre PostScript
Name[sl]=Pregledovalnik PostScript datotek
Name[sq]=Shikuesi i PostScript
Name[sr]=Постскрипт прегледач
Name[sr@Latn]=Postskript pregledač
Name[sv]=Postscript-visare
Name[th]=อ่านโพสต์สคริปต์
Name[tr]=PostScript Görüntüleyici
Name[uk]=Програма перегляду PostScript
Name[vi]=Bộ xem PostScript
Name[xh]=IsiBonakalisi se-PostScript
Name[zh_CN]=PostScript 查看器
Name[zh_TW]=PostScript 預覽程式
Comment=View PostScript files
Comment[bg]=Преглед на PostScript файлове
Comment[ca]=Visualitzeu fitxers PostScript
Comment[cs]=ProhlížetPostScriptové soubory
Comment[da]=Vis PostScript-filer
Comment[de]=PostScript-Dateien anzeigen
Comment[el]=Προβολή αρχείων PostScript
Comment[en_CA]=View PostScript files
Comment[en_GB]=View PostScript files
Comment[es]=Vea archivos PostScript
Comment[et]=PostScript failide vaatamine
Comment[fi]=Katsele PostScript-tiedostoja
Comment[fr]=Affiche vos fichiers PostScript
Comment[gl]=Vexa ficheiros PostScript
Comment[gu]=પોસ્ટસ્ક્રિપ્ટ ફાઈલો જુઓ
Comment[hi]=पोस्टस्क्रिप्ट फाइल देखें
Comment[hu]=PostScript-fájlok megtekintése
Comment[it]=Visualizza i file PostScript
Comment[ja]=ポストスクリプトのファイルを閲覧します
Comment[ko]=PostScript 파일 보기
Comment[lt]=Skirta peržiūrėti PostScript dokumentams
Comment[mk]=Види постскрипт датотеки
Comment[nb]=Vis PostScript-filer
Comment[nl]=Postscriptbestanden weergeven
Comment[no]=Vis PostScript-filer
Comment[pa]=ਪੋਸਟ-ਸਕ੍ਰਿਪਟ ਫਾਇਲਾਂ ਵੇਖੋ
Comment[pl]=Przegląda pliki PostScriptowe
Comment[pt]=Visualize ficheiros PostScript
Comment[pt_BR]=Ver arquivos PostScript
Comment[ro]=Vizualizare fişiere PostScript
Comment[ru]=Просмотр документов в формате PostScript
Comment[sk]=Zobraziť postskriptové súbory
Comment[sl]=Pregledovalnik PostScript datotek
Comment[sq]=Shfaq files PostScript
Comment[sr]=Прегледај Постскрипт датотеке
Comment[sr@Latn]=Pregledaj Postskript datoteke
Comment[sv]=Visa Postscript-filer
Comment[th]=ดูแฟ้มโพสต์สคริปต์
Comment[tr]=PostScript dosyalarını görüntüle
Comment[uk]=Перегляд документів у форматі PostScript
Comment[vi]=Xem tập tin PostScript
Comment[xh]=Bonakalisa iifayili ze-PostSript
Comment[zh_CN]=查看 PostScript 文件
Comment[zh_TW]=預覽 PostScript 檔案
Icon=gnome-ghostview.png
Exec=ggv %U
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Application;Graphics;VectorGraphics;Viewer;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=GGV
X-GNOME-DocPath=ggv/ggv-xml
X-GNOME-Bugzilla-Component=general
MimeType=application/postscript;application/x-gzpostscript;
