[Desktop Entry]
Encoding=UTF-8
Name=Network Tools
Name[ar]=أدوات الشّبكة
Name[az]=Şəbəkə Vasitələri
Name[bg]=Мрежови инструменти
Name[bn]=নেটওয়ার্ক সংক্রান্ত টুল
Name[bs]=Mrežni alati
Name[ca]=Eines de xarxa
Name[cs]=Nástroje pro síť
Name[da]=Netværksværktøjer
Name[de]=Netzwerkdiagnose
Name[el]=Εργαλεία Δικτύου
Name[en_CA]=Network Tools
Name[en_GB]=Network Tools
Name[es]=Herramientas de red
Name[et]=Võrgutööriistad
Name[eu]=Sareko tresnak
Name[fa]=ابزارهای شبکه
Name[fi]=Verkkotyökalut
Name[fr]=Outils réseau
Name[gl]=Ferramentas de rede
Name[gu]=નેટવર્ક સાધનો
Name[hu]=Hálózati segédeszközök
Name[id]=Program Jaringan
Name[it]=Strumenti di rete
Name[ja]=ネットワーク・ツール
Name[ko]=네트워크 도구
Name[lt]=Tinklų įrankiai
Name[mk]=Мрежни алатки
Name[mn]=Мэдээллийн Хэрэгслүүд
Name[ms]=Alatan Rangkaian
Name[nb]=Nettverksverktøy
Name[ne]=सञ्जाल उपकरणहरु
Name[nl]=Netwerk tools
Name[no]=Nettverksverktøy
Name[pa]=ਨੈੱਟਵਰਕ ਸੰਦ
Name[pl]=Narzędzia sieciowe
Name[pt]=Ferramentas de Rede
Name[pt_BR]=Ferramentas de Rede
Name[ro]=Utilitare reţea
Name[ru]=Сетевые утилиты
Name[sk]=Sieťové nástroje
Name[sq]=Instrumentë për rrjetin
Name[sr]=Мрежни алати
Name[sr@Latn]=Mrežni alati
Name[sv]=Nätverksverktyg
Name[ta]=வலைப்பின்னல் கருவிகள்
Name[th]=ตรวจสอบเครือข่าย
Name[tr]=Ağ Araçları
Name[uk]=Мережні утиліти
Name[vi]=Công cụ mạng
Name[xh]=IziXhobo zoThungelwano
Name[zh_CN]=网络工具
Name[zh_TW]=網路工具
Comment=Network Information Tools
Comment[ar]=أدوات معلومات الشّبكة
Comment[az]=Şəbəkə Məlumat Vasitələri
Comment[bg]=Инструменти за мрежова информация
Comment[bn]=নেটওয়ার্কের তথ্য সংক্রান্ত টুল
Comment[bs]=Alati mrežnih informacija
Comment[ca]=Eines d'informació de xarxa
Comment[cs]=Nástroje pro informace o síti
Comment[da]=Værktøjer til visning af netværksoplysninger
Comment[de]=Netzwerkinformationsprogramme
Comment[el]=Εργαλεία πληροφορίων δικτύου
Comment[en_CA]=Network Information Tools
Comment[en_GB]=Network Information Tools
Comment[es]=Herramientas de información de red
Comment[et]=Võrguteabe tööriistad
Comment[eu]=Sareko informazio-tresnak
Comment[fa]=ابزارهای اطلاعات شبکه
Comment[fi]=Verkkotietotyökalut
Comment[fr]=Outils d'informations sur le réseau
Comment[gl]=Ferramentas de información de rede
Comment[gu]=નેટવર્ક જાણકારી સાધનો
Comment[hu]=Hálózati információs segédeszközök
Comment[id]=Program Informasi Jaringan
Comment[it]=Strumenti di informazione sulla rete
Comment[ja]=ネットワーク情報ツールです
Comment[ko]=네트워크 정보 도구
Comment[lt]=Tinklų informacijos įrankiai
Comment[mk]=Мрежни алатки за информации
Comment[mn]=Сүлжээний Мэдээллийн Хэрэгслүүд
Comment[ms]=Alatan Maklumat Rangkaian
Comment[nb]=Verktøy for nettverksinformasjon
Comment[ne]=सञ्जाल जानकारी उपकारणहरु
Comment[nl]=Netwerkinformatie tools
Comment[no]=Verktøy for nettverksinformasjon
Comment[pa]=ਨੈੱਟਵਰਕ ਜਾਣਕਾਰੀ ਸੰਦ
Comment[pl]=Narzędzia informujące o sieci
Comment[pt]=Ferramentas de Informação de Rede
Comment[pt_BR]=Ferramentas de Informações de Rede
Comment[ro]=Utilitare de investigare a reţelei
Comment[ru]=Сетевые информационные утилиты
Comment[sk]=Nástroje pre získanie sieťových informácií
Comment[sq]=Instrumentë për informacione mbi rrjetin
Comment[sr]=Алати за податке о мрежи
Comment[sr@Latn]=Alati za podatke o mreži
Comment[sv]=Nätverksinformationsverktyg
Comment[ta]=வலைப்பின்னல் தகவல் கருவிகள்
Comment[th]=เครื่องมือตรวจสอบข้อมูลเครือข่าย
Comment[tr]=Ağ Bilgi Araçları
Comment[uk]=Утиліти інформації про мережу
Comment[vi]=Công cụ thông tin mạng
Comment[xh]=IziXhobo zoLwazi zoThungelwano
Comment[zh_CN]=网络信息工具
Comment[zh_TW]=網路資訊工具
Exec=gnome-nettool
Icon=gnome-nettool.png
Terminal=false
Type=Application
Categories=Application;System;Utility;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-nettool
