[Desktop Entry]
Encoding=UTF-8
Name=Splash Screen
Comment=Select a splash screen image
Exec=gnome-splashscreen-manager
Icon=gnome-graphics
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
OnlyShowIn=GNOME;
