[Desktop Entry]
Encoding=UTF-8
Name=Add Applications
Name[ca]=Afegeix aplicacions
Name[de]=Anwendungen installieren
Name[fi]=Lisää ohjelmia
Name[fr]=Ajouter des applications
Name[pt]=Adicionar Aplicações
Name[pt_BR]=Adicionar Aplicações
Name[it]=Aggiungi Applicazione
Name[nl]=Installeer toepassingen
Name[hu]=Alkalmazások telepítése
Name[sk]=Pridať programy
Name[fa]=نصاب بسته های نرم افزاری
Name[es]=Añadir programas
GenericName=Package Manager
GenericName[de]=Paket Verwalter
GenericName[en_CA]=Package Manager
GenericName[es]=Gestor de paquetes
GenericName[fr]=Gestionnaire de paquets
GenericName[hu]=Csomagkezelő
GenericName[pl]=Menadżer pakietów
GenericName[sk]=Správca balíčkov
GenericName[sv]=Pakethanterare
GenericName[zh_CN]=软件包管理器
Comment=Install and remove applications
Comment[ca]=Instal·leu i desintal·leu aplicacions
Comment[de]=Ausgewählte Anwendungen hinzufügen und entfernen
Comment[fi]=Lisää ja poista sovelluksia
Comment[pt]=Instale e remova aplicações
Comment[pt_BR]=Instale e remova aplicações
Comment[fr]=Installer et supprimer des applications
Comment[nl]=Extra toepassingen installeren of overbodige toepassingen verwijderen
Comment[hu]=Alkalmazások telepítése és törlése
Comment[sk]=Pridávanie a odstraňovanie programov
Comment[fa]=بسته های نرم افزاری را نصب یا حذف نمایید
Comment[es]=Añadir y quitar programas
Exec=/usr/bin/gksudo /usr/bin/gnome-app-install
Icon=gnome-settings-default-applications
Terminal=false
Type=Application
Categories=PackageManager;GTK;System;Settings
