[Desktop Entry]
Name=GnomeBaker
Comment=GnomeBaker CD/DVD Writer
GenericName=CD/DVD Writer
Exec=gnomebaker
Icon=/usr/share/gnomebaker/gnomebaker-48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;AudioVideo;DiscBurning;
StartupNotify=true
