[Desktop Entry]
Encoding=UTF-8
Name=Recording Level Monitor
Name[bg]=Следене на нивото на запис
Name[ca]=Monitor del nivell d'enregistrament
Name[cs]=Sledování úrovně záznamu
Name[cy]=Monitor lefel recordio
Name[da]=Optageniveau-overvåger
Name[de]=Aufnahmepegel-Anzeige 
Name[el]=Παρακολούθηση επιπέδου ηχογράφησης
Name[en_CA]=Recording Level Monitor
Name[es]=Monitor del nivel de grabación
Name[et]=Salvestustaseme monitor
Name[fa]=نمایشگر سطح ضبط
Name[fi]=Äänitysvoimakkuuden monitori
Name[fr]=Moniteur de niveau d'enregistrement
Name[gu]=રેકોર્ડિંગ સ્તર મોનીટર
Name[hi]=रेकॉर्डिंग स्तर मॉनीटर
Name[hu]=Felvétel-hangerőmérő
Name[id]=Pantauan Tingkat Rekaman
Name[it]=Monitor del livello di registrazione
Name[ja]=録音レベル・モニタ
Name[ko]=녹음 레벨 감시기
Name[lt]=Įrašymo lygio matuoklis
Name[mk]=Надгледувач за ниво на снимање
Name[nb]=Nivåmåler for opptak
Name[nl]=Opnameniveau-observatie
Name[no]=Nivåmåler for opptak
Name[pa]=ਰਿਕਾਰਡ ਪੱਧਰ ਨਿਗਰਾਨ
Name[pl]=Monitor poziomu nagrywania
Name[pt]=Monitor de Nível de Gravação
Name[pt_BR]=Monitor de Nível de Gravação
Name[ro]=Monitor nivel înregistrare
Name[ru]=Индикатор уровня записи
Name[sk]=Sledovanie hlasitosti nahrávania
Name[sq]=Monitori i nivelit të regjistrimit
Name[sr]=Праћење јачине снимка
Name[sr@Latn]=Praćenje jačine snimka
Name[sv]=Inspelningsnivåmätare
Name[th]=หน้าปัดระดับสัญญาณที่กำลังบันทึก
Name[uk]=Індикатор рівня запису
Name[vi]=Bộ theo dõi mức thu
Name[zh_CN]=录音电平监视器
Name[zh_TW]=錄音音量計
Comment=Monitor the recording input volume
Comment[ar]=مراقبة شدة صوت الإدخال المسجل
Comment[az]=Geyd edilən giriş səsinə nəzarət et
Comment[be]=Індыкатар узроўню запісу
Comment[bg]=Следене входната сила при запис
Comment[bn]=রেকর্ডের ইনপুটের মাত্রা পর্যবেক্ষণ করুন
Comment[bs]=Nadgledajte ulaznu jačinu zvuka snimanja
Comment[ca]=Monitora el nivell d'enregistrament d'entrada
Comment[cs]=Sledování hlasitosti záznamu na vstupu
Comment[cy]=Arsylwi lefel sain y mewnbwn recordio
Comment[da]=Overvåg optagelydstyrken
Comment[de]=Den Eingangspegel für die Audioaufnahme anzeigen
Comment[el]=Παρακολούθηση της έντασης εγγραφής εισόδου ήχου
Comment[en_CA]=Monitor the recording input volume
Comment[en_GB]=Monitor the recording input volume
Comment[es]=Monitorizar el volumen de entrada de grabación.
Comment[et]=Monitoorib heli salvestamise taset
Comment[eu]=Kontrolatu grabazioaren sarrera-bolumena
Comment[fa]=نظارت بر بلندی صدای ورودی ضبط
Comment[fi]=Tarkkaile äänityksen äänenvoimakkuutta
Comment[fr]=Affiche le niveau sonore d'enregistrement
Comment[gl]=Monitorizar o volume de entrada de grabación
Comment[gu]=ઇનપુટ ધ્વનિનાં સ્તર પર નજર રાખો
Comment[he]=מציג את עוצמת כניסת ההקלטה
Comment[hi]=इनपुट ध्वनि आवाज़ निर्धारक मॉनीटर करें
Comment[hr]=Monitorirajte ulaznu jačinu zvuka snimanja
Comment[hu]=A felvétel bemeneti hangerejét figyeli
Comment[id]=Pantau volume input rekaman
Comment[it]=Misura il volume di ingresso per la registrazione
Comment[ja]=録音入力音量のモニタです
Comment[ko]=녹음 입력 볼륨을 감시합니다
Comment[lt]=Rodyti įrašomo garso garsumą
Comment[lv]=Monitorēt ieraksta ievades skaļumu
Comment[mk]=Следи ја јачината на звукот што се снима
Comment[mn]=Бичилтийн оролтын дууг илэрхийлэгч
Comment[ms]=Monitor volum input bagi perekodan
Comment[nb]=Nivåmåler for opptaksvolum
Comment[ne]=ध्वनिको आगत आवाज निगरानी गर
Comment[nl]=Opname-invoervolume bijhouden
Comment[nn]=Overvakar innkomande lydnivå
Comment[no]=Nivåmåler for opptaksvolum
Comment[pa]=ਰਿਕਾਰਡ ਇੰਨਪੁੱਟ ਆਵਾਜ਼ ਨਿਗਰਾਨ
Comment[pl]=Monitor poziomu głośności nagrywanego wejścia
Comment[pt]=Monitorizar o volume de entrada de gravação
Comment[pt_BR]=Monitore o volume de entrada da gravação
Comment[ro]=Monitorizează volumul de intrare la înregistrare
Comment[ru]=Программа для индикации уровня записи
Comment[sk]=Monitorovať hlasitosť nahrávacieho vstupu
Comment[sl]=Meri glasnost snemalnega vhoda
Comment[sq]=Monitor i volumit në hyrje të regjistrimit
Comment[sr]=Прати јачину улазног сигнала снимања
Comment[sr@Latn]=Prati jačinu ulaznog signala snimanja
Comment[sv]=Övervaka inspelningsvolymen
Comment[ta]=திரை ஒரு ஒலி உள்ளிட்டு ஒலியளவு 
Comment[th]=หน้าปัดระดับเสียงของสัญญาณขาเข้าที่กำลังบันทึก
Comment[tr]=Kayıt giriş sesini izleyin
Comment[uk]=Індикатор рівня запису
Comment[vi]=Theo dõi âm lượng thu gõ
Comment[wa]=Corwaitî li volume en intrêye po l' eredjistraedje
Comment[xh]=Beka iliso ukungena kokushicilela isandi
Comment[zh_CN]=监视录音输入音量
Comment[zh_TW]=監控錄音音量
Exec=vumeter -r
Icon=gnome-reclevel.png
Terminal=false
Type=Application
Categories=GNOME;Application;AudioVideo;
