[Desktop Entry]
Name=Services
Name[ar]=الخدمات
Name[az]=Xidmətlər
Name[bg]=Услуги
Name[bn]=পরিসেবা
Name[ca]=Serveis
Name[cs]=Služby
Name[da]=Tjenester
Name[de]=Dienste
Name[el]=Υπηρεσίες
Name[en_CA]=Services
Name[en_GB]=Services
Name[es]=Servicios
Name[et]=Teenused
Name[eu]=Zerbitzuak
Name[fi]=Palvelut
Name[fr]=Services
Name[gl]=Servizos
Name[gu]=સેવાઓ
Name[hi]=सेवाएँ
Name[hr]=Servisi
Name[hu]=Szolgáltatások
Name[id]=Layanan
Name[it]=Servizi
Name[ja]=サービスの管理
Name[ko]=서비스
Name[lt]=Paslaugų nustatymai
Name[mk]=Сервиси
Name[mn]=Үйлчилгээ
Name[ms]=Servis
Name[nb]=Tjenester
Name[ne]=सेवाहरु
Name[nl]=Services
Name[no]=Tjenester
Name[pa]=ਸੇਵਾਵਾਂ
Name[pl]=Usługi
Name[pt]=Serviços
Name[pt_BR]=Serviços
Name[ro]=Servicii
Name[ru]=Службы
Name[sk]=Služby
Name[sq]=Shërbimet
Name[sr]=Услужни програми
Name[sr@Latn]=Uslužni programi
Name[sv]=Tjänster
Name[ta]=சேவைகள்
Name[th]=บริการระบบ
Name[tr]=Hizmetler
Name[uk]=Служби
Name[vi]=Dịch vụ
Name[wa]=Siervices
Name[xh]=Iinkonzo
Name[zh_CN]=服务
Name[zh_TW]=服務
Comment=Configure which services will be run when the system starts
Comment[ar]=إعداد أي الخدمات ستشغّل عند بدء النّظام
Comment[bg]=Настройка на услугите, които ще се стартират, при стартиране на системата
Comment[bn]=সিস্টেম আরম্ভের কালে কোন পরিসেবাগুলো চালানো হবে তা কনফিগার করুন
Comment[ca]=Configureu els serveis que s'executaran quan s'iniciï el sistema
Comment[cs]=Nastavit, které služby budou spuštěny při startu systému
Comment[da]=Konfigurér hvilke tjenester der vil blive kørt når systemet starter
Comment[de]=Festlegen, welche Dienste beim Systemstart ausgeführt werden sollen
Comment[el]=Ρύθμιση των υπηρεσιών που θα εκτελούνται κατά την εκκίνηση του συστήματος
Comment[en_CA]=Configure which services will be run when the system starts
Comment[en_GB]=Configure which services will be run when the system starts
Comment[es]=Configurar qué servicios serán ejecutados cuando el sistema se inicie
Comment[et]=Süsteemi käivitamisel käivitatavate teenuste valimine
Comment[eu]=Konfiguratu zein zerbitzu exekutatuko diren sistema abiatzen denean
Comment[fi]=Määrittele mitä palveluita suoritetaan järjestelmän käynnistyessä
Comment[fr]=Configurer les services à lancer au démarrage du système
Comment[gl]=Configurar qué servizos serán executados cando o sistema se inicie
Comment[gu]=જ્યારે સિસ્ટમ શરુ થાય ત્યારે કઈ સેવા ચાલુ થાય તે રુપરેખાંકિત કરો
Comment[hi]=विन्यस्त करें कौन सेवायें चलेगी जब सिस्टम शुरू होगा
Comment[hr]=Podesite koji uslužni programi se pokreću pri pokretanju sustava
Comment[hu]=A rendszer indításakor futtatandó szolgáltatások beállítása
Comment[id]=Atur layanan yang akan dijalankan saat komputer dinyalakan
Comment[it]=Configura i servizi che verranno lanciati alla partenza del sistema
Comment[ja]=システムの起動時に実行するサービスを設定します
Comment[ko]=시스템이 시작할 때 실행할 서비스를 설정합니다
Comment[lt]=Konfigūruojama paslaugos paleidžiamos startuojant sistemai
Comment[mk]=Конфигурирај кои сервиси да бидат извршени при подигнување на системот
Comment[ms]=Konfigurasi servis yang mana akan dilaksanakan bila sistem bermula
Comment[nb]=Konfigurer hvilke tjenester som skal kjøres når systemet starter
Comment[ne]=प्रणाली शुरु हुँदा कुन सेवाहरु सञ्चालन गर्ने हो कन्फिगर गर्नुहोस्
Comment[nl]=Configureren welke services bij starten van de computer geactiveerd worden
Comment[no]=Konfigurer hvilke tjenester som skal kjøres når systemet starter
Comment[pa]=ਸਿਸਟਮ ਦੇ ਚਾਲੂ ਹੋਣ ਸਮੇਂ ਕਿਹੜੀ ਸੇਵਾ ਚਲਾਈ ਜਾਵੇ, ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Konfiguracja usług uruchamianych podczas rozruchu systemu
Comment[pt]=Configurar que serviços serão executados ao iniciar o sistema
Comment[pt_BR]=Configure quais serviços serão executados quando o sistema iniciar
Comment[ro]=Configurarea serviciilor ce vor fi pornite la iniţializarea sistemului
Comment[ru]=Установить какие службы будут запущенны при загрузке системы
Comment[sk]=Nastavenie služieb, ktoré sa budú pri štarte systému spúšťať
Comment[sq]=Konfigurimi i shërbimeve që duhen filluar kur niset sistemi
Comment[sr]=Подесите који услужни програми се покрећу при покретању система
Comment[sr@Latn]=Podesite koji uslužni programi se pokreću pri pokretanju sistema
Comment[sv]=Konfigurera vilka tjänster som körs då systemet startar
Comment[ta]=கணினி துவங்கும் போது இயக்கப்பட வேண்டிய சேவைகளை அமைக்கவும்
Comment[th]=ตั้งค่าบริการระบบที่จะเปิดเมื่อเปิดเครื่อง
Comment[tr]=Sistem açıldığında hangi hizmetlerin çalıştırılacağını seçin
Comment[uk]=Визначення служб, що запускатимуться із запуском системи
Comment[vi]=Cấu hình sẽ chạy những dịch vụ nào khi hệ thống khởi động.
Comment[wa]=Apontyîz les siervices a-z enonder cwand l' sistinme est enondé
Comment[xh]=Misa ukuba zeziphi na iinkonzo eziya kusebenza xa inkqubo iqalisa
Comment[zh_CN]=配置要在系统启动时使用哪些服务
Comment[zh_TW]=設定當系統啟動時要執行哪項服務
Exec=gksudo services-admin
Icon=/usr/share/gnome-system-tools/pixmaps/services.png
Terminal=false
Type=Application
Categories=Application;System;Settings
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-system-tools
X-GNOME-Bugzilla-Component=runlevel-admin
X-GNOME-Bugzilla-Version=1.4.0
StartupNotify=true
Encoding=UTF-8
