[Desktop Entry]
Encoding=UTF-8
Name=Sessions
Name[af]=Sessies
Name[am]=ክፍለ ጊዜዎች
Name[ar]=الجلسات
Name[az]=İclaslar
Name[be]=Сэансы
Name[bg]=Сесии
Name[bn]=সেশন সমূহ
Name[bs]=Sesije
Name[ca]=Sessions
Name[cs]=Sezení
Name[cy]=Sesiynau
Name[da]=Sessioner
Name[de]=Sitzungen
Name[el]=Συνεδρίες
Name[en_CA]=Sessions
Name[en_GB]=Sessions
Name[eo]=Sesioj
Name[es]=Sesiones
Name[et]=Seansid
Name[eu]=Saioak
Name[fa]=نشست‌ها
Name[fi]=Istunnot
Name[fr]=Sessions
Name[ga]=Seisiún
Name[gl]=Sesións
Name[gu]=સત્રો
Name[he]=תצורות הפעלה
Name[hi]=सत्रें
Name[hr]=Sesije
Name[hu]=Munkamenetek
Name[hy]=Սեանսներ կամ ենթահամակարգեր
Name[id]=Sesi
Name[is]=Setur
Name[it]=Sessioni
Name[ja]=セッション
Name[kn]=ಅಧಿವೇಶನಗಳು
Name[ko]=세션
Name[lt]=Sesijos
Name[lv]=Sesijas
Name[mi]=Ngā Wāhanga
Name[mk]=Сесии
Name[ml]=അവസ്ഥകള്
Name[mn]=Суултууд
Name[mr]=सत्र
Name[ms]=Sesi
Name[nb]=Sesjoner
Name[ne]=बैठकहरु
Name[nl]=Sessies
Name[nn]=Økter
Name[no]=Sesjoner
Name[nso]=Mananeo
Name[pa]=ਅਜਲਾਸ
Name[pl]=Sesje
Name[pt]=Sessões
Name[pt_BR]=Sessões
Name[ro]=Sesiuni
Name[ru]=Сеансы
Name[sk]=Sedenia
Name[sl]=Seje
Name[sq]=Seanca
Name[sr]=Сесије
Name[sr@Latn]=Sesije
Name[sv]=Sessioner
Name[ta]=அமர்வுகள்
Name[th]=วาระ
Name[tk]=Oturşuklar
Name[tr]=Oturumlar
Name[uk]=Сеанси
Name[vi]=Phiên làm việc
Name[wa]=Sessions
Name[xh]=Iiseshoni
Name[zh_CN]=会话
Name[zh_TW]=作業階段
Name[zu]=Iziqephu
Comment=Configure your sessions
Comment[af]=Stel jou sessies op
Comment[am]=ክፍለ ጊዜዎትን ያስተካክሉ
Comment[ar]=أعد جلساتك
Comment[az]=İclaslarınızı quraşdırın
Comment[be]=Наладка вашага сэанса
Comment[bg]=Конфигурация на сесиите
Comment[bn]=আপনার সেশন কনফিগার করুন
Comment[bs]=Konfogiriši svoje sesije
Comment[ca]=Configureu les vostres sessions
Comment[cs]=Nastavení vašich sezení
Comment[cy]=Ffurfosod eich sesiynau
Comment[da]=Konfigurér dine sessioner
Comment[de]=Ihre Sitzungen konfigurieren
Comment[el]=Ρύθμιση των συνεδριών σας
Comment[en_CA]=Configure your sessions
Comment[en_GB]=Configure your sessions
Comment[eo]=Agordu viajn sesiojn
Comment[es]=Configurar sus sesiones
Comment[et]=Seansside häälestamine
Comment[eu]=Konfiguratu zure saioak
Comment[fa]=نشست‌هایتان را پیکربندی کنید
Comment[fi]=Muuta istuntojen asetuksia
Comment[fr]=Paramètre vos sessions
Comment[gl]=Configurar as sesións
Comment[gu]=તમારા સત્રને રુપરેખાંકિત કરો
Comment[he]=הגדר את תצורות ההפעלה שלך
Comment[hi]=अपने सत्र काफिगर करें
Comment[hr]=Podešavanje sesije
Comment[hu]=Munkamenet beállítása
Comment[hy]=Ձեր սեանսի կոնֆիգուրացիաները կարգավորել
Comment[id]=Konfigurasikan sesi
Comment[is]=Stilla setur
Comment[it]=Configura le sessioni
Comment[ja]=お使いのセッションを編集します
Comment[ko]=세션 설정
Comment[lt]=Konfigūruokite savo sesijas
Comment[lv]=Konfigurē savas sesijas
Comment[mk]=Конфигурирај ги твоите сесии
Comment[ml]=നിങ്ങളുടെ പ്രവര്‌ത്തനകാലം വിന്യസിക്കുക
Comment[mn]=Суултаа тохируулах
Comment[mr]=तुमचे सत्र संकलीत करा
Comment[ms]=Konfigurasi sesi anda
Comment[nb]=Konfigurer dine sesjoner
Comment[ne]=तपाइको बैठकहरु को ढाँचा
Comment[nl]=Configureer uw sessies
Comment[nn]=Set opp øktene dine
Comment[no]=Konfigurer dine sesjoner
Comment[nso]=Fetola sebopego sa mananeo a gago
Comment[pa]=ਆਪਣੇ ਅਜਲਾਸ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Konfiguracja sesji użytkownika
Comment[pt]=Configurar as suas sessões
Comment[pt_BR]=Configure suas sessões
Comment[ro]=Configuraţi sesiunile proprii
Comment[ru]=Диалог настроек сеанса
Comment[sk]=Nastavenie vašich sedení
Comment[sl]=Nastavi vašo sejo
Comment[sq]=Konfiguro seancën tënde
Comment[sr]=Подесите ваше сесије
Comment[sr@Latn]=Podesite vaše sesije
Comment[sv]=Konfigurera dina sessioner
Comment[ta]=உங்கள் அமர்வை வடிவமைக்கவும்
Comment[th]=ตั้งค่าสำหรับวาระของคุณ
Comment[tr]=Oturumlarınızı yapılandırın
Comment[uk]=Налаштовування сеансів
Comment[vi]=Cấu hình các phiên làm việc của bạn
Comment[wa]=Apontyî vos sessions
Comment[xh]=Misela iiseshoni zakho
Comment[zh_CN]=配置对话
Comment[zh_TW]=設定作業階段
Comment[zu]=Shintsha isimo seziqephu zakho
Exec=gnome-session-properties
Icon=gnome-session
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Settings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-session
X-GNOME-Bugzilla-Component=gnome-session
X-GNOME-Bugzilla-Version=2.12.0
