[Desktop Entry]
Encoding=UTF-8
Name=Totem Movie Player
Name[ar]=عارض الأفلام طوطم
Name[az]=Totem Video Çalğıcısı
Name[be]=Татэм
Name[bg]=Гледане на филми (Totem)
Name[bn]=টোটেম মুভি প্লেয়ার
Name[ca]=Reproductor de vídeo Totem
Name[cs]=Přehrávač filmů Totem
Name[cy]=Chwaraewr Ffilmiau Totem
Name[da]=Totem - filmafspiller
Name[de]=Totem Video-Player
Name[el]=Totem Movie Player
Name[en_CA]=Totem Movie Player
Name[en_GB]=Totem Movie Player
Name[es]=Reproductor de películas Totem
Name[et]=Totem filmiesitaja
Name[eu]=Totem film-erreproduzigailua
Name[fa]=پخش‌کننده‌ی فیلم توتم
Name[fi]=Totem-elokuvasoitin
Name[fr]=Lecteur vidéo Totem
Name[ga]=Imreoir scannán Totem
Name[gl]=Reproductor de películas Totem
Name[gu]=ટોટેમ મુવી પ્લેયર
Name[he]=נגן הסרטים Totem
Name[hi]=टोटेम मूवी खिलाड़ी
Name[hr]=Alsa Player
Name[hu]=Totem filmlejátszó
Name[id]=Totem Pemutar Film
Name[is]=Totem myndspilari
Name[it]=Lettore multimediale Totem
Name[ja]=Totem 動画プレイヤー
Name[ko]=Totem 영화 플레이어
Name[lt]=Totem filmų grotuvas
Name[lv]=Totem Filmu Atskaņotājs
Name[mk]=Тотем гледач
Name[ms]=Pemain Cereka Totem
Name[nb]=Totem filmavspiller
Name[ne]=टोटेम चलचित्र बजाउने 
Name[nl]=Totem mediaspeler
Name[no]=Totem filmavspiller
Name[pa]=ਟੋਟੇਮ ਵੀਡਿਓ ਪਲੇਅਰ
Name[pl]=Totem - odtwarzacz filmów
Name[pt]=Reprodutor de Filmes Totem
Name[pt_BR]=Reprodutor de Filmes Totem
Name[ro]=Player-ul multimedia Totem
Name[ru]=Видеопроигрыватель Totem
Name[sk]=Prehrávač filmov Totem
Name[sq]=Totem - Lexues Filmash
Name[sr]=Пуштање филмова Тотемом
Name[sr@Latn]=Puštanje filmova Totemom
Name[sv]=Filmspelaren Totem
Name[te]=టొటెమ్ చిత్రం ఆడించునది
Name[th]=เล่นหนังด้วย Totem
Name[tr]=Totem Film Oynatıcı
Name[ug]=Totem كىنو قويغۇچ 
Name[uk]=Програвач відео "Тотем"
Name[vi]=Bộ phát phim Totem
Name[wa]=Djouweu videyo Totem
Name[xh]=Into Edlala Ibhanya-bhanya le-Totem
Name[zh_CN]=Totem 电影播放机
Name[zh_TW]=Totem 影片播放器
Comment=Play movies and songs
Comment[ar]=عرض أفلام و موسيقى
Comment[az]=Film və mahnlıarı seyr edin və dinləyin
Comment[be]=Грае фільмы й сьпевы
Comment[bg]=Гледане на филми и слушане на песни
Comment[bn]=চলচ্চিত্র দেখাও এবং গান বাজাও
Comment[ca]=Reprodueix vídeos i cançons
Comment[cs]=Přehrávání filmů a písniček
Comment[cy]=Chwarae ffilmiau a chaneuon
Comment[da]=Afspil film og sange
Comment[de]=Filme und Musik wiedergeben
Comment[el]=Αναπαραγωγή τραγουδιών και ταινιών
Comment[en_CA]=Play movies and songs
Comment[en_GB]=Play movies and songs
Comment[es]=Reproducir películas y canciones
Comment[et]=Filmide ja muusika esitamine
Comment[eu]=Erreproduzitu filmak eta kantak
Comment[fa]=پخش فیلم و آهنگ
Comment[fi]=Toista elokuvia ja musiikkia
Comment[fr]=Lit vos films et vos musiques
Comment[ga]=Cas scannán agus ceol
Comment[gl]=Reproducir películas e cancións
Comment[gu]=ફિલ્મો અને ગીતો વગાડો
Comment[he]=מנגן סרטים ושירים
Comment[hi]=बजाएँ मूवी और गीत
Comment[hu]=Filmek és dalok lejátszása
Comment[id]=Mainkan film dan lagu
Comment[is]=Leika kvikmyndir og tónlist
Comment[it]=Riproduttore di filmati e musica
Comment[ja]=動画や音楽を再生します
Comment[ko]=영화와 음악 재생
Comment[lt]=Žiūrėti filmams ir klausytis muzikos
Comment[lv]=Atskaņot filmas un dziesmas
Comment[mk]=Пушти филмови и песни
Comment[ms]=Mainkan cereka dan lagu
Comment[nb]=Spill av filmer og sanger
Comment[ne]=चलचित्र र गीत बजाउनुहोला ।
Comment[nl]=Films en liedjes afspelen
Comment[no]=Spill av filmer og sanger
Comment[pa]=ਵੀਡਿਓ ਅਤੇ ਗਾਣੇ ਚਲਾਓ
Comment[pl]=Odtwarzacz filmów i muzyki
Comment[pt]=Reproduzir filmes e músicas
Comment[pt_BR]=Reproduza filmes e músicas
Comment[ro]=Redă filme şi melodii
Comment[ru]=Мультимедийный проигрыватель
Comment[sk]=Prehrávať filmy a hudbu
Comment[sq]=Luaj filmat dhe këngët
Comment[sr]=Пуштање филмова и песама
Comment[sr@Latn]=Puštanje filmova i pesama
Comment[sv]=Spela filmer och låtar
Comment[th]=เล่นภาพยนตร์และเพลง
Comment[tr]=Filmleri ve şarkıları çal
Comment[ug]=كىنو ۋە ناخشىلارنى قويۇش
Comment[uk]=Відтворення відео і звуку
Comment[vi]=Phát phim và nhạc
Comment[wa]=Djouwer des videyos et des tchansons
Comment[xh]=Dlala imifanekiso-bhanyabhanya neengoma
Comment[zh_CN]=播放电影和歌曲
Comment[zh_TW]=播放影片及歌曲
Exec=totem %U
Icon=media-player-48.png
Terminal=false
Type=Application
DocPath=
Categories=GNOME;Application;AudioVideo;Player;X-Ximian-Main;X-Red-Hat-Base;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=totem
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=1.2.0
StartupNotify=true
MimeType=application/x-extension-mp4;application/x-extension-m4a;application/x-shorten;video/mp4;video/dv;video/mpeg;video/x-mpeg;video/msvideo;video/quicktime;video/x-anim;video/x-avi;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-flc;video/x-fli;video/3gpp;audio/3gpp;application/ogg;application/x-ogg;application/x-matroska;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-wav;audio/x-mpegurl;audio/mpegurl;audio/x-scpls;audio/x-m4a;audio/mp4;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;application/vnd.rn-realmedia;audio/x-real-audio;audio/x-pn-realaudio;application/x-flac;audio/x-flac;application/x-shockwave-flash;misc/ultravox;audio/vnd.rn-realaudio;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-pn-windows-acm;image/vnd.rn-realpix;video/vnd.rn-realvideo;audio/x-pn-realaudio-plugin;