[Desktop Entry]
Name=Update Manager
Name[da]=Opdateringshåndtering
Name[de]=Aktualisierungsverwaltung
Name[en_CA]=Update Manager
Name[es]=Gestor de actualizaciones
Name[fi]=Päivitysten hallinta
Name[fr]=Gestionnaire de mises à jour
Name[hu]=Frissítéskezelő
Name[ja]=アップデートマネージャー
Name[pl]=Menadżer aktualizacji
Name[sv]=Uppdateringshanterare
Name[zh_CN]=更新管理器
GenericName=Update Manager
GenericName[da]=Opdateringshåndtering
GenericName[de]=Aktualisierungsverwaltung
GenericName[en_CA]=Update Manager
GenericName[es]=Gestor de actualizaciones
GenericName[fi]=Päivitysten hallinta
GenericName[fr]=Gestionnaire de mises à jour
GenericName[hu]=Frissítéskezelő
GenericName[ja]=アップデートマネージャー
GenericName[pl]=Menadżer aktualizacji
GenericName[sv]=Uppdateringshanterare
GenericName[zh_CN]=更新管理器
Comment=Show available updates and choose which to install
Comment[da]=Vis tilgængelige opgraderinger og vælg hvilke der skal installeres
Comment[de]=Verfügbare Aktualisierungen anzeigen und zu installierende auswählen
Comment[en_CA]=Show available updates and choose which to install
Comment[es]=Mostrar actualizaciones disponibles y elegir cuáles instalar
Comment[fi]=Näytä saatavilla olevat päivitykset ja valitse asennettavat
Comment[fr]=Montre les mises à jours disponibles et choisir celles à installer
Comment[hu]=Rendelkezésre álló frissítések mutatása és telepítése
Comment[ja]=アップデート可能なファイルの表示とインストール
Comment[pl]=Wyświetla dostępne aktualizacje i pozwala wybrać te, które chcemy zainstalować
Comment[sv]=Visa tillgängliga uppdateringar och välj vilka som ska installeras
Comment[zh_CN]=显示可用的更新并选择要安装的更新
Exec=gksudo /usr/bin/update-manager
Icon=update-manager.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
