[Desktop Entry]
Encoding=UTF-8
Name=Volume Monitor
Name[bg]=Следене на силата на звука
Name[ca]=Monitor de volum
Name[cs]=Sledování hlasitosti
Name[cy]=Monitor lefel sain
Name[da]=Lydstyrke-overvåger
Name[de]=Lautstärkeanzeige
Name[el]=Παρακολούθηση έντασης ήχου
Name[en_CA]=Volume Monitor
Name[es]=Monitor de volumen
Name[et]=Helitugevuse monitor
Name[fa]=نمایشگر بلندی صدا
Name[fi]=Äänenvoimakkuusmonitori
Name[fr]=Moniteur de volume
Name[gu]=વોલ્યુમ મોનીટર
Name[hi]=आवाज़ मॉनीटर
Name[hu]=Hangerőmérő
Name[id]=Pantauan Volume
Name[it]=Monitor del volume
Name[ja]=音量モニタ
Name[ko]=볼륨 감시기
Name[lt]=Garsumo matuoklis
Name[mk]=Надгледувач на звукот
Name[nb]=Nivåmåler for volum
Name[nl]=Volume-observatie
Name[no]=Nivåmåler for volum
Name[pa]=ਅਵਾਜ਼ ਨਿਗਰਾਨ
Name[pl]=Monitor głośności
Name[pt]=Monitor de Volume
Name[pt_BR]=Monitor de Volume
Name[ro]=Monitor volum
Name[ru]=Индикатор громкости
Name[sk]=Sledovanie hlasitosti
Name[sq]=Monitor i Volumit
Name[sr]=Праћење јачине звука
Name[sr@Latn]=Praćenje jačine zvuka
Name[sv]=Volymmätare
Name[th]=หน้าปัดระดับเสียง
Name[uk]=Індикатор гучності
Name[vi]=Bộ theo dõi âm lượng
Name[zh_CN]=音量监视器
Name[zh_TW]=音量計
Comment=Monitor the sound output volume
Comment[ar]=مراقبة شدة صوت الإخراج الصوتي
Comment[az]=Çıxış səsin səviyyəsinə nəzarət et
Comment[be]=Індыкатар узроўню ўводу
Comment[bg]=Следене на изходната сила на звука
Comment[bn]=শব্দের আউটপুট মাত্রার উপরে নজর রাখো
Comment[bs]=Nadgledajte izlaznu jačinu zvuka
Comment[ca]=Monitora el volum de so de sortida
Comment[cs]=Sledování hlasitosti zvukového výstupu
Comment[cy]=Arsylwi lefel sain yr allbwn
Comment[da]=Overvåg afspilningslydstyrken
Comment[de]=Den Audio-Ausgangspegel anzeigen
Comment[el]=Παρακολούθηση της έντασης εξόδου ήχου
Comment[en_CA]=Monitor the sound output volume
Comment[en_GB]=Monitor the sound output volume
Comment[es]=Monitorizar el volumen de salida de grabación.
Comment[et]=Montoorib heliväljundit
Comment[eu]=Kontrolatu soinuaren irteera-bolumena
Comment[fa]=نظارت بر بلندی صدای خروجی
Comment[fi]=Tarkkaile ulostulon äänenvoimakkuutta
Comment[fr]=Affiche le niveau sonore en sortie
Comment[gl]=Monitorizar o volume de saída de grabación
Comment[gu]=ધ્વનિ આઉટપુટનાં સ્તર પર નજર રાખો
Comment[he]=מציג את עוצמת יציאת הקול
Comment[hi]=ध्वनि आउटपुट आवाज़ निर्धारक मॉनीटर करें
Comment[hr]=Monitorirajte izlaznu jačinu zvuka
Comment[hu]=A kimenet hangerejét figyeli
Comment[id]=Pantau volume suara
Comment[it]=Monitor del volume dell'audio in uscita
Comment[ja]=音声出力音量のモニタです
Comment[ko]=사운드 출력 볼륨을 감시합니다
Comment[lt]=Rodyti išvedamo garso garsumą
Comment[lv]=Novērot skaņas izvades skaļumu
Comment[mk]=Следи ја јачината на излезниот звук
Comment[mn]=Дуу авиа гаргалтыг илэрхийлэгч
Comment[ms]=Monitor volum output bunyi
Comment[nb]=Overvåk utgangsnivå for volum
Comment[ne]=ध्वनिको निर्गत आवाज  निगरानी गर
Comment[nl]=Geluidsuitvoervolume bijhouden
Comment[nn]=Overvakar utgåande lydnivå
Comment[no]=Overvåk utgangsnivå for volum
Comment[pa]=ਧੁਨੀ ਆਉਟਪੁੱਟ ਆਵਾਜ਼ ਨਿਗਰਾਨੀ ਕਰਨ ਲਈ
Comment[pl]=Monitor poziomu głośności generowanego dźwięku
Comment[pt]=Monitorizar o volume de som de saída
Comment[pt_BR]=Monitore o volume de saída de som
Comment[ro]=Monitorizează volumul de ieşire pentru sunet
Comment[ru]=Программа для индикации уровня громкости
Comment[sk]=Monitorovať hlasitosť zvukového výstupu
Comment[sl]=Meri izhodno glasnost zvoka
Comment[sq]=Monitor i volumit në dalje të zërit
Comment[sr]=Прати јачину излаза звука
Comment[sr@Latn]=Prati jačinu izlaza zvuka
Comment[sv]=Övervaka ljudvolymen
Comment[ta]=திரை ஒரு ஒலி வெளியிட்டு ஒலியளவு 
Comment[th]=หน้าปัดระดับสัญญาณเสียงขาออก
Comment[tr]=Ses çıkışını izleyin
Comment[uk]=Індикатор рівня виходу звуку
Comment[vi]=Theo dõi âm lượng xuất
Comment[wa]=Corwaitî li volume e rexhowe do son
Comment[xh]=Beka iliso isiphumo sokushicilela isandi
Comment[zh_CN]=监视声音输出音量
Comment[zh_TW]=監控輸出音量
Exec=vumeter
Icon=gnome-vumeter.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Application;AudioVideo;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=VU-meter

