PATH=/srv/cdimage.ubuntu.com/bin:/usr/bin:/bin

# CD image cron jobs, run out of cdimage's crontab.
#31 7 * * *	for-project ubuntu cron.daily; for-project ubuntu cron.daily-live
#17 12 * * 2,6	for-project ubuntu cron.dvd
#14 5 * * *	for-project kubuntu cron.daily; for-project kubuntu cron.daily-live
#47 20 * * 1,5	for-project kubuntu cron.dvd
#32 2 * * *	for-project ubuntu cron.ports_daily; for-project ubuntu cron.ports_daily-live
#1 15 * * *	for-project kubuntu cron.ports_daily; for-project kubuntu cron.ports_daily-live
#44 0 * * *	for-project edubuntu cron.daily; for-project edubuntu cron.daily-live
#59 16 * * 3,7	for-project edubuntu cron.dvd
#55 9 * * *	for-project xubuntu cron.daily; for-project xubuntu cron.daily-live
#29 10 * * *	for-project ubuntu-server cron.daily; for-project ubuntu-server cron.ports_daily
#17 6 * * *	for-project ubuntustudio cron.daily
#19 6 * * *	for-project mythbuntu cron.daily
#46 4 * * *	build-livecd-base
