#!/usr/bin/make -f

# Gnome Team
include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk
# get-orig-source target
-include /usr/share/gnome-pkg-tools/1/rules/gnome-get-source.mk

include /usr/share/cdbs/1/rules/debhelper.mk
# Including this gives us a number of rules typical to a GNOME
# program, including setting GCONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1.
# Note that this class inherits from autotools.mk and docbookxml.mk,
# so you don't need to include those too.
include /usr/share/cdbs/1/class/gnome.mk

# must be included after "autotools" (which is included in "gnome")
include /usr/share/cdbs/1/rules/dpatch.mk
# it seems one needs to setup dpatch manually despite the CDBS support
include /usr/share/dpatch/dpatch.make

LDFLAGS += -Wl,-z,defs -Wl,-O1

DEB_CONFIGURE_EXTRA_FLAGS += --disable-schemas-install \
	--enable-disks \
	--disable-scrollkeeper

DEB_DH_MAKESHLIBS_ARGS_gnome-system-tools += -n

binary-install/gnome-system-tools::
	rm -rf debian/gnome-system-tools/var/scrollkeeper
	# boot-admin is disabled (see #309932), also remove some associated files
	rm -rf debian/gnome-system-tools/usr/share/omf/boot-admin
	rm -rf debian/gnome-system-tools/usr/share/gnome/help/boot-admin
	rm -rf debian/gnome-system-tools/usr/share/gnome-system-tools/interfaces/boot.glade
	rm -rf debian/gnome-system-tools/usr/share/gnome-system-tools/pixmaps/boot.png
	rm -rf debian/gnome-system-tools/usr/share/gnome-system-tools/pixmaps/boot.xpm
	# don't install shares-admin since nautilus-share is used now
	rm -rf debian/gnome-system-tools/usr/lib/nautilus

build/gnome-system-tools::
	cd doc/network; make pot
	cd doc/services; make pot
	cd doc/time; make pot
	cd doc/users; make pot
