[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Comunidad Guadalinex
Name[es]=Comunidad Guadalinex
Comment=Obtener ayuda de otros usuarios de Guadalinex
Exec=firefox %u http://www.guadalinex.org/distro/V5/foros
Terminal=false
Type=Application
Icon=stock_new-meeting
Categories=GNOME;GTK;Core;Help;
GenericName[es_ES]=
