Source: amigu
Section: utils
Priority: extra
Maintainer: Junta de Andalucía <packmaster@guadalinex.org>
Build-Depends: debhelper (>= 5), fp-compiler (>=1.0)
Standards-Version: 3.7.2

Package: amigu
Architecture: i386
Depends: python (>=2.4.2), python-gtk2 (>=2.8), gconf2 (>=2.12.0), gksu, python-gnome2, dumphive
Description: Asistente de migracion a Guadalinex
 Amigu es un asistente para la migración de archivos y configuraciones
 desde sistemas Windows 2000/XP a Guadalinex. Actualmente no soporta
 Windows Vista.
