[Desktop Entry]
Encoding=UTF-8
Name=Analizador de uso de disco (baobab)
Name[ar]=محلّل استخدام القرص
Name[bg]=Анализатор на ползването на диска
Name[ca]=Analitzador de l'ús dels discs
Name[cs]=Analyzátor využití disku
Name[da]=Diskforbrugsanalyse
Name[de]=Festplattenbelegung analysieren
Name[dz]=ཌིཀསི་གི་བེད་སྤྱོད་དཔྱད་ཞིབ་པ།
Name[el]=Ανάλυση χρήσης δίσκου
Name[en_GB]=Disk Usage Analyser
Name[es]=Analizador de uso de disco (baobab)
Name[et]=Kettakasutuse analüsaator
Name[eu]=Disko-erabilpenaren aztertzailea
Name[fa]=تحلیل‌گر فضای مصرفی دیسک
Name[fi]=Levynkäytön analysointi
Name[fr]=Analyseur d'utilisation des disques
Name[gl]=Analizador do uso do disco
Name[gu]=ડિસ્ક વપરાશકર્તા વિશ્લેષક
Name[hi]=डिस्क प्रयोग विश्लेषण
Name[hu]=Lemezhasználat-elemző
Name[id]=Penganalisa Penggunaan Disk
Name[it]=Analizzatore di utilizzo del disco
Name[ja]=ディスク使用量の解析
Name[ko]=디스크 사용량 분석
Name[ku]=Analîzkerê Bikaranîna Dîskê
Name[lt]=Disko naudojimo analizatorius
Name[lv]=Disks izmantošanas analizators
Name[mk]=Употребата на дискот
Name[ml]=ഡിസ്ക് യൂസര്‍ അനലൈസര്‍
Name[nb]=Analyse av diskplass
Name[nl]=Schijfgebruik
Name[pa]=ਡਿਸਕ ਵਰਤੋਂ ਜਾਂਚਕਾਰ
Name[pl]=Analizator wykorzystania dysku
Name[pt]=Analisador de Utilização do Disco
Name[pt_BR]=Analisador de Utilização do Disco
Name[ru]=Анализатор использования дисков
Name[sl]=Orodje za analizo porabe diska
Name[sv]=Diskanvändningsanalysator
Name[ta]=வட்டு பயன்பாடு ஆராய்வி
Name[te]=ఖని వినిమయ విశ్లేషకి
Name[th]=เครื่องมือวิเคราะห์การใช้ดิสก์
Name[tr]=Disk Kullanım Analizcisi
Name[uk]=Аналізатор використання диску
Name[vi]=Bộ phân tích cách sử dụng đĩa
Name[zh_CN]=磁盘使用分析器
Name[zh_HK]=磁碟用量分析器
Name[zh_TW]=磁碟用量分析器
Comment=Check folder sizes and available disk space
Comment[ar]=تحقق من حجم المجلدات و حجم المساحة المتوفرة
Comment[ca]=Comprova la mida de les carpetes i l'espai disponible al disc
Comment[da]=Kontrollér mappestørrelser og tilgængelig diskplads
Comment[de]=Ordnergrößen und freien Festplattenplatz analysieren
Comment[dz]=ཡིག་སྣོད་ཀྱི་ཚད་ཚུ་དང་འཐོབ་ཚུགས་པའི་ཌིཀསི་ས་སྟོང་ཞིབ་དཔྱད་འབད
Comment[el]=Έλεγχος μεγεθών φακέλου και διαθέσιμος χώρος στο δίσκο
Comment[en_GB]=Check folder sizes and available disk space
Comment[es]=Comprobar el tamaño de las carpetas y el espacio disponible en disco
Comment[et]=Kaustade suuruse ja saadaoleva kettaruumi kontroll
Comment[eu]=Egiaztatu karpeten tamainak eta diskoan dagoen leku erabilgarria
Comment[fi]=Tarkista kansioiden koko ja käytettävissä oleva levytila
Comment[fr]=Vérifie la taille des dossiers et l'espace disque disponible
Comment[gu]=ફોલ્ડર માપો અને ઉપલબ્ધ ડિસ્ક જગ્યા ચકાસો
Comment[hu]=Mappeméretek és elérhető lemezterület vizsgálata
Comment[it]=Controlla la dimensione delle cartelle e lo spazio disponibile su disco
Comment[ja]=フォルダと利用可能なディスク容量をチェックします
Comment[lt]=Tikrinti aplankų dydžius ir laisvą vietą
Comment[mk]=Провери ја големината на папките и достапниот простор на дискот
Comment[ml]=ഫോള്‍ഡറിന്‍റെ വ്യാപ്തിയും ഡിസ്കില്‍ ലഭ്യമായ സ്ഥലവും പരിശോധിക്കുക
Comment[nb]=Sjekk mappestørrelser og tilgjengelig diskplass
Comment[nl]=Mapgroottes en beschikbare schijfruimte bekijken
Comment[pl]=Sprawdzenie rozmiaru folderów i dostępnego miejsca na dysku
Comment[pt]=Verificar o tamanho das pastas e o espaço disponível em disco
Comment[pt_BR]=Verifica o tamanho de pastas e espaço disponível no disco
Comment[ru]=Изучение размера каталогов и свободного места на дисках
Comment[sv]=Kontrollera mappstorlekar och tillgängligt diskutrymme
Comment[ta]=அடைவு அளவு மற்றும் கிடைக்கக்கூடிய வட்டு இடைவெளி ஆகியவற்றை சரிபார் 
Comment[te]=ఖని ఖాళీ లభ్యత మరియు సంచయము ఖాళీ లభ్యతలను తనిఖీచేయుము
Comment[th]=ตรวจสอบขนาดของโฟลเดอร์ต่างๆ และเนื้อที่ว่างในดิสก์
Comment[tr]=Klasör boyutlarını ve kullanılabilir disk alanını kontrol et
Comment[uk]=Перевірте розміри тек та дисковий простір
Comment[vi]=Kiểm tra kích cỡ thư mục và chỗ rảnh trên đĩa
Comment[zh_CN]=检查文件夹大小和可用磁盘空间
GenericName=Disk Usage Analyzer
GenericName[ar]=محلّل استخدام القرص
GenericName[bg]=Анализатор на ползването на диска
GenericName[ca]=Analitzador de l'ús dels discs
GenericName[cs]=Analyzátor využití disku
GenericName[da]=Diskforbrugsanalyse
GenericName[de]=Festplattenbelegung analysieren
GenericName[dz]=ཌིཀསི་གི་བེད་སྤྱོད་དཔྱད་ཞིབ་པ།
GenericName[el]=Ανάλυση χρήσης δίσκου
GenericName[en_GB]=Disk Usage Analyser
GenericName[es]=Analizador de uso de disco
GenericName[et]=Kettakasutuse analüsaator
GenericName[eu]=Disko-erabilpenaren aztertzailea
GenericName[fa]=تحلیل‌گر فضای مصرفی دیسک
GenericName[fi]=Levynkäytön analysointi
GenericName[fr]=Analyseur d'utilisation des disques
GenericName[gl]=Analizador do uso do disco
GenericName[gu]=ડિસ્ક વપરાશકર્તા વિશ્લેષક
GenericName[hi]=डिस्क प्रयोग विश्लेषण
GenericName[hu]=Lemezhasználat-elemző
GenericName[id]=Penganalisa Penggunaan Disk
GenericName[it]=Analizzatore di utilizzo del disco
GenericName[ja]=ディスク使用量の解析
GenericName[ko]=디스크 사용량 분석
GenericName[ku]=Analîzkerê Bikaranîna Dîskê
GenericName[lt]=Disko naudojimo analizatorius
GenericName[lv]=Disks izmantošanas analizators
GenericName[mk]=Употребата на дискот
GenericName[ml]=ഡിസ്ക് യൂസര്‍ അനലൈസര്‍
GenericName[nb]=Analyse av diskplass
GenericName[nl]=Schijfgebruik
GenericName[pa]=ਡਿਸਕ ਵਰਤੋਂ ਜਾਂਚਕਾਰ
GenericName[pl]=Analizator wykorzystania dysku
GenericName[pt]=Analisador de Utilização do Disco
GenericName[pt_BR]=Analisador de Utilização do Disco
GenericName[ru]=Анализатор использования дисков
GenericName[sl]=Orodje za analizo porabe diska
GenericName[sv]=Diskanvändningsanalysator
GenericName[ta]=வட்டு பயன்பாடு ஆராய்வி
GenericName[te]=ఖని వినిమయ విశ్లేషకి
GenericName[th]=เครื่องมือวิเคราะห์การใช้ดิสก์
GenericName[tr]=Disk Kullanım Analizcisi
GenericName[uk]=Аналізатор використання диску
GenericName[vi]=Bộ phân tích cách sử dụng đĩa
GenericName[zh_CN]=磁盘使用分析器
GenericName[zh_HK]=磁碟用量分析器
GenericName[zh_TW]=磁碟用量分析器
TryExec=baobab
Exec=baobab
Icon=baobab
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Utility;
OnlyShowIn=GNOME
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=baobab
X-GNOME-Bugzilla-Version=2.20.0.1
X-Ubuntu-Gettext-Domain=gnome-utils-2.0
