[Desktop Entry]
Name=Grabación de CD/DVD (Brasero)
Name[ar]=حارق الأقراص براسيرو
Name[ca]=Enregistrador de discs Brasero
Name[es]=Grabación de CD/DVD (Brasero)
Name[fr]=Gravure de disque Brasero
Name[hu]=Brasero lemezíró
Name[it]=Brasero - Masterizzazione dischi
Name[sv]=Skivbrännaren Brasero
GenericName=Disc Burning Application
GenericName[ar]=برنامج لكتابة الأقراص
GenericName[ca]=Aplicació per a l'enregistrament de discs Brasero
GenericName[es]=Aplicación de grabación de discos
GenericName[fr]=Application de gravure de disque
GenericName[he]=יישום צריבת דיסקים
GenericName[hu]=Lemezíró alkalmazás
GenericName[it]=Applicazione per masterizzazione dischi
GenericName[sv]=Skivbränningsprogram
Comment=Write and copy CD / DVD
Comment[ar]=اكتب و انسخ اقراص CD / DVD
Comment[ca]=Escriu i copia CD / DVD
Comment[cs]=Zapsat a kopírovat CD / DVD
Comment[de]=Schreibe und kopiere CD/DVDs
Comment[dz]=སི་ཌི་/ཌི་ཉི་ཌི་ བྲིས་སྦེ་འདྲ་བཤུས་རྐྱབས།
Comment[en_GB]=Write and copy CD / DVD
Comment[es]=Escribir y copiar CD/DVD
Comment[fi]=Kirjoita ja kopio CD- ja DVD-levyjä
Comment[fr]=Écrit et copie des CD et DVD
Comment[gl]=Grave e copie un CD/DVD
Comment[hu]=CD / DVD írása és másolása
Comment[it]=Scrive e copia CD / DVD
Comment[ja]=CD / DVD に書き込んだりコピーを作成します
Comment[lt]=Įrašyti ir kopijuoti CD / DVD
Comment[mk]=Запиши и копирај CD / DVD
Comment[nb]=Skriv og kopier CD eller DVD
Comment[pa]=CD / DVD ਲਿਖੋ ਅਤੇ ਨਕਲ ਕਰੋ
Comment[pl]=Nagrywanie i kopiowanie płyt CD/DVD
Comment[pt]=Grave e copie CDs e DVDs
Comment[pt_BR]=Grave e copie CDs e DVDs
Comment[ru]=Записать и копировать CD / DVD
Comment[sl]=Zapisujte in kopirajte CD / DVD
Comment[sr]=Упиши и умножи ЦД/ДВД
Comment[sr@Latn]=Upiši i umnoži CD/DVD
Comment[sv]=Skriv och kopiera cd / dvd
Categories=GNOME;Application;AudioVideo;
Encoding=UTF-8
Exec=brasero %U
Icon=brasero
MimeType=application/x-cd-image;application/x-cdrdao-toc;application/x-toc;application/x-cue;application/x-brasero;x-content/blank-cd;x-content/blank-dvd;x-content/blank-bd;x-content/blank-hddvd;
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=brasero
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.7.1
X-Ubuntu-Gettext-Domain=brasero

Actions=BurnImage;OpenProject;

[Desktop Action BurnImage]
Icon=brasero
MimeType=application/x-cd-image;application/x-cdrdao-toc;application/x-cue;application/x-toc;
Exec=brasero -i %u
Name=Burn Image
Name[ar]=احرق صورة
Name[ca]=Enregistra una imatge
Name[cs]=Vypálit obraz
Name[de]=Brenne ein Abbild
Name[dz]=གཟུགས་བརྙན་བཙུགས་སྤྱོད་འབད་
Name[en_GB]=Burn Image
Name[es]=Grabar una imagen
Name[fi]=Kirjoita levykuva
Name[fr]=Graver une image
Name[gl]=Grave unha imaxe
Name[he]=צרוב תמונת תקליטור
Name[hu]=Kép kiírása
Name[it]=Masterizza immagine
Name[ja]=イメージの作成
Name[lt]=Įrašyti atvaizdį
Name[mk]=Сними слика
Name[nb]=Brenn bilde
Name[pa]=ਈਮੇਜ਼ ਲਿਖੋ
Name[pl]=Nagrywanie obrazu
Name[pt]=Gravar Imagem
Name[pt_BR]=Gravar imagem
Name[ru]=Запись образа
Name[sl]=Zapiši sliko
Name[sr]=Упиши одраз
Name[sr@Latn]=Upiši odraz
Name[sv]=Bränn avbildning

[Desktop Action OpenProject]
Icon=brasero
MimeType=application/x-brasero;
Exec=brasero -p %u
Name=Open project
Name[ar]=افتح المشروع
Name[ca]=Obre un projecte
Name[cs]=Otevřít projekt
Name[de]=Öffne ein Projekt
Name[dz]=ལས་འགུལ་ཁ་ཕྱེ་
Name[en_GB]=Open project
Name[es]=Abrir proyecto
Name[fi]=Avaa projekti
Name[fr]=Ouvrir un projet
Name[gl]=Abra un proxecto
Name[he]=פתח פרויקט
Name[hu]=Projekt megnyitása
Name[it]=Apri progetto
Name[ja]=プロジェクトを開く
Name[lt]=Atverti projektą
Name[mk]=Отвори проект
Name[nb]=Åpne prosjekt
Name[oc]=Dobrir un projècte
Name[pa]=ਪ੍ਰੋਜੈਕਟ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz projekt
Name[pt]=Abrir projeto
Name[pt_BR]=Abrir projeto
Name[ru]=Открыть проект
Name[sl]=Odpri projekt
Name[sr]=Отвори пројекат
Name[sr@Latn]=Otvori projekat
Name[sv]=Öppna projekt

X-Ubuntu-Gettext-Domain=brasero
