[Desktop Entry]
Name=Entrada de texto predictivo (Dasher)
Name[ar]=داشر
Name[az]=Dasher
Name[be]=Калатоўка
Name[be@latin]=Dasher
Name[bg]=Dasher
Name[bn]=ড্যাশার
Name[bn_IN]=Dasher
Name[bs]=Dasher
Name[ca]=El Dasher
Name[cs]=Dasher
Name[cy]=Dasher
Name[da]=Dasher
Name[de]=Dasher
Name[dz]=ཌེ་ཤར།
Name[el]=Dasher
Name[en_CA]=Dashera
Name[en_GB]=Dashera
Name[es]=Entrada de texto predictivo (Dasher)
Name[et]=Dashera
Name[eu]=Dashera
Name[fa]=دَشِر
Name[fi]=Dasher
Name[fr]=Dasher
Name[ga]=Dasher
Name[gl]=Dasher
Name[gu]=ડેશર
Name[he]=דאשר
Name[hi]=डैशर
Name[hr]=Dasher
Name[hu]=Dasher
Name[id]=Dasher
Name[it]=Dasher
Name[ja]=Dasher
Name[ko]=대셔
Name[ku]=Dasher
Name[ky]=Dasher
Name[lt]=Dasher
Name[lv]=Mieturis
Name[mg]=Dasher
Name[mk]=Dasher
Name[ml]=Dasher
Name[mn]=Дашэр
Name[mr]=Dasher
Name[ms]=Dasher
Name[nb]=Dasher
Name[ne]=ड्यासर
Name[nl]=Dasher
Name[nn]=Dasher
Name[oc]=Dasher
Name[or]=ଡେଶର
Name[pa]=ਡੈਸ਼ਰ
Name[pl]=Dasher
Name[pt]=Dasher
Name[pt_BR]=Dasher
Name[ro]=Dasher
Name[ru]=Dasher
Name[sk]=Náčrtník
Name[sl]=Dasher
Name[sq]=Dasher
Name[sr]=Јуришник
Name[sr@Latn]=Jurišnik
Name[sv]=Dasher
Name[ta]=டேஷர்
Name[th]=Dasher
Name[tk]=Däşer
Name[tr]=Dasher
Name[ug]=Dasher
Name[uk]=Dasher
Name[uz@cyrillic]=Dasher
Name[vi]=Dasher
Name[zh_CN]=Dasher
Name[zh_HK]=Dasher
Name[zh_TW]=Dasher
GenericName=Predictive text entry
GenericName[ar]=ادخال كتابة تنبئيا
GenericName[be]=Прадказальны ўводу тэкстаў
GenericName[be@latin]=Pradkazvany ŭvod tekstu
GenericName[bg]=Въвеждане на текст с предсказване
GenericName[bn]=আনুমানিক টেক্সট লিখন ব্যবস্থা
GenericName[bn_IN]=আনুমানিক টেক্সট লিখন ব্যবস্থা
GenericName[ca]=Entrada de text predictiu
GenericName[cs]=Prediktivní vstup textu
GenericName[da]=Forudsigende tekstindtastning
GenericName[de]=Voraussagende Texteingabe
GenericName[dz]=སྔོན་ཤེས་ཅན་གྱི་ ཚིག་ཡིག་ཐོ་བཀོད།
GenericName[el]=Πρόγνωσης καταχώρισης κειμένου
GenericName[en_CA]=Predictive text entry
GenericName[en_GB]=Predictive text entry
GenericName[es]=Entrada de texto predictivo
GenericName[et]=Ennustav tekstisisestus
GenericName[eu]=Sarrerako testu-aurresalea
GenericName[fa]=ورودی متن پیشگو
GenericName[fi]=Ennustava tekstisyöttö
GenericName[fr]=Saisie prédictive de texte
GenericName[gl]=Entrada de texto preditivo
GenericName[gu]=ધારણાવાળું લખાણ પ્રવેશ
GenericName[hu]=Prediktív szövegbevitel
GenericName[id]=Isian teks yang prediktif
GenericName[ja]=エントリを予測しながら文字列を入力します
GenericName[ko]=예측 텍스트 입력창
GenericName[lt]=Prognozuojamo teksto įvedimas
GenericName[lv]=Pareģojošs teksts
GenericName[mg]=Lahabolana vinavina
GenericName[mk]=Предвидливо внесување на текст
GenericName[ml]=പ്രെഡിക്റ്റീവ് ടെക്സ്റ്റ് എന്‍ട്രി
GenericName[mn]=Текстийг урьдчилан оруулах
GenericName[mr]=भाकित पाठ प्रविष्ट
GenericName[nb]=Felt for forutseende tekst
GenericName[nl]=Tekstinvoer met voorspelling
GenericName[nn]=Framsynt tekstinnskriving
GenericName[or]=ଅନୁମାନିତ ପାଠ୍ଯ ଭରଣ
GenericName[pl]=Przewidujące wejście tekstowe
GenericName[pt]=Introdução de texto preditiva
GenericName[pt_BR]=Entrada prevista de texto
GenericName[ru]=Предикативный ввод текста
GenericName[sk]=Prediktívne zadávanie textu
GenericName[sl]=Vnos besedila brez tipkovnice
GenericName[sq]=Shtimi i tekstit të propozuar
GenericName[sv]=Prediktiv textpost
GenericName[ta]=முன் கணிக்கும் உரை உள்ளீடு
GenericName[th]=โปรแกรมป้อนข้อความด้วยหลักสถิติ
GenericName[tr]=Tahmini metin girişi
GenericName[uk]=Предикативний ввід тексту
GenericName[vi]=Nhập đoạn dự đoán
GenericName[zh_CN]=预测型文本输入
GenericName[zh_HK]=預測方式輸入文字
GenericName[zh_TW]=預測方式輸入文字
Comment=Predictive text entry
Comment[ar]=ادخال كتابة تنبئيا
Comment[be]=Прадказальны ўводу тэкстаў
Comment[be@latin]=Pradkazvany ŭvod tekstu
Comment[bg]=Въвеждане на текст с предсказване
Comment[bn]=আনুমানিক টেক্সট লিখন ব্যবস্থা
Comment[bn_IN]=আনুমানিক টেক্সট লিখন ব্যবস্থা
Comment[ca]=Entrada de text predictiu
Comment[cs]=Prediktivní vstup textu
Comment[da]=Forudsigende tekstindtastning
Comment[de]=Voraussagende Texteingabe
Comment[dz]=སྔོན་ཤེས་ཅན་གྱི་ ཚིག་ཡིག་ཐོ་བཀོད།
Comment[el]=Πρόγνωσης καταχώρισης κειμένου
Comment[en_CA]=Predictive text entry
Comment[en_GB]=Predictive text entry
Comment[es]=Entrada de texto predictivo
Comment[et]=Ennustav tekstisisestus
Comment[eu]=Sarrerako testu-aurresalea
Comment[fa]=ورودی متن پیشگو
Comment[fi]=Ennustava tekstisyöttö
Comment[fr]=Saisie prédictive de texte
Comment[gl]=Entrada de texto preditivo
Comment[gu]=ધારણાવાળું લખાણ પ્રવેશ
Comment[hu]=Prediktív szövegbevitel
Comment[id]=Isian teks yang prediktif
Comment[ja]=エントリを予測しながら文字列を入力します
Comment[ko]=예측 텍스트 입력창
Comment[lt]=Prognozuojamo teksto įvedimas
Comment[lv]=Pareģojošs teksts
Comment[mg]=Lahabolana vinavina
Comment[mk]=Предвидливо внесување на текст
Comment[ml]=പ്രെഡിക്റ്റീവ് ടെക്സ്റ്റ് എന്‍ട്രി
Comment[mn]=Текстийг урьдчилан оруулах
Comment[mr]=भाकित पाठ प्रविष्ट
Comment[nb]=Felt for forutseende tekst
Comment[nl]=Tekstinvoer met voorspelling
Comment[nn]=Framsynt tekstinnskriving
Comment[or]=ଅନୁମାନିତ ପାଠ୍ଯ ଭରଣ
Comment[pl]=Przewidujące wejście tekstowe
Comment[pt]=Introdução de texto preditiva
Comment[pt_BR]=Entrada prevista de texto
Comment[ru]=Предикативный ввод текста
Comment[sk]=Prediktívne zadávanie textu
Comment[sl]=Vnos besedila brez tipkovnice
Comment[sq]=Shtimi i tekstit të propozuar
Comment[sv]=Prediktiv textpost
Comment[ta]=முன் கணிக்கும் உரை உள்ளீடு
Comment[th]=โปรแกรมป้อนข้อความด้วยหลักสถิติ
Comment[tr]=Tahmini metin girişi
Comment[uk]=Предикативний ввід тексту
Comment[vi]=Nhập đoạn dự đoán
Comment[zh_CN]=预测型文本输入
Comment[zh_HK]=預測方式輸入文字
Comment[zh_TW]=預測方式輸入文字
Exec=dasher
Icon=dasher
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Accessibility;
Encoding=UTF-8
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dasher
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=4.7.0
X-Ubuntu-Gettext-Domain=dasher
