[Desktop Entry]
X-MultipleArgs=false
Type=Application
Version=2.12
Encoding=UTF-8
Name=Generador de DVD/CD de vídeo (DeVeDe)
Name[es]=Generador de DVD/CD de vídeo (DeVeDe)
GenericName=DVD/CD Video Creator
Comment=Allows to create video CDs and DVDs, suitable to be reproduced in home DVD players
Comment[es]=Permite crear CDs y DVDs de vídeo, preparados para verse en reproductores de DVD domésticos
TryExec=devede
Exec=devede
Categories=Application;AudioVideo;Audio;
Icon=devede
