[Desktop Entry]
Encoding=UTF-8
Name=Ekiga Softphone
Name[ar]=الهاتف الأملس لإكيجا
Name[as]=Ekiga Softphone
Name[bg]=Телефон по Интернет - Ekiga
Name[bn_IN]=Ekiga Softphone
Name[ca]=Telèfon per programari Ekiga
Name[cs]=Telefon Ekiga
Name[cy]=Ffôn meddal Ekiga
Name[da]=Ekiga softwaretelefon
Name[de]=Ekiga Softfon
Name[dz]=ཨེ་ཀི་ག་ སོཕཊི་ཕཱོན།
Name[el]=Τηλεφωνία με λογισμικό Ekiga
Name[en_CA]=Ekiga Softphone
Name[en_GB]=Ekiga Softphone
Name[es]=Telefonía IP/Videoconferencia (Ekiga)
Name[et]=Ekiga tarkvaraline telefon
Name[eu]=Ekiga soft-fonoa
Name[fi]=Ekiga-ohjelmistopuhelin
Name[fr]=Softphone Ekiga
Name[gl]=Softphone do Ekiga
Name[gu]=Ekiga સોફ્ટફોન
Name[he]=תוכנת הטלפון Ekiga
Name[hu]=Ekiga telefonszoftver
Name[id]=Softphone Ekiga
Name[it]=Ekiga - Telefonia software
Name[ja]=Ekiga ソフトフォン
Name[ka]=ეკიგა ტელეფონი
Name[kn]=ಎಕೀಗಾ ಸಾಫ್ಟ್‍ಫೋನ್
Name[ko]=에키가 소프트전화
Name[lt]=Ekiga programinis telefonas
Name[lv]=Ekiga datortelefons
Name[mk]=Ekiga Softphone
Name[ml]=എകിഗാ സോഫ്റ്റ്ഫോണ്‍
Name[nb]=Ekiga softphone
Name[ne]=इकिगा सफ्टफोन
Name[nl]=Ekiga softfoon
Name[pa]=ਈਕੀਗਾ ਸਾਫਟਫੋਨ
Name[pl]=Telefon Ekiga
Name[pt]=Telefone pela Internet Ekiga
Name[pt_BR]=Ekiga Softfone
Name[ru]=Программный телефон Ekiga
Name[sk]=SoftTelefón Ekiga
Name[sl]=Programski telefon Ekiga
Name[sq]=Soft-telefon Ekiga
Name[sr]=Екига софтверски телефон
Name[sr@Latn]=Ekiga softverski telefon
Name[sv]=Programtelefonen Ekiga
Name[ta]=எகிகா ஸாப்ஃட் போன் 
Name[th]=Ekiga: โปรแกรมโทรศัพท์
Name[tr]=Ekiga Yazılımsal Telefon
Name[uk]=Програмний телефон Ekiga
Name[vi]=Điện thoại mềm Ekiga
Name[zh_CN]=Ekiga 软电话
Name[zh_HK]=Ekiga 軟件電話
Name[zh_TW]=Ekiga 軟體電話
TryExec=ekiga
GenericName=IP Telephony, VoIP and Video Conferencing
GenericName[ar]=هوتفة ب.إ ، صوت من خلال ب.إ و مؤتمرات فيديو
GenericName[as]=এবং ভিডিও
GenericName[bg]=Телефония по IP, VoIP и видео конференции
GenericName[bn_IN]=IP Telephony, VoIP এবং Video Conferencing
GenericName[ca]=Telefonia IP, VoIP i videoconferència
GenericName[cs]=IP telefonie, VoIP a videokonference
GenericName[cy]=Teleffoni IP, VoIP a Chynadledda Fideo
GenericName[da]=IP-telefonering, VoIP og videokonferering
GenericName[de]=IP-Telefonie, VoIP und Videokonferenz
GenericName[dz]=ཨའི་པི་བརྒྱུད་འཕྲིན་བཟོ་རིག་དང་ ཝི་ཨོ་ཨའི་པི་ གློག་ཐོག་ཞལ་འཛོམས།
GenericName[el]=Τηλεφωνία IP, VoIP και τηλεδιάσκεψη
GenericName[en_CA]=IP Telephony, VoIP and Video Conferencing
GenericName[en_GB]=IP Telephony, VoIP and Video Conferencing
GenericName[es]=Telefonía IP VoIP y videoconferencia
GenericName[et]=IP-telefon, VoIP ja videokonverentsid
GenericName[eu]=IP telefonia, VoIP edo bideo-konferentzia
GenericName[fi]=IP-puhelut, VoIP ja videoneuvottelu
GenericName[fr]=Téléphonie IP, VoIP et vidéoconférence
GenericName[gl]=Telefonía IP, VoIP e videoconferencia
GenericName[gu]=IP ટેલીફોની, VoIP અને વીડિયો કોન્ફરન્સીંગ
GenericName[he]=טלפוניית IP, VoIP וועידות וידאו
GenericName[hu]=IP telefon, VoIP és videokonferencia
GenericName[id]=Telepon IP, VoIP dan Pertemuan Video
GenericName[it]=Telefonia IP, VoIP e video conferenza
GenericName[ja]=IP 電話機、VoIP とビデオ会議
GenericName[ka]=IP ტელეკავშირგაბმულობა და ვიდეო კონფერენცია
GenericName[kn]=IP ದೂರವಾಣಿ, VoIP ಹಾಗು ವೀಡಿಯೋ ಸಮಾವೇಶ
GenericName[ko]=IP 전화, VoIP 및 화상 회의
GenericName[lt]=IP telefonija, VoIP ir vaizdo konferencijos
GenericName[lv]=IP telefonija, VoIP un video konferences
GenericName[mk]=IP телефонија, VoIP и видео конференција
GenericName[ml]=IP ടെലിഫോണി, VoIP, വീഡിയോ കോണ്‍ഫറന്‍സിങ്
GenericName[nb]=IP-telefoni, VoIP og videokonferanse
GenericName[ne]=IP टेलिफोनी, VoIP र भिडियो कन्फेरेन्सिङ
GenericName[nl]=IP-telefonie, VoIP en videoconferentie
GenericName[pa]=IP ਟੈਲੀਫੋਨੀ, VoIP ਅਤੇ ਵੀਡਿਓ ਕਨਫਰੰਸ
GenericName[pl]=Telefonia IP, konferencje VoIP i wideo
GenericName[pt]=Telefonia IP, VoIP e Conferência Vídeo
GenericName[pt_BR]=Telefonia IP, VoIP e Vídeo Conferência
GenericName[ru]=IP-телефония, VoIP и видеоконференции
GenericName[sk]=IP telefónia, VoIP a videokonferencie
GenericName[sl]=IP-telefonija, VoIP in videokonference
GenericName[sq]=Telefoni IP, VoIP dhe video konferencë
GenericName[sr]=Телефонирање, пренос гласа и слике преко интернета
GenericName[sr@Latn]=Telefoniranje, prenos glasa i slike preko interneta
GenericName[sv]=IP-telefoni, VoIP och videokonferens
GenericName[ta]=ஐபி டெலிபோனி , விஓஐபி  மற்றும் வீடியோ சந்திப்புகள்
GenericName[th]=โทรศัพท์ไอพี, VoIP และการประชุมทางวีดิทัศน์
GenericName[tr]=IP Telefon, VoIP ve Video Konferans
GenericName[uk]=IP-телефонія, VoIP та відеоконференції
GenericName[vi]=Điện thoại IP, VoIP và hội thảo ảnh động
GenericName[zh_CN]=IP 通话、VoIP 和视频会议
GenericName[zh_HK]=IP 電話及 VoIP 及視像會議
GenericName[zh_TW]=IP 電話及 VoIP 及視訊會議
Comment=Talk to people over the Internet
Comment[ar]=تحدث مع العالم عبر الإنترنت
Comment[as]=ইন্টাৰ্নেট
Comment[az]=İnternet üstündən insanlarla rabitə qurun
Comment[bg]=Разговор с хора по Интернет
Comment[bn_IN]=ইন্টারনেট-এর সাহায্যে লোকজনের সাথে যোগাযোগ করুন
Comment[bs]=Razgovarajte s ljudima preko Interneta
Comment[ca]=Parleu amb gent arreu d'Internet
Comment[cs]=Hovořit s lidmi přes Internet
Comment[cy]=Siarad â phobl dros y Rhyngrwyd
Comment[da]=Tal med andre over internettet
Comment[de]=Über das Internet mit Leuten sprechen
Comment[dz]=ཨིན་ཊར་ནེཊི་གི་ཐོག་ལས་ མི་མང་ལུ་ཁ་སླབ།
Comment[el]=Μιλήστε σε ανθρώπους μέσω του διαδικτύου
Comment[en_CA]=Talk to people over the Internet
Comment[en_GB]=Talk to people over the Internet
Comment[es]=Hable con otras personas a través de Internet
Comment[et]=Inimestega rääkimine Interneti kaudu
Comment[eu]=Hitz egin jendearekin Interneten
Comment[fa]=از طریق اینترنت با دیگران صحبت کنید
Comment[fi]=Puhu ihmisten kanssa Internetin kautta
Comment[fr]=Discuter avec des personnes sur Internet
Comment[gl]=Fale con persoas a través de Internet
Comment[gu]=ઇન્ટરનેટ પર લોકો સાથે વાત કરો
Comment[he]=דבר עם אנשים ברחבי האינטרנט
Comment[hi]=इंटरनेट पर लोगों से बात
Comment[hr]=Razgovarajte s ljudima preko Interneta
Comment[hu]=Csevegés másokkal az interneten keresztül
Comment[id]=Bicara dengan orang di Internet
Comment[is]=Tala við fólk yfir Internetið
Comment[it]=Comunicare con le persone via Internet
Comment[ja]=インターネットを介して会話します
Comment[ka]=ხალხთან ლაპარაკი ინტერნეტის საშუალებით
Comment[kn]=ಅಂತರ್ಜಾಲದ ಮೂಲಕ ಜನರೊಂದಿಗೆ ಮಾತನಾಡಿ
Comment[ko]=인터넷을 통해 사람들과 얘기합니다
Comment[lt]=Kalbėkitės su kitais žmonėmis per Internetą
Comment[lv]=Sarunājies ar cilvēkiem caur Internetu
Comment[mk]=Зборувајте со луѓе преку интернет
Comment[ml]=ഇന്ററ്‍നെറ്റിലൂടെ ആളുകളുമായി സംസാരിക്കുക
Comment[mn]=Интернэтээр хүмүүстэй ярилцах
Comment[ms]=Bercakap dengan orang di Internet
Comment[nb]=Snakk med andre over internett
Comment[ne]=इन्टरनेटबाट मानिसहरूसँग कुरा गर्नुहोस्
Comment[nl]=Mensen opbellen via het internet
Comment[pa]=ਇੰਟਰਨੈੱਟ ਉੱਤੇ ਲੋਕਾਂ ਨਾਲ ਗੱਲਾਂ ਕਰੋ
Comment[pl]=Rozmowy z ludźmi poprzez Internet
Comment[pt]=Fale com pessoas através da Internet
Comment[pt_BR]=Converse com pessoas através da Internet
Comment[ro]=Vorbeşte cu oamenii prin Internet
Comment[ru]=Живое общение по Интернету
Comment[sk]=Rozprávajte sa s ľuďmi cez Internet
Comment[sl]=Pogovarjajte se z ljudmi preko interneta
Comment[sq]=Flisni me njerëz në internet
Comment[sr]=Разговарајте са пријатељима преко Интерета
Comment[sr@Latn]=Razgovarajte sa prijateljima preko Intereta
Comment[sv]=Prata med personer över Internet
Comment[ta]=இணையம் வழியாக நண்பருடன் பேசுங்கள்
Comment[te]=మహాతలం ద్వారా జనాలతో మాట్లాడండి
Comment[th]=คุยสายกับผู้อื่นผ่านอินเทอร์เน็ต
Comment[tr]=İnternet üzerinden insanlarla konuş
Comment[uk]=Живе спілкування через Інтернет
Comment[vi]=Nói chuyện với người qua Internet
Comment[xh]=Thetha nabantu kwi-Intanethi
Comment[zh_CN]=通过互联网和朋友谈话
Comment[zh_HK]=透過網絡跟別人談話
Comment[zh_TW]=透過網路跟別人談話
StartupNotify=true
Exec=ekiga
Icon=ekiga
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;Telephony;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=ekiga
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.0.12
