[Desktop Entry]
Encoding=UTF-8
Name=Cliente de correo y calendario (Evolution)
Name[ar]=بريد و تقويم إيفُليوشِن
Name[as]=Evolution মেইল বৰ্ষপঞ্জি
Name[be@latin]=Pošta j kalandar Evolution
Name[bg]=Пощенски клиент и календар (Evolution)
Name[bn_IN]=Evolution মেইল ও বর্ষপঞ্জি
Name[ca]=Correu i calendari de l'Evolution
Name[cs]=Pošta a Kalendář Evolution
Name[da]=Evolutions E-post og Kalender
Name[de]=Evolution-E-Mail und -Kalender
Name[el]=Evolution Mail and Calendar
Name[en_GB]=Evolution Mail and Calendar
Name[es]=Cliente de correo y calendario (Evolution)
Name[et]=Evolutioni E-post ja kalender
Name[eu]=Evolution-en posta eta egutegia
Name[fi]=Evolution-sähköposti ja -kalenteri
Name[fr]=Messagerie et calendrier d'Evolution
Name[ga]=Post agus Féilire Evolution
Name[gl]=Correo e calendario do Evolution
Name[gu]=ઈવોલ્યુશન મેઈલ અને કેલેન્ડર
Name[he]=דואר ויומן Evolution
Name[hu]=Evolution levelező és naptár
Name[it]=Evolution - Posta e calendario
Name[ja]=Evolution のメールとカレンダ
Name[ko]=에볼루션 메일 및 달력
Name[lt]=Evolution paštas ir kalendorius
Name[mk]=Evolution пошта и календар
Name[mr]=इवॉल्यूशन मेल आणि दिनदर्शिका
Name[nb]=Evolution e-post og kalender
Name[nl]=Evolution e-mail en agenda
Name[nn]=Evolution e-post og kalender
Name[oc]=Corrièls e calendièr Evolution
Name[pa]=ਈਵੇਲੂਸ਼ਨ ਮੇਲ ਅਤੇ ਕੈਲੰਡਰ
Name[pl]=Evolution - poczta i kalendarz
Name[pt]=Email e Calendário Evolution
Name[pt_BR]=Correio  e Agenda do Evolution
Name[ru]=Электронная почта и календарь Evolution
Name[sl]=Koledar in pošta Evolution
Name[sv]=Evolutions e-post och kalender
Name[te]=ఎవల్యూషన్ క్యాలెండర్ మరియు మెయిల్
Name[th]=เมลและปฏิทินของ Evolution
Name[tr]=Evolution Posta ve Takvimi
Name[uk]=Електронна пошта та календар Evolutuion
Name[vi]=Thư tín và Lịch Evolution
Name[zh_CN]=Evolution 邮件及日历
Name[zh_HK]=Evolution 郵件與行事曆
Name[zh_TW]=Evolution 郵件與行事曆
GenericName=Groupware Suite
GenericName[ar]=حِزمة Groupware
GenericName[as]=Groupware Suite
GenericName[be]=Groupware Suite
GenericName[be@latin]=Pakiet dla kalektyŭnaj pracy
GenericName[bg]=Програма за работа в група
GenericName[bn]=Groupware Suite
GenericName[bn_IN]=Groupware Suite
GenericName[ca]=Aplicacions de treball en grup
GenericName[cs]=Sada groupware
GenericName[cy]=Cyfres Meddalwedd Grŵp
GenericName[da]=Samarbejdsprogrammelsuite
GenericName[de]=Groupware-Suite
GenericName[dz]=གུ་རུབ་ཝེར་ སུཊི།
GenericName[el]=Groupware Suite
GenericName[en_CA]=Groupware Suite
GenericName[en_GB]=Groupware Suite
GenericName[es]=Suite de trabajo en grupo
GenericName[et]=Grupitöövahend
GenericName[eu]=Talde-lanerako suitea
GenericName[fi]=Ryhmätyöohjelmisto
GenericName[fr]=Suite de travail collaboratif
GenericName[gl]=Suite de Groupware
GenericName[gu]=ગ્રુપવેર સ્યુટ
GenericName[hi]=ग्रूपवेयर सूट
GenericName[hu]=Csoportmunka-szoftver
GenericName[id]=Groupware Suite
GenericName[it]=Suite groupware
GenericName[ja]=グループウェア・スイートです。
GenericName[ko]=그룹웨어 모음
GenericName[lt]=Grupinio darbo įrankis
GenericName[lv]=Programmatūras komplekts
GenericName[mk]=Groupware Suite
GenericName[ml]=Groupware Suite
GenericName[mr]=ग्रुपवेअर संच
GenericName[ms]=Sut Groupware
GenericName[nb]=Gruppevareløsning
GenericName[ne]=ग्रूपवेयर सुट
GenericName[nl]=Groupware suite
GenericName[nn]=Gruppevarepakke
GenericName[pa]=ਸਮੂਹਿਕ ਸਰੂਪ
GenericName[pl]=Pakiet do pracy grupowej
GenericName[pt]=Groupwise Suite
GenericName[pt_BR]=Suíte de Groupware
GenericName[ro]=Suită Groupware
GenericName[ru]=Пакет для групповой работы
GenericName[sl]=Zbirka za skupinsko delo
GenericName[sq]=Suite Groupware
GenericName[sr]=Пoшаљите електронску пошту пријатељима и пословним сарадницима
GenericName[sr@Latn]=Pošaljite elektronsku poštu prijateljima i poslovnim saradnicima
GenericName[sv]=Grupprogramvarusvit
GenericName[ta]=குழுக்களுக்கான மென்பொருள்
GenericName[te]=సమూహతరహా సమసమితి
GenericName[th]=ชุดกรุ๊ปแวร์
GenericName[tr]=Groupwise Takımı
GenericName[uk]=Пакет для групової роботи
GenericName[vi]=Bộ phần mềm nhóm (Groupware)
GenericName[xh]=I-Groupware Suite
GenericName[zh_CN]=Groupwise 套件
GenericName[zh_HK]=Groupware 套裝軟件
GenericName[zh_TW]=Groupware 套裝軟體
Comment=Manage your email, contacts and schedule
Comment[ar]=قُم بإدارة بريدك الكتروني، مراسليك وجدولك
Comment[as]=আপোনাৰ ই-মেইল অ্যাকাউন্টসমূহকে এখানে বিন্যাস কৰক
Comment[be@latin]=Pracuj z poštaj, kantaktami j pracoŭnym raskładam
Comment[bg]=Управление на поща, контакти и разписания
Comment[bn_IN]=ই-মেইল, পরিচিতি ও কর্মতালিকা এখানে কনফিগার করুন
Comment[ca]=Gestioneu els correus electrònics, contactes i horaris
Comment[cs]=Spravujte svůj e-mail, kontakty a rozvrh
Comment[da]=Håndter dine e-breve, kontakter og skema
Comment[de]=Ihre E-Mails, Kontakte und Kalender verwalten
Comment[el]=Διαχείριση της αλληλογραφίας, των επαφών και του χρόνου σας
Comment[en_GB]=Manage your email, contacts and schedule
Comment[es]=Gestione su correo-e, contactos y calendario
Comment[et]=Oma e-posti, kontaktide ja kalendri haldamine
Comment[eu]=Kudeatu zure posta-kontuak, kontaktuak eta antolaketa
Comment[fi]=Hallitse sähköposteja, yhteystietoja ja ajan käyttöä
Comment[fr]=Gèrer vos courriels, contacts et agendas
Comment[gl]=Xestione o seu correo, contactos e calendario
Comment[gu]=તમારું ઈમેઈલ, સંપર્કો અને સમયક્રમની વ્યવસ્થા કરો
Comment[he]=נהל את הדוא"ל, אנשי הקשר ולוח הזמנים שלך
Comment[hu]=E-mailek, névjegyek és határidők kezelése
Comment[it]=Gestisce le proprie email, i contatti e progetti
Comment[ja]=E-メールや連絡先、予定などを管理します
Comment[ko]=전자메일, 연락처, 일정을 관리합니다
Comment[lt]=Tvarkykite savo el. paštą, kontaktus ir kalendorių
Comment[mk]=Менаџирајте со Вашата е-пошта, контакти и распоред
Comment[mr]=तुमचे ईमेल, संपर्क व वेळपत्रकाचे निरीक्षण करा
Comment[nb]=Håndter e-post, kontakter og kalender
Comment[nl]=Uw e-mail, adresboek en agenda beheren
Comment[pa]=ਆਪਣਾ ਈ-ਮੇਲ ਅਕਾਊਂਟ, ਸੰਪਰਕ ਅਤੇ ਸ਼ੈਡਿਊਲ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Zarządzanie wiadomościami, kontaktami i planami
Comment[pt]=Para gerir o seu email, contactos e compromissos
Comment[pt_BR]=Gerencie seus e-mails, contatos e agenda
Comment[ru]=Ваша электронная почта, контакты и расписание
Comment[sl]=Upravljajte s pošto, stiki in nalogami
Comment[sv]=Hantera din e-post, kontakter och schema
Comment[te]=మీ ఈమెయిల్ ను నిర్వహించుము, పరిచయాలు మరియు ప్రణాళిక
Comment[th]=จัดการอีเมล ที่อยู่ติดต่อ และนัดหมายของคุณ
Comment[tr]=E-postalarını, bağlantılarınızı ve randevularınızı yönetin
Comment[uk]=Ваша електронна пошта та розклад
Comment[vi]=Quản lý thư tín, lịch biểu và các liên lạc
Comment[zh_CN]=配置您的电子邮件，联系人和日程表
Comment[zh_HK]=管理你的郵件、聯絡人和行程
Comment[zh_TW]=管理您的郵件、連絡人和行程
Exec=evolution
Icon=evolution
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;Email;Calendar;ContactManagement;X-Red-Hat-Base;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Evolution
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=2.22.x
X-GNOME-Bugzilla-OtherBinaries=evolution-data-server-2.22;evolution-exchange-storage;evolution-alarm-notify;

X-Ubuntu-Gettext-Domain=evolution-2.22
