[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=F-Spot Photo Manager
Name[be@latin]=Kiraŭnik zdymkaŭ F-Spot
Name[ca]=Gestor fotogràfic F-Spot
Name[cs]=Správce fotografií F-Spot
Name[da]=F-Spot - fotohåndtering
Name[de]=F-Spot Fotoverwaltung
Name[dz]=ཨེཕ་-ཨིསི་པོཊི་ དཔར་འཛིན་སྐྱོང་པ་
Name[en_CA]=F-Spot Photo Manager
Name[en_GB]=F-Spot Photo Manager
Name[es]=Gestor de fotos (F-Spot)
Name[eu]=F-Spot argazki-kudeatzailea
Name[fa]=مدیر عکس اِف‌-اِسپات
Name[fi]=F-Spot valokuvien hallintaohjelma
Name[fr]=Gestionnaire de photos F-Spot
Name[gl]=Xestor de fotos F-Spot
Name[he]=מנהל התמונות F-Spot
Name[hu]=F-Spot fotókezelő
Name[it]=F-Spot - Gestore di fotografie
Name[ka]=F-სპოტ ფოტო მენეჯერი
Name[ko]=F-Spot 사진 관리자
Name[lt]=Fotografijų tvarkymo programa F-Spot
Name[lv]=F-Spot bilžu menedžeris
Name[mk]=F-Spot Менаџер за слики
Name[nb]=F-Spot bildebehandling
Name[nl]=F-Spot fotobeheer
Name[pa]=F-ਸਪੋਟ ਫੋਟੋ ਮੈਨੇਜਰ
Name[pl]=Menedżer zdjęć F-Spot
Name[pt]=Gestor de Fotografias do F-Spot
Name[pt_BR]=Gerenciador de Fotos F-Spot
Name[ru]=Управление фотографиями в F-Spot
Name[sv]=Fotohanteraren F-Spot
Name[th]=F-Spot: โปรแกรมจัดการรูปถ่าย
Name[vi]=Bộ Quản Lý Ảnh Chụp F-Spot
Name[zh_CN]=F-Spot 照片管理器
Name[zh_HK]=F-Spot 相片管理員
Name[zh_TW]=F-Spot 相片管理員
GenericName=Photo Manager
GenericName[be@latin]=Kiraŭnik zdymkaŭ
GenericName[ca]=Gestor fotogràfic
GenericName[cs]=Správce fotografií
GenericName[da]=Fotohåndtering
GenericName[de]=Fotoverwaltung
GenericName[dz]=དཔར་འཛིན་སྐྱོང་པ་
GenericName[en_CA]=Photo Manager
GenericName[en_GB]=Photo Manager
GenericName[es]=Gestor de fotografías
GenericName[eu]=Argazki-kudeatzailea
GenericName[fa]=مدیر عکس
GenericName[fi]=Valokuvien hallinta
GenericName[fr]=Gestionnaire de photos
GenericName[gl]=Xestor de fotos
GenericName[he]=מנהל תמונות
GenericName[hu]=Fényképkezelő
GenericName[it]=Gestore di fotografie
GenericName[ka]=ფოტო მენეჯერი
GenericName[ko]=사진 관리자
GenericName[lt]=Fotografijų tvarkymo programa
GenericName[lv]=Bilžu menedžeris
GenericName[mk]=Менаџер за слики
GenericName[nb]=Fotobehandler
GenericName[nl]=Fotobeheer
GenericName[pa]=ਫੋਟੋ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer zdjęć
GenericName[pt]=Gestor de Fotografias
GenericName[pt_BR]=Gerenciador de Fotos
GenericName[ru]=Управление фотографиями
GenericName[sv]=Fotohanterare
GenericName[th]=โปรแกรมจัดการรูปถ่าย
GenericName[vi]=Bộ Quản Lý Ảnh Chụp
GenericName[zh_CN]=照片管理器
GenericName[zh_HK]=相片管理員
GenericName[zh_TW]=相片管理員
Comment=Organize, enjoy, and share your photos
Comment[ar]=نظم, تمتع, وقم بمشاركة الصور
Comment[be@latin]=Kiruj svaimi zdymkami i dzialisia imi
Comment[ca]=Organitzeu, gaudiu i compartiu fotografies
Comment[cs]=Organizuje, prohlíží a sdílí vaše fotografie
Comment[da]=Organisér, nyd og del dine fotos
Comment[de]=Fotos anschauen, sortieren und weitergeben
Comment[dz]=ཁྱོད་ཀྱི་དཔར་ཚུ་ འགོ་འདྲེན་འཐབ་ སྤྲོ་བ་སྟོན་ དེ་ལས་ རུབ་སྤྱོད་འབད་
Comment[el]=Οργανώστε απολαύστε και μοιραστείτε τις φωτογραφίες σας
Comment[en_CA]=Organize, enjoy, and share your photos
Comment[en_GB]=Organise, enjoy, and share your photos
Comment[es]=Organice, diviértase y comparta sus fotografías
Comment[eu]=Antolatu, ikusi eta partekatu zure argazkiak
Comment[fa]=عکس‌های خود را سازمان‌دهی کنید، از آنها لذت ببرید،  و با دیگران قسمت کنید 
Comment[fi]=Järjestele ja jaa valokuviasi
Comment[fr]=Organisez, partagez et profitez de vos photos
Comment[gl]=Organice, divírtase e comparta as súas fotografías
Comment[he]=ארגן, תהנה ושתף את התמונות שלך.
Comment[hu]=Fényképek rendszerezése, megjelenítése és megosztása
Comment[it]=Organizzare, gustarsi e condividere le proprie fotografie
Comment[ka]=ორგანიზირება, დათვალიერება და გაზიარება
Comment[ko]=여러분의 사진을 관리하고 공유하세요
Comment[lt]=Tvarkyti, dalintis ir mėgautis fotografijomis
Comment[lv]=Sarīkojoiet, baudiet un dalaties ar savām bildem
Comment[mk]=Организирајте ги, споделете ги и уживајте во Вашите слики
Comment[nb]=Organiser, verdsett og del bildene dine
Comment[nl]=Beheer, deel en geniet van uw foto's
Comment[pa]=ਆਪਣੀਆਂ ਫੋਟੋ ਵੇਖੋ, ਸਾਂਝੀਆਂ ਕਰੋ
Comment[pl]=Organizuj i dziel się swoimi zdjęciami
Comment[pt]=Organize, divirta-se e partilhe as suas fotos
Comment[pt_BR]=Organize, compartilhe e divirta-se com suas fotos
Comment[ru]=Организация, просмотр и передача фотографий
Comment[sv]=Organisera, njut av, och dela med dig av dina foton
Comment[vi]=Tổ chức, thích thú và chia ra các ảnh chụp của bạn
Comment[zh_CN]=组织、欣赏及共享您的照片
Exec=f-spot
Icon=f-spot
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;Photography;GNOME;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=f-spot
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.4.2
X-GNOME-DocPath=f-spot/f-spot.xml
X-SuSE-translate=true
X-Ubuntu-Gettext-Domain=f-spot
