[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=F-Spot Photo Viewer
Name[be@latin]=Prahladalnik zdymkaŭ F-Spot
Name[bg]=Преглед на снимки F-Spot
Name[ca]=Visualitzador fotogràfic F-Spot
Name[cs]=Prohlížeč fotografií F-Spot
Name[da]=F-Spot fotofremviser
Name[de]=F-Spot Fotobetrachter
Name[dz]=ཨེཕ་-ཨིསི་པོཊི་ དཔར་མཐོང་བྱེད་
Name[el]=Προβολέας εικόνων F-Spot
Name[en_CA]=F-Spot Photo Viewer
Name[en_GB]=F-Spot Photo Viewer
Name[es]=Visor de fotos (F-Spot)
Name[eu]=F-Spot argazki-ikustailea
Name[fa]=نمایش‌دهندهٔ عکس اِف‌-اِسپات
Name[fi]=F-Spot valokuvien katselin
Name[fr]=Visionneur de photos F-Spot
Name[gl]=Visor de fotos F-Spot
Name[he]=מציג התמונות F-Spot
Name[hu]=F-Spot fotómegjelenítő
Name[it]=F-Spot - Visualizzatore di fotografie
Name[ka]=F-სპოტ ფოტო დამთვალიერებელი
Name[ko]=F-Spot 사진 보기
Name[lt]=Fotografijų peržiūros programa F-Spot
Name[lv]=F-Spot bilžu skatītājs
Name[mk]=F-Spot Прегледувач за слики
Name[nb]=F-spot bildebehandling
Name[nl]=F-Spot fotoweergave
Name[pa]=F-ਸਪੋਟ ਫੋਟੋ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka zdjęć F-Spot
Name[pt]=Visualizador de Fotografias do F-Spot
Name[pt_BR]=Visualizador de Fotos F-Spot
Name[ru]=Просмотр снимков в F-Spot
Name[sv]=Fotovisaren F-Spot
Name[vi]=Bộ xem ảnh chụp F-Spot
Name[zh_CN]=F-Spot 照片查看器
Name[zh_HK]=F-Spot 相片檢視器
Name[zh_TW]=F-Spot 相片檢視器
GenericName=Photo Viewer
GenericName[be@latin]=Prahladalnik zdymkaŭ
GenericName[ca]=Visualitzador fotogràfic
GenericName[cs]=Prohlížeč fotografií
GenericName[da]=Fotofremviser
GenericName[de]=Fotobetrachter
GenericName[dz]=དཔར་མཐོང་བྱེད་
GenericName[en_CA]=Photo Viewer
GenericName[en_GB]=Photo Viewer
GenericName[es]=Visor de fotos
GenericName[eu]=Argazki-ikustailea
GenericName[fa]=نمایش‌دهندهٔ عکس
GenericName[fi]=Valokuvien katselin
GenericName[fr]=Visionneur de photos
GenericName[gl]=Visor de fotos
GenericName[he]=מציג התמונות
GenericName[hu]=Fotómegjelenítő
GenericName[it]=Visualizzatore di fotografie
GenericName[ka]=ფოტო დამთვალიერებელი
GenericName[ko]=사진 보기
GenericName[lt]=Fotografijų peržiūros programa
GenericName[lv]=Bilžu skatītājs
GenericName[mk]=Прегледувач за слики
GenericName[nb]=Fotovisning
GenericName[nl]=Fotoweergave
GenericName[pa]=ਤਸਵੀਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka zdjęć
GenericName[pt]=Visualizador de Fotografias
GenericName[pt_BR]=Visualizador de Fotos
GenericName[ru]=Просмотр снимков
GenericName[sv]=Fotovisare
GenericName[vi]=Bộ Xem Ảnh Chụp
GenericName[zh_CN]=照片查看器
GenericName[zh_HK]=相片檢視器
GenericName[zh_TW]=相片檢視器
TryExec=f-spot
Exec=f-spot --view %U
NoDisplay=true
Icon=f-spot
StartupNotify=false
Terminal=false
Type=Application
Categories=Graphics;Viewer;GNOME;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=f-spot
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.4.2
X-SuSE-translate=true
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/svg+xml;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/x-dcraw;image/x-ciff;image/x-mrw;image/x-x3f;image/x-orf;image/x-nef;image/x-cr2;image/x-raf;
X-Ubuntu-Gettext-Domain=f-spot
