[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Editor avanzado de imágenes (GIMP)
Name[es]=Editor avanzado de imágenes (GIMP)
GenericName=Image Editor
GenericName[ar]=محرر الصورة
GenericName[bg]=Редактор на изображения
GenericName[ca]=Editor d'imatges
GenericName[cs]=Editor obrázků
GenericName[da]=Billedredigering
GenericName[de]=Bildeditor
GenericName[dz]=གཟུགས་བརྙན་ ཞུན་དག་པ།
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[eo]=Bilada Redaktilo
GenericName[es]=Editor de imagen
GenericName[et]=Pildiredaktor
GenericName[eu]=Irudi-editorea
GenericName[fa]=ویرایشگر تصویر
GenericName[fi]=Kuvaeditori
GenericName[fr]=Éditeur d'image
GenericName[gl]=Editor de imaxes
GenericName[gu]=ચિત્ર સંપાદક
GenericName[hu]=Képszerkesztő
GenericName[it]=Editor immagine
GenericName[ja]=画像エディタ
GenericName[km]=កម្មវិធី​និពន្ធ​រូបភាព
GenericName[ko]=이미지 편집기
GenericName[lt]=Paveikslėlių rengyklė
GenericName[mk]=Уредник за слики
GenericName[nb]=Bildebehandler
GenericName[ne]=छवि सम्पादक
GenericName[nl]=Afbeelding-editor
GenericName[pa]=ਚਿੱਤਰ ਐਡੀਟਰ
GenericName[pl]=Edytor obrazu
GenericName[pt_BR]=Editor de Imagens
GenericName[ru]=Редактор изображений
GenericName[sk]=Editor obrázkov
GenericName[sl]=Urejevalnik slik
GenericName[sr]=Обрада слика
GenericName[sr@Latn]=Obrada slika
GenericName[sv]=Bildredigerare
GenericName[tr]=Resim Düzenleyici
GenericName[tt]=Sürät Tözätkeç
GenericName[uk]=Редактор зображень
GenericName[vi]=Bộ biên soạn ảnh
GenericName[xh]=UmHleli woMfanekiso
GenericName[zh_CN]=图像编辑器
GenericName[zh_TW]=影像編輯器
Comment=Create images and edit photographs
Comment[bg]=Създаване на изображения и редакция на снимки
Comment[ca]=Creeu imatges i editeu fotografies
Comment[cs]=Vytvářet obrázky a upravovat fotografie
Comment[da]=Opret billeder og redigér fotografier
Comment[de]=Bilder erstellen und Fotografien bearbeiten
Comment[dz]=གཟུགས་བརྙན་ཚུ་ གསར་བསྐྲུན་འབད་ནི་དང་ དཔར་ཚུ་ཞུན་དག་འབད།
Comment[en_CA]=Create images and edit photographs
Comment[en_GB]=Create images and edit photographs
Comment[eo]=Kreu bildojn aŭ redaktu fotojn
Comment[es]=Cree imágenes y edite fotografías
Comment[et]=Loo pilte ja redigeeri fotosid
Comment[eu]=Sortu irudiak eta editatu argazkiak
Comment[fi]=Luo kuvia ja muokkaa valokuvia
Comment[fr]=Crée des images et modifie des photographies
Comment[gl]=Crear imaxes e editar fotografías
Comment[gu]=ચિત્રો બનાવો અને ફોટાઓમાં ફેરફાર કરો
Comment[hu]=Képek létrehozása és fotók szerkesztése
Comment[it]=Crea immagini o modifica fotografie
Comment[ja]=画像の作成と写真の編集
Comment[km]=បង្កើត​រូបភាព និង កែសម្រួល​រូបថត
Comment[ko]=이미지를 만들거나 사진을 편집합니다.
Comment[lt]=Kurti paveikslėlius ir redaguoti fotografijas
Comment[mk]=Направи слики и уреди фотографии
Comment[nb]=Lag bilder og rediger fotografier
Comment[ne]=छवि सिर्जना गर्नुहोस् र फोटोग्राफ सम्पादन गर्नुहोस्
Comment[nl]=Afbeeldingen of foto's aanmaken en bewerken
Comment[pa]=ਚਿੱਤਰ ਬਣਾਓ ਅਤੇ ਤਸਵੀਰਾਂ ਸੋਧੋ
Comment[pl]=Program do tworzenia oraz obróbki obrazów i fotografii
Comment[pt_BR]=Crie e edite imagens ou fotografias
Comment[ru]=Создание изображений и редактирование фотографий
Comment[sl]=Ustvari slike in uredi fotografije
Comment[sv]=Skapa bilder och redigera fotografier
Comment[tr]=Resim ya da fotoğrafları oluşturun ve düzenleyin
Comment[uk]=Створення зображень та редагування фотографій
Comment[vi]=Tạo và biên soạn ảnh hay ảnh chụp
Comment[zh_CN]=创建图像或编辑照片
Comment[zh_TW]=建立圖像與編輯照片
Exec=gimp-2.4 %U
TryExec=gimp-2.4
Icon=gimp
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=GIMP
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.4.5
X-GNOME-Bugzilla-OtherBinaries=gimp-2.4
StartupNotify=true
MimeType=image/bmp;image/g3fax;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-compressed-xcf;image/x-fits;image/x-gray;image/x-pcx;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sgi;image/x-sun-raster;image/x-tga;image/x-xbitmap;image/x-xcf;image/x-xpixmap;image/x-xwindowdump;
X-Ubuntu-Gettext-Domain=gimp20
X-Ubuntu-Gettext-Domain=gimp20
