[Desktop Entry]
Encoding=UTF-8
Name=Visualizador CHM (gnochm)
Name[cs]=Prohlížeč CHM souborů
Name[de]=CHM-Betrachter
Name[el]=Προβολέας CHM
Name[es]=Visualizador CHM (gnochm)
Name[fr]=Visionneur de fichiers CHM
Name[it]=Visualizzatore CHM
Name[ja]=CHM ビュアー
Name[pl]=Przeglądarka plików CHM
Name[pt_BR]=Visualizador CHM
Name[ru]=Просмотрщик CHM
Name[tr]=CHM Görüntüleyici
Name[zh_CN]=CHM 阅读器
Name[zh_TW]=CHM 檢視器
Comment=A viewer for HTML Help files
Comment[cs]=Prohlížeč souborů HTML nápovědy
Comment[de]=Ein Betrachter für HTML-Hilfe Dateien
Comment[el]=Ένας προβολέας HTML αρχείων βοήθειας
Comment[es]=Visualizador de ficheros CHM
Comment[fr]=Un visionneur de fichiers d'aide HTML
Comment[it]=Un visualizzatore per file di aiuto HTML
Comment[ja]=HTML ヘルプファイルのビュアーです
Comment[pl]=Przeglądarka plików CHM
Comment[pt_BR]=Um visualizador para aquivos CHM
Comment[ru]=Программа для просмотра файлов HTML Help
Comment[tr]=HTML yardım dosyası görüntuleyici
Comment[zh_CN]=HTML 帮助文件阅读程序
Comment[zh_TW]=HTML 輔助檔案檢視程式
Exec=gnochm %F
Icon=gnochm.png
Terminal=false
Type=Application
MimeType=application/x-chm;
StartupNotify=true
X-GNOME-DocPath=gnochm/gnochm.xml
Categories=Application;Utility;X-Red-Hat-Extra;
X-Ubuntu-Gettext-Domain=gnochm
