[Desktop Entry]
Encoding=UTF-8
Name=Diccionario (gnome-dictionary)
Name[am]=መዝገበ ቃላት
Name[ar]=قاموس
Name[az]=Lüğət
Name[be]=Слоўнік
Name[bg]=Речник
Name[bn]=অভিধান
Name[bn_IN]=অভিধান
Name[bs]=Rječnik
Name[ca]=Diccionari
Name[cs]=Slovník
Name[cy]=Geiriadur
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[dz]=ཚིག་མཛོད།
Name[el]=Λεξικό
Name[en_CA]=Dictionary
Name[en_GB]=Dictionary
Name[es]=Diccionario (gnome-dictionary)
Name[et]=Sõnaraamat
Name[eu]=Hiztegia
Name[fa]=لغت‌نامه
Name[fi]=Sanakirja
Name[fr]=Dictionnaire
Name[ga]=Foclóir
Name[gl]=Dicionario
Name[gu]=શબ્દકોષ
Name[he]=מילון
Name[hi]=शब्दकोश
Name[hr]=Rječnik
Name[hu]=Szótár
Name[id]=Kamus
Name[it]=Dizionario
Name[ja]=辞書
Name[ka]=ლექსიკონი
Name[ko]=사전
Name[ku]=Ferheng
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[mg]=Rakibolana
Name[mk]=Речник
Name[ml]=നിഘണ്ടു
Name[mn]=Толь бичиг
Name[ms]=Kamus
Name[nb]=Ordbok
Name[ne]=शब्दकोष
Name[nl]=Woordenboek
Name[nn]=Ordliste
Name[oc]=Diccionari
Name[or]=ଅଭିଧାନ
Name[pa]=ਸ਼ਬਦ-ਕੋਸ਼
Name[pl]=Słownik
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[ro]=Dicţionar
Name[ru]=Словарь
Name[rw]=Inkoranyamagambo
Name[si]=ශබ්ද කෝෂය
Name[sk]=Slovník
Name[sl]=Slovar
Name[sq]=Fjalori
Name[sr]=Речник
Name[sr@Latn]=Rečnik
Name[sv]=Ordbok
Name[ta]=அகராதி
Name[te]=నిఘంటువు
Name[th]=พจนานุกรม
Name[tr]=Sözlük
Name[uk]=Словник
Name[vi]=Từ điển
Name[wa]=Diccionaire
Name[xh]=IsiChazi-magama
Name[zh_CN]=字典
Name[zh_HK]=字典
Name[zh_TW]=字典
Comment=Check word definitions and spellings in an online dictionary
Comment[ar]=ابحث عن كلمات و تصحيحات في قاموس إنترنت
Comment[bg]=Търсене на определения и правописа на думи в речник в Интернет
Comment[bn]=অনলাইন অভিধানে শব্দের সংজ্ঞা ও বানান পরীক্ষা করুন
Comment[bn_IN]=অনলাইন অভিধানে শব্দের সংজ্ঞা ও বানান পরীক্ষা করুন
Comment[ca]=Comprova les definicions de paraules i l'ortografia en un diccionari en línia
Comment[cs]=Kontrolovat slova a pravopis v on-line slovníku
Comment[cy]=Chwilio am ddiffiniadau geiriau a'u sillafiad mewn geiriadur ar-lein
Comment[da]=Slå orddefinitioner og stavning op i en ordbog på internettet
Comment[de]=Definitionen und Schreibweisen im Online-Wörterbuch nachschlagen
Comment[dz]=གློག་ཐོག་ཚིག་མཛོད་ཅིག་ནང་ མིང་ཚིག་གི་ངེས་ཚིག་དང་ སྡེབ་སྦྱོར་ཚུ་ཞིབ་དཔྱད་རྐྱབས།
Comment[el]=Έλεγχος ορισμών λέξεων και ορθογραφίας σε ένα λεξικό του Διαδικτύου
Comment[en_GB]=Check word definitions and spellings in an online dictionary
Comment[es]=Busque definiciones de palabras y ortografía en un diccionario en línea
Comment[et]=Sõnade definitsioonide ja kirjaviiside otsimine onlain-sõnaraamatust
Comment[eu]=Bilatu hitzen definizioak eta ortografiak lineako hiztegi batean
Comment[fa]=بررسی معانی و املای کلمات در یک لغت‌نامهٔ برخط
Comment[fi]=Etsi sanojen määrittelyjä ja kirjoitusasuja verkkosanakirjoista
Comment[fr]=Vérifie la définition et l'orthographe des mots dans un dictionnaire en ligne
Comment[gl]=Verifique definicións de palabras e ortografía nun dicionario en liña
Comment[gu]=ઓનલાઈન શબ્દકોશમાં વ્યાખ્યાઓ અને જોડણીઓ માટે શબ્દ ચકાસો
Comment[hi]=ऑन लाइन शब्दकोश में परिभाषा व वर्तनी देखें
Comment[hu]=Szavak meghatározásainak és helyesírásának keresése online szótárakban
Comment[id]=Cari penjelasan dan pengejaan kata di dalam kamus online
Comment[it]=Controlla definizioni e ortografia di parole su un dizionario in linea
Comment[ja]=オンライン辞書を使って単語の意味や綴りを調べます
Comment[ko]=온라인 사전에서 단어의 의미와 맞춤법을 찾아 봅니다
Comment[lt]=Pasitikrinkite žodžių apibrėžimus ir rašybą internetiniame žodyne
Comment[lv]=Pārbauda vāŗdu skaidrojumus un rakstību interneta vārdnīcā
Comment[mk]=Пребарувај зборови во онлајн речник
Comment[ml]=ഓണ്‍‍ലൈന്‍ നിഘണ്ടുവിന്‍ വാക്കുകളുടെ അര്‍ത്ഥങ്ങളും ചേരുവകകളും പരിശോധിക്കുക
Comment[nb]=Sjekk orddefinisjoner og staving i en ordbok på nettet
Comment[nl]=Definities en spelling van woorden opzoeken in een on-line woordenboek
Comment[or]=ଗୋଟିଏ ଅନ-ଲାଇନ ଅଭିଧାନରେ ଶବ୍ଦର ସୁନିର୍ଦ୍ଦିଷ୍ଟ ଅର୍ଥ ଏବଂ ବନାନକୁ ଦେଖନ୍ତୁ
Comment[pa]=ਇੱਕ ਆਨਲਾਈਨ ਸ਼ਬਦ-ਕੋਸ਼ ਵਿੱਚ ਸ਼ਬਦ ਪ੍ਰੀਭਾਸ਼ਾ ਅਤੇ ਸ਼ਬਦ-ਜੋੜ ਵੇਖੋ
Comment[pl]=Sprawdza definicje i pisownię słów w słowniku sieciowym
Comment[pt]=Procurar a definição e ortografia de palavras num dicionário online
Comment[pt_BR]=Verificar definição e pronúncia da palavra em um dicionário on-line
Comment[ru]=Проверить определение и правописание слова в онлайн словаре
Comment[sl]=Poglejte razlago in črkovanje besede v mrežnem slovarju.
Comment[sv]=Kontrollera definitioner av ord och stavningar i en onlineordbok
Comment[ta]=ஒரு இணைய அகராதியில் சொற்களை தேடவும்
Comment[te]=లైను వెలుపల నిఘంటువులో పదము నిర్వచనములను మరియు వర్ణక్రమములను తనిఖీచేయుము
Comment[th]=หาความหมายและการสะกดของคำในพจนานุกรมออนไลน์
Comment[tr]=Sözcük tanımlarını ve yazımlarını çevrimiçi bir sözlükte denetle
Comment[uk]=Пошук слів та їх написання у інтерактивному словнику
Comment[vi]=Tìm từ trong từ điển trực tuyến để kiểm tra chính tả và sự định nghĩa
Comment[zh_CN]=在在线字典中查阅单词定义和拼写
Comment[zh_HK]=在網上字典中查詢字詞的解譯及拼法
Comment[zh_TW]=在線上字典中查詢字詞的解譯及拼法
Exec=gnome-dictionary
Terminal=false
Type=Application
Icon=accessories-dictionary.png
StartupNotify=true
Categories=GNOME;GTK;Utility;
OnlyShowIn=GNOME
X-GNOME-DocPath=gnome-dictionary/gnome-dictionary.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gdict
X-GNOME-Bugzilla-Version=2.20.0.1
X-Ubuntu-Gettext-Domain=gnome-utils-2.0
