[Desktop Entry]
Encoding=UTF-8
Name=Grabador de sonido (gnome-sound-recorder)
Name[ar]=مسجل الأصوات
Name[as]=শব্দ ৰেকৰ্ডকাৰী
Name[az]=Səs Qeyd Edicisi
Name[be]=Праграма гуказапісу
Name[be@latin]=Zapisvańnie huku
Name[bg]=Програма за запис на звуци
Name[bn]=শব্দ রেকর্ডকারী
Name[bn_IN]=শব্দ রেকর্ডকারী
Name[br]=Enroller Son
Name[bs]=Snimač zvuka
Name[ca]=Enregistrador de so
Name[cs]=Záznamník zvuků
Name[cy]=Recordydd sain
Name[da]=Lydoptager
Name[de]=Audio-Recorder
Name[dz]=སྒྲ་སྐད་བཟུང་འཕྲུལ།
Name[el]=Εγγραφέας ήχου
Name[en_CA]=Sound Recorder
Name[en_GB]=Sound Recorder
Name[es]=Grabador de sonido (gnome-sound-recorder)
Name[et]=Helisalvestaja
Name[eu]=Soinu-grabagailua
Name[fa]=ضبط صدا
Name[fi]=Ääninauhuri
Name[fr]=Enregistreur de sons
Name[gl]=Gravadora de son
Name[gu]=ધ્વનિ રેકોર્ડ કરનાર
Name[he]=רשמקול
Name[hi]=ध्वनि रेकॉर्डर
Name[hr]=Zvučni poslužitelj
Name[hu]=Hangrögzítő
Name[id]=Perekam Suara
Name[it]=Registratore di suoni
Name[ja]=サウンド・レコーダ
Name[ka]=ხმის ჩამწერი
Name[ko]=녹음기
Name[ku]=Tomarkerê Deng
Name[lt]=Garso įrašymo programa
Name[lv]=Skaņu Ierakstītājs
Name[mg]=Mpandraikitra sombim-peo
Name[mk]=Снимач на звук
Name[ml]=സൌണ്ട് റിക്കോര്‍ഡര്‍
Name[mn]=Дуу Бичигч
Name[mr]=ऑडिओ रेकॉर्डर
Name[ms]=Perekod Bunyi
Name[nb]=Lydinnspilling
Name[ne]=ध्वनि रेकर्डर
Name[nl]=Geluidsrecorder
Name[nn]=Lydopptakar
Name[or]=ଧ୍ବନି ଅନୁଲିପିକାର
Name[pa]=ਸਾਊਂਡ ਰਿਕਾਰਡਰ
Name[pl]=Rejestrator dźwięku
Name[pt]=Gravador de Som
Name[pt_BR]=Gravador de Som
Name[ro]=Înregistrare sunet
Name[ru]=Звукозапись
Name[si]=ශබ්ද රේකොඩරය
Name[sk]=Záznam zvuku
Name[sl]=Snemalnik zvoka
Name[sq]=Regjistruesi i Zërit
Name[sr]=Снимање звука
Name[sr@Latn]=Snimanje zvuka
Name[sv]=Ljudinspelare
Name[ta]=ஒலியை பதிவு சேய் 
Name[th]=เครื่องอัดเสียง
Name[tr]=Ses Kaydedicisi
Name[uk]=Запис звуку
Name[vi]=Bộ thu âm
Name[wa]=Eredjistreu d' sons
Name[xh]=Isishicileli seSandi
Name[zh_CN]=录音机
Name[zh_HK]=錄音程式
Name[zh_TW]=錄音程式
Comment=Record sound clips
Comment[ar]=سجّل قطع صوتية
Comment[as]=শব্দেৰ টুকৰো ৰেকৰ্ড কৰুন
Comment[az]=Səs kliplərini qeyd et
Comment[be]=Запісаць гукавы кліп
Comment[be@latin]=Zapisvaj hukavyja fajły
Comment[bg]=Запис на звукови клипове
Comment[bn]=শব্দের টুকরো রেকর্ড করুন
Comment[bn_IN]=শব্দের টুকরো রেকর্ড করুন
Comment[bs]=Snimi zvučne klipove
Comment[ca]=Enregistra talls de so
Comment[cs]=Vytváření zvukových záznamů
Comment[cy]=Recordio darnau sain
Comment[da]=Optag lydklip
Comment[de]=Audioclips aufnehmen
Comment[dz]=སྒྲ་སྐད་ཀྱི་ ཀི་ལིཔ་བཟུང་།
Comment[el]=Ηχογράφηση ηχητικών κλιπ
Comment[en_CA]=Record sound clips
Comment[en_GB]=Record sound clips
Comment[es]=Grabar clips de sonido
Comment[et]=Heliklippide salvestamine
Comment[eu]=Grabatu soinu-klipak
Comment[fa]=ضبط کلیپ صوتی
Comment[fi]=Nauhoita äänitiedostoja
Comment[fr]=Enregistrer des échantillons sonores
Comment[gl]=Gravar clips de son
Comment[gu]=ધ્વનિ અંશને રેકોર્ડ કરો
Comment[he]=הקלט קטעי קול
Comment[hi]=ध्वनि क्लिप्स रेकॉर्ड करें
Comment[hr]=Snimi primjerke zvuka
Comment[hu]=Hangfelvétel készítése
Comment[id]=Rekam potongan suara
Comment[it]=Registra spezzoni audio
Comment[ja]=サウンド・クリップを記録します
Comment[ka]=ჩაიწერე ხმის კლიპები
Comment[ko]=사운드 클립을 녹음합니다
Comment[ku]=Klîpên dengan tomar bike
Comment[lt]=Rašyti garso klipus
Comment[lv]=Ierakstīt skaņas klipus
Comment[mg]=Mandraikitra sombim-peo
Comment[mk]=Сними звучни клипчиња
Comment[mn]=Дууны клипуудыг бичих
Comment[mr]=ऑडिओ क्लिप रेकॉर्ड करा
Comment[ms]=klip bunyi Rekod
Comment[nb]=Ta opp lydklipp
Comment[ne]=ध्वनि क्लिप रेकर्ड गर्नुहोस्
Comment[nl]=Geluidsfragmenten opnemen
Comment[nn]=Ta opp lydklipp
Comment[or]=ଧ୍ବନି କ୍ଲିପ ଲିପିବଦ୍ଧ କରନ୍ତୁ
Comment[pa]=ਸਾਊਂਡ ਕਲਿੱਪ ਰਿਕਾਰਡ ਕਰੋ
Comment[pl]=Rejestracja i odtwarzanie dźwięków
Comment[pt]=Gravar trechos de som
Comment[pt_BR]=Grave clipes de som
Comment[ro]=Înregistrează eşantioane sonore
Comment[ru]=Запись звуковых клипов
Comment[si]=ශබ්ද පසුර රේකොඩරය
Comment[sk]=Nahrávanie zvukových klipov
Comment[sl]=Posnemi zvočne vzorce
Comment[sq]=Regjistron audio clips
Comment[sr]=Сними исечке звука
Comment[sr@Latn]=Snimi isečke zvuka
Comment[sv]=Spela in ljudklipp
Comment[ta]=ஒலி அமைப்புகளை பதிவு சேய்
Comment[th]=อัดคลิปเสียง
Comment[tr]=Ses parçalarını kaydet
Comment[uk]=Запис звукових фрагментів
Comment[vi]=Thu đoạn âm thanh
Comment[wa]=Eredjistrer des bokets d' son
Comment[xh]=Izicatshulwa zoshicilelo lwesandi
Comment[zh_CN]=录制声音剪辑
Comment[zh_HK]=錄音
Comment[zh_TW]=錄音
Exec=gnome-sound-recorder
Icon=gnome-grecord
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-DocPath=grecord/grecord.xml
Categories=GNOME;GTK;AudioVideo;Recorder;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=Gnome-Sound-Recorder
X-GNOME-Bugzilla-Version=2.22.0
X-Ubuntu-Gettext-Domain=gnome-media-2.0
