[Desktop Entry]
Name=Liferea Feed Reader
Name[ar]=قاريء التلقيمات لايفريا
Name[be@latin]=Hartač RSS Liferea
Name[ca]=Lector de canals Liferea
Name[de]=Liferea Feed Reader
Name[es]=Lector de canales RSS (Liferea)
Name[eu]=Liferea iturri irakurlea
Name[fr]=Lecteur de flux Liferea
Name[it]=Liferea - Lettore notiziari
Name[ja]=Liferea フィード・リーダ
Name[pl]=Czytnik Wiadomości RSS Liferea
Name[pt]=Leitor de Fontes Liferea
Name[pt_BR]=Agregador de Notícias Liferea
Name[sv]=Nyhetsläsaren Liferea
Name[tr]=Liferea Haber Okuyucusu
GenericName=Feed Reader
GenericName[ar]=قاريء تلقيمات
GenericName[be@latin]=Hartač RSS
GenericName[ca]=Lector de canals
GenericName[de]=Feed Reader
GenericName[es]=Lector de noticias
GenericName[eu]=Iturri irakurlea
GenericName[fr]=Lecteur de flux
GenericName[it]=Lettore notiziari
GenericName[ja]=フィード・リーダ
GenericName[pl]=Czytnik wiadomości
GenericName[pt]=Leitor de Fontes
GenericName[pt_BR]=Leitor de Fontes de Notícias
GenericName[ru]=Чтение лент новостей
GenericName[sv]=Nyhetsläsare
GenericName[tr]=Haber Okuyucusu
Comment=Download and view feeds
Comment[ar]=نزّل واعرض التلقيمات
Comment[be@latin]=Atrymvaj i ahladaj kanały RSS
Comment[ca]=Baixeu i visualitzeu canals
Comment[de]=Herunterladen und Anzeigen von Feeds
Comment[es]=Descarga y muestra noticias
Comment[eu]=Deskargatu eta ikusi iturriak
Comment[fr]=Télécharger et voir des flux
Comment[it]=Scarica e mostra notiziari
Comment[ja]=配信元をダウンロードして表示します
Comment[pl]=Subskrybuj kanały informacyjne
Comment[pt]=Transferir e exibir fontes
Comment[pt_BR]=Download e exibir fontes de notícias
Comment[ru]=Чтение лент новостей RSS
Comment[sv]=Hämta och visa kanaler
Comment[tr]=Haber kaynaklarını indir ve görüntüle
Exec=liferea
Icon=liferea
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;News;
Version=0.9.4
