[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=MPlayer Movie Player
Name[pl]=Odtwarzacz filmów MPlayer
GenericName=Multimedia player
GenericName[pl]=Odtwarzacz filmów
Comment=Multimedia player
Comment[de]=Multimedia-Player
Comment[es]=Reproductor multimedia
Comment[fr]=Lecteur multimédia
Comment[it]=Lettore multimediale
Comment[pl]=Odtwarzacz multimediów
Icon=mplayer.xpm
TryExec=mplayer
Exec=mplayer %F
Terminal=false
Categories=GTK;AudioVideo;Audio;Video;Player;TV;
MimeType=application/vnd.rn-realmedia;application/vnd.rn-realmedia-vbr;audio/vnd.rn-realaudio;audio/x-realaudio;audio/x-pn-realaudio;video/vnd.rn-realvideo;
