[Desktop Entry]
Name=Windows Wireless Drivers
Name[es]=Drivers de tarjetas WiFi de Windows (ndisgtk)
Name[de]=Windows WLAN Treiber
Name[el]=Οδηγοί Windows για Ασύρματες Συσκευές
Name[et]=Windowsi juhtmevabavõrgu draiverid
Name[fi]=Windowsin langattomien verkkokorttien ajurit
Name[fr]=Pilotes sans fil Windows
Name[he]=דרייברים אלחוטיים של וינדוס
Name[it]=Driver wireless di Windows
Name[lt]=Bevielio tinklo valdyklės
Name[nl]=Windows Draadloosnetwerk Aansturingssoftware
Name[pl]=Sterowniki Windows dla urządzeń bezprzewodowych
Name[sv]=Windows-drivrutiner för trådlösa nätverkskort
Name[zh_CN]=Windows无线驱动程序
Name[zh_TW]=Windows無線網路驅動程式
Comment=Ndiswrapper driver installation tool
Comment[de]=Ndiswrapper Treiber Installations Programm
Comment[el]=Εργαλείο εγκατάστασης οδηγών Ndiswrapper
Comment[es]=Herramienta para instalación de drivers de Windows de tarjetas WiFi 
Comment[et]=Ndiswrapperi draiverite paigaldamise tööriist
Comment[fi]=Asennustyökalu Ndiswrapperille
Comment[fr]=Outil d'installation de pilotes Ndiswrapper
Comment[he]=Ndiswrapper כלי התקנת דרייבר
Comment[it]=Strumento d'installazione driver Ndiswrapper
Comment[lt]=Valdyklių įdiegimo įrankis Ndiswrapper
Comment[nl]=Ndiswrapper aansturingssoftware installatie hulpmiddel
Comment[sv]=Installationsverktyg för ndiswrapper
Comment[zh_CN]=Ndiswrapper驱动程序安装工具
Comment[zh_TW]=Ndiswrapper驅動程式安裝工具
Exec=gksu /usr/sbin/ndisgtk
NotShowIn=KDE;
Icon=ndisgtk.png
Terminal=false
Type=Application
Categories=System;Settings;
