[Desktop Entry]
Name=onBoard
Name[es]=Teclado en pantalla (onBoard)
GenericName= onBoard onscreen keyboard
Comment=Flexible onscreen keyboard for gnome
Exec=onboard
Terminal=false
Type=Application
#Categories=Application;Accessibility;
Categories=GNOME;GTK;Accessibility;
NoDisplay=false
MimeType=application/x-onboard;
Icon = /usr/share/onboard/data/onboard.svg
