[Desktop Entry]
Encoding=UTF-8
Name=Contraseñas y claves de cifrado (seahorse)
Name[ar]=كلمات السرِّ ومفاتيح التعمية
Name[be@latin]=Paroli j klučy šyfravańnia
Name[bg]=Пароли и ключове за шифриране
Name[ca]=Contrasenyes i claus de xifratge
Name[cs]=Hesla a šifrovací klíče
Name[da]=Kodeord og krypteringsnøgler
Name[de]=Passwörter und Verschlüsselung
Name[dz]=ཆོག་ཡིག་དང་གསང་བཟོ་ལྡེ་མིག་ཚུ་
Name[el]=Κωδικοί και κλειδιά κρυπτογράφησης
Name[en_GB]=Passwords and Encryption Keys
Name[es]=Contraseñas y claves de cifrado (seahorse)
Name[et]=Paroolid ja krüptimisvõtmed
Name[fi]=Salasanat ja salausavaimet
Name[fr]=Mots de passe et clés de chiffrement
Name[ga]=Focail Faire agus Eochracha Chriptithe
Name[gl]=Contrasinais e chaves de cifrado
Name[gu]=પાસવર્ડો અને એનક્રિપ્શન કીઓ
Name[hu]=Jelszavak és titkosítási kulcsok
Name[it]=Password e chiavi di cifratura
Name[ja]=パスワードと暗号鍵
Name[kn]=ಗುಪ್ತಪದಗಳು ಹಾಗು ಗೂಢಲಿಪೀಕರಣ ಕೀಲಿಗಳು
Name[ko]=암호 및 암호화 키
Name[lt]=Slaptažodžiai ir el. raktai
Name[lv]=Paroles un šifrēšanas taustiņi
Name[mk]=Лозинки и клучеви за енкриптирање
Name[mr]=गुप्तशब्द व ऐंक्रीप्शन किल्ली
Name[nb]=Passord og krypteringsnøkler
Name[ne]=पासवर्ड र गुप्तिकरण कुञ्जी
Name[nl]=Wachtwoorden en sleutels
Name[nn]=Passord og krypteringsnøklar
Name[pa]=ਪਾਸਵਰਡ ਅਤੇ ਇੰਕ੍ਰਿਪਸ਼ਨ ਕੁੰਜੀਆਂ
Name[pl]=Hasła i klucze szyfrujące
Name[pt]=Senhas e Chaves de Encriptação
Name[pt_BR]=Senhas e Chaves de Criptografia
Name[ru]=Пароли и ключи шифрования
Name[sl]=Gesla in šifrirni ključi
Name[sv]=Lösenord och krypteringsnycklar
Name[ta]=கடவுச்சொற்கள் மற்றும் மறையாக்க விசைகள்
Name[te]=రహస్యపదాలు మరియు రహస్యపరచే మీటలు
Name[th]=รหัสผ่านและกุญแจเข้ารหัสลับ
Name[tr]=Parolalar ve Şifreleme Anahtarları
Name[uk]=Паролі та ключі шифрування
Name[vi]=Mật khẩu và khoá mã hoá
Name[zh_CN]=密码和加密密钥
Name[zh_HK]=密碼及加密密碼匙
Name[zh_TW]=密碼及加密金鑰
Comment=Manage your passwords and encryption keys
Comment[ar]=أدِر كلمات سرّك ومفاتيح تعميتك
Comment[be@latin]=Kiruj parolami j klučami šyfravańnia
Comment[bg]=Управление на паролите и ключовете за шифриране
Comment[ca]=Gestioneu les contrasenyes i claus de xifratge
Comment[cs]=Spravovat svá hesla a šifrovací klíče
Comment[da]=Håndtér dine kodeord og krypteringsnøgler
Comment[de]=Verwalten Sie Ihre Passwörter und Schlüssel
Comment[dz]=ཁྱོད་རའི་ཆོག་ཡིག་དང་གསང་བཟོ་ལྡེ་མིག་ཚུ་ འཛིན་སྐྱོང་འཐབ་
Comment[el]=Διαχείριση των κωδικών και των κλειδιών κρυπτογράφησης
Comment[en_GB]=Manage your passwords and encryption keys
Comment[es]=Administre sus claves y contraseñas de cifrado
Comment[et]=Sinu paroolide ja krüptimisvõtmete haldamine
Comment[fi]=Hallitse salasanoja ja salausavaimia
Comment[fr]=Gèrer vos mots de passe et vos clés de chiffrement
Comment[ga]=Bainistigh d'fhocail faire agus eochracha criptithe
Comment[gl]=Xestione os seus contrasinais e chaves de cifrado
Comment[gu]=તમારા પાસવર્ડો અને એનક્રિપ્શન કીઓની વ્યવસ્થા કરો
Comment[hu]=Jelszavak és titkosítási kulcsok kezelése
Comment[it]=Gestire le proprie password e chiavi di cifratura
Comment[ja]=パスワードや暗号鍵を管理します
Comment[ko]=암호 및 암호화 키를 관리합니다
Comment[lt]=Tvarkyti jūsų slaptažodžius ir šifravimo raktus
Comment[lv]=Vadīt paroles un šifrēšanas atslēgas
Comment[mk]=Менаџирајте ги Вашите лозинки и клучеви за енкриптирање
Comment[mr]=तुमचे गुप्तशब्द व ऐंक्रीप्शन किल्ली नियंत्रीत करा
Comment[nb]=Håndter dine passord og krypteringsnøkler
Comment[ne]=तपाईँको पासवर्ड र गुप्तिकरण कुञ्जीहरू प्रबन्ध गर्नुहोस्
Comment[nl]=Uw cryptografische sleutels en wachtwoorden beheren
Comment[nn]=Handter dine passord og krypteringsnøklar
Comment[pa]=ਆਪਣੇ ਪਾਸਵਰਡ ਅਤੇ ਇੰਕ੍ਰਿਪਸ਼ਨ ਕੁੰਜੀਆਂ ਦੀ ਦੇਖਭਾਲ ਕਰੋ
Comment[pl]=Zarządzanie hasłami i kluczami szyfrującymi
Comment[pt]=Efectue a gestão das suas senhas e chaves de encriptação
Comment[pt_BR]=Gerenciar suas senhas e chaves de criptografia
Comment[ru]=Управление паролями и ключами шифрования
Comment[sl]=Upravljanje z gesli in šifrirnimi ključi
Comment[sv]=Hantera dina lösenord och krypteringsnycklar
Comment[ta]=உங்கள் கடவுச்சொற்கள் மற்றும் மறையாக்க விசைகளை மேலாளுங்கள்
Comment[te]=మీ రహస్యపదాలను మరియు రహస్యపరచే మీటలను నిర్వహించండి
Comment[th]=จัดการรหัสผ่านและกุญแจเข้ารหัสลับของคุณ
Comment[tr]=Parolalarınızı ve şifreleme anahtarlarınızı yönetin
Comment[uk]=Керування паролями та ключами шифрування
Comment[vi]=Quản lý các mật khẩu và khoá mã hoá của bạn
Comment[zh_CN]=管理您的密码和加密密钥
Comment[zh_HK]=管理密碼及密碼匙
Comment[zh_TW]=管理密碼及金鑰
Exec=seahorse
Terminal=false
Type=Application
Icon=seahorse
Categories=GNOME;GTK;Security;Utility;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.22.1
X-GNOME-DocPath=seahorse/seahorse.xml
X-Ubuntu-Gettext-Domain=seahorse
