[Desktop Entry]
Encoding=UTF-8
Name=Extractor de música de CD (Sound Juicer)
Name[ar]=مستخرج أصوات من القرص المدمج 
Name[as]=অডিও
Name[be@latin]=Prahrama kapijavańnia huku z CD
Name[bn_IN]=অডিও CD-র বিষয়বস্তু এক্সট্র্যাক্ট করার সামগ্রী
Name[ca]=Extractor d'àudio CD
Name[cs]=Extraktor zvukových CD
Name[da]=Lyd-cd-udtrækker
Name[de]=Audio-CDs auslesen
Name[en_GB]=Audio CD Extractor
Name[es]=Extractor de música de CD (Sound Juicer)
Name[et]=Audio CD-de rippija
Name[eu]=Audio CD erauzlea
Name[fi]=CD-levyjen kopiointi
Name[fr]=Extracteur de CD audio
Name[gl]=Extractor de CD de son
Name[hu]=Hang CD beolvasó
Name[it]=Estrattore CD audio
Name[ja]=音楽 CD 取り込みツール
Name[ko]=음악 CD 가져오기
Name[lt]=Audio CD išskleidiklis
Name[mk]=Екстратор за аудио CD
Name[mr]=ऑडिओ CD प्राप्तीकार
Name[nb]=Program for å hente ut sanger fra CDer
Name[nl]=Muziek-cd's kopiëren
Name[pa]=ਆਡੀਓ CD ਐੱਕਸਟਰੈਕਟਰ
Name[pl]=Program zgrywający płyty CD-Audio
Name[pt]=Extractor de CDs Áudio
Name[pt_BR]=Extrator de CDs de Áudio
Name[ru]=Программа копирования звуковых CD
Name[sl]=Zvočni CD pretvornik
Name[sv]=Ljudskivsextraherare
Name[ta]=இசை குறுந்தட்டு பிரிப்பி
Name[th]=โปรแกรมคัดลอกเพลงจากซีดี
Name[tr]=Ses CD'si Aktarıcı
Name[uk]=Програма копіювання звукових CD
Name[zh_CN]=音频 CD 提取器
Name[zh_HK]=音樂 CD 擷取程式
Name[zh_TW]=音樂 CD 擷取程式
Comment=Copy music from your CDs
Comment[ar]=إنسخ الموسيقى من أقراصك المدمجة
Comment[as]=আপোনাৰ CD সমূহৰ পৰা সঙ্গীত নকল কৰক
Comment[be@latin]=Kapijuj muzyku z dyskaŭ CD
Comment[bn_IN]=CD-তে উপস্থিত সংগীত কপি করুন
Comment[ca]=Copia la música dels CD
Comment[cs]=Kopírovat hudbu ze svých CD
Comment[da]=Kopier musik fra dine cd'er
Comment[de]=Ihre Musik-CDs auslesen
Comment[en_GB]=Copy music from your CDs
Comment[es]=Copie música de sus CD
Comment[et]=Muusika kopeerimine Sinu CD-plaatidelt
Comment[eu]=Kopiatu musika zure CD-etatik
Comment[fi]=Kopioi musiikkia CD-levyiltä
Comment[fr]=Copier la musique de vos CD audio
Comment[gl]=Copiar música desde os seus CDs
Comment[hu]=Zene másolása CD lemezekről
Comment[it]=Copia la musica dai CD
Comment[ja]=お気に入りの CD から楽曲をコピーします
Comment[ko]=CD에서 음악을 복사합니다
Comment[lt]=Kopijuokite muziką iš audio CD
Comment[mk]=Вади музика од CD-иња
Comment[mr]=तुमच्या CD पासून संगीतचे प्रत बनवा
Comment[nb]=Kopier musikk fra dine CDer
Comment[nl]=Muziek van uw cd's kopiëren (ofwel rippen)
Comment[pa]=ਆਪਣੀ CD ਤੋਂ ਸੰਗੀਤ ਕਾਪੀ ਕਰੋ
Comment[pl]=Kopiowanie muzyki z płyt CD
Comment[pt]=Copie a música dos seus CDs
Comment[pt_BR]=Copie as músicas dos seus CDs
Comment[ru]=Копирует музыку с ваших CD
Comment[sl]=Pretvorite glasbo s CD-jev.
Comment[sv]=Kopiera musik från dina cd-skivor
Comment[ta]=குறுந்தட்டிலிருந்து உங்கள் இசையை பிரதி எடுங்கள்
Comment[th]=คัดลอกเพลงจากซีดี
Comment[tr]=Müzik CD'lerinizi kopyalayın
Comment[uk]=Копіювання музики з компакт-дисків
Comment[zh_CN]=从您的 CD 中复制音乐
Comment[zh_HK]=從光碟中擷取音樂
Comment[zh_TW]=從光碟中擷取音樂
Exec=sound-juicer
Icon=sound-juicer
StartupNotify=true
MimeType=x-content/audio-cdda;
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=sound-juicer
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.22.0
X-Ubuntu-Gettext-Domain=sound-juicer
