[Desktop Entry]
Encoding=UTF-8
Name=About Guadalinex
Name[ca]=Quant a Guadalinex
Name[da]=Om Guadalinex
Name[de]=Über Guadalinex
Name[el]=Περί Guadalinex
Name[es]=Acerca de Guadalinex
Name[fa]=درباره Guadalinex
Name[fi]=Tietoja Guadalinexsta
Name[fr]=À propos d'Guadalinex
Name[he]=אודות אובונטו
Name[hu]=Az Guadalinex névjegye
Name[is]=Um Guadalinex
Name[it]=Informazioni su Guadalinex
Name[nl]=Over Guadalinex
Name[pt]=Sobre o Guadalinex
Name[pt_BR]=Sobre o Guadalinex
Name[ro]=Despre Guadalinex
Name[sk]=O Guadalinex
Name[sv]=Om Guadalinex
Name[xh]=Malunga ne-Guadalinex
Name[zh_CN]=关于 Guadalinex
Comment=Learn more about Guadalinex
Comment[ca]=Conegueu més sobre Guadalinex
Comment[da]=Lær mere om Guadalinex
Comment[de]=Mehr über Guadalinex erfahren
Comment[el]=Μάθετε περισσότερα για το Guadalinex
Comment[es]=Sepa más acerca de Guadalinex
Comment[fa]=راجع به Guadalinex بیشتر بدانید
Comment[fi]=Näytä tietoja Guadalinex-järjestelmästä
Comment[fr]=En savoir plus à propos d'Guadalinex
Comment[he]=קרא דואר באמצעות אבולושיין
Comment[hu]=Tudjon meg többet az Guadalinexról
Comment[is]=Lærðu meira um Guadalinex
Comment[it]=Sapere di più circa Guadalinex
Comment[nl]=Kom meer te weten over Ubunt
Comment[pt]=Aprenda mais sobre o Guadalinex
Comment[pt_BR]=Aprenda mais sobre o Guadalinex
Comment[ro]=Aflaţi mai multe despre Guadalinex
Comment[sk]=Dozvedieť sa viac o Guadalinex
Comment[sv]=Lär dig mer om Guadalinex
Comment[xh]=Funda ngaphezulu nge-Guadalinex
Comment[zh_CN]=更多有关 Guadalinex 的信息
Exec=yelp ghelp:about-Guadalinex
Icon=distributor-logo
Terminal=false
Type=Application
Categories=GNOME;Application;Core;
StartupNotify=true
X-Guadalinex-Gettext-Domain=gnome-panel-2.0
