[Desktop Entry]
Encoding=UTF-8
Name=Conexión móvil Vodafone
Exec=vodafone-mobile-connect-card-driver-for-linux
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=vodafone.png
Categories=Application;G3g;
StartupNotify=true
