Source: bluez-libs
Priority: optional
Section: admin
Uploaders: Edd Dumbill <ejad@debian.org>, Filippo Giunchedi <filippo@debian.org>, Mario Iseli <mario@debian.org>
Maintainer: Debian Bluetooth Maintainers <pkg-bluetooth-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>> 4.2.0), cdbs, autotools-dev
Vcs-Svn: svn://svn.debian.org/svn/pkg-bluetooth/packages/bluez-libs
Vcs-Browser: http://svn.debian.org/wsvn/pkg-bluetooth/packages/bluez-libs
Homepage: http://www.bluez.org
Standards-Version: 3.8.0

Package: libbluetooth-dev
Section: libdevel
Provides: libbluetooth2-dev
Conflicts: libbluetooth-dev, libsdp2-dev (<= 1.5.2), bluez-pan
Replaces: libsdp2-dev (<= 1.5.2)
Depends: libbluetooth2 (= ${binary:Version}), libc6-dev | libc-dev
Suggests: pkg-config
Priority: extra
Architecture: any
Description: Development files for using the BlueZ Linux Bluetooth library
 BlueZ is the official Linux Bluetooth protocol stack. It is an Open Source
 project distributed under GNU General Public License (GPL).

Package: libbluetooth2
Section: libs
Conflicts: libsdp2 (<= 1.5-2)
Replaces: libsdp2 (<= 1.5-2)
Depends: ${shlibs:Depends}
Architecture: any
Description: Library to use the BlueZ Linux Bluetooth stack
 BlueZ is the official Linux Bluetooth protocol stack. It is an Open Source
 project distributed under GNU General Public License (GPL).
