Source: guadafox
Section: web
Priority: optional
Maintainer: roberto majadas <roberto.majadas@openshine.com> 
Build-Depends: debhelper (>= 5), cdbs, quilt, mozilla-devscripts, zip
Standards-Version: 3.7.2.1

Package: guadafox
Architecture: all
Provides: ubufox
Conflicts: ubufox
Replaces: ubufox
Depends: firefox | firefox-3.0 | firefox-2, apturl (>= 0.1.2ubuntu1)
Description: Guadalinex Firefox specific configuration defaults and apt support
 Extension package for Firefox provides guadalinex specific configuration defaults
 as well as apt support for firefox plugins/extensions.
 .
 You can uninstall this package if you prefer to use a pristine firefox
 install.

