Source: gedit-plugin-tloleo
Section: gnome
Priority: optional
Maintainer: Alfredo Matas <amatas@emergya.es>
Build-Depends: debhelper (>= 5), gedit-dev (>=2.22.0), libgtksourceview-dev (>=1.8.5)
Standards-Version: 3.7.2

Package: gedit-plugin-tloleo
Architecture: any
Depends: festival (>= 1.4.3-9), festvox-palpc16k (>=1.0.0), festvox-sflpc16k (>=1.0.0), ${shlibs:Depends}, ${misc:Depends}
Description:  set of plugins for gedit
  gedit-plugin-TLoleo contain a set of plugins for gedit, GNOME's text editor.
  .
  The following plugins are included:
   * TLoleo: synthesizes the selected text with Festival using the Spanish
  male voice from the Hispavoces project (http://forja.guadalinex.org/projects/hispavoces/). 
  Developed by Intelligent Dialogue Systems S.L.
  .
