[Desktop Entry]
Name=Guadalinex Asistente USB
Comment=Instala un sistema live en un dispositivo de almacenamiento USB.
Exec=gksu /usr/sbin/guadalinex-asistente-usb
Icon=/usr/share/icons/Guadalinex/scalable/places/start-here.svg
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=GTK;System;Settings
