[Desktop Entry]
Encoding=UTF-8
Name=Dia
Name[am]=Dia
Name[az]=Dia
Name[be]=Дыя
Name[ca]=Dia
Name[cs]=Dia
Name[da]=Dia
Name[de]=Dia
Name[el]=Dia
Name[en_CA]=Dia
Name[en_GB]=Dia
Name[es]=Dia
Name[fi]=Dia
Name[fr]=Dia
Name[ga]=Dia
Name[gu]=ડાયા
Name[hr]=Dia
Name[hu]=Dia
Name[is]=Dia
Name[ja]=Dia
Name[mk]=Dia
Name[ml]=Dia
Name[mn]=Диа
Name[ms]=Dia
Name[nl]=Dia
Name[nn]=Dia
Name[no]=Dia
Name[pl]=Dia
Name[pt]=Dia
Name[pt_BR]=Dia
Name[ro]=Dia
Name[ru]=Dia
Name[sk]=Dia
Name[sl]=Dia
Name[sr]=Диа
Name[sr@Latn]=Dia
Name[sv]=Dia
Name[tr]=Dia
Name[uk]=Діа
Name[vi]=Dia
Name[zh_CN]=Dia
Name[zh_TW]=Dia
Comment=Diagram editor
Comment[be]=Рэдактар дыяграмаў
Comment[ca]=Editor de diagrames
Comment[cs]=Editor diagramů
Comment[da]=Diagramtegner
Comment[de]=Diagrammeditor
Comment[el]=Επεξεργαστής διαγράμματος
Comment[en_CA]=Diagram editor
Comment[en_GB]=Diagram editor
Comment[es]=Editor de diagramas
Comment[fi]=Kaavioeditori
Comment[fr]=Éditeur de diagrammes
Comment[ga]=Eagarthoír Léaráid
Comment[hr]=Uređivač dijagrama
Comment[hu]=Diagramszerkesztő
Comment[ja]=ダイアグラム・エディタです
Comment[mk]=Дијаграм уредувач
Comment[mn]=Диаграмын засварлагч
Comment[ms]=Editor diagram
Comment[nl]=Diagram Bewerken
Comment[no]=Diagramredigering
Comment[pl]=Edytor diagramów
Comment[pt]=Editor de diagramas
Comment[pt_BR]=Editor de diagramas
Comment[ro]=Editor de diagrame
Comment[ru]=Редактор диаграмм
Comment[sk]=Editor diagramov
Comment[sl]=Urejevalnik diagramov
Comment[sr]=Уређивач дијаграма
Comment[sr@Latn]=Uređivač dijagrama
Comment[sv]=Diagramredigerare
Comment[uk]=Редактор діаграм
Comment[vi]=Bộ biên soạn sơ đồ
Comment[zh_CN]=图表编辑器
Comment[zh_TW]=圖表編輯器
Type=Application
Exec=dia-gnome
Icon=dia_gnome_icon.png
Terminal=false
Categories=GNOME;Application;Graphics;
StartupNotify=true
MimeType=application/x-dia-diagram;
