[Desktop Entry]
Encoding=UTF-8
Name=Sound Recorder
Name[ar]=مسجل الأصوات
Name[az]=Səs Qeyd Edicisi
Name[be]=Праграма гуказапісу
Name[bg]=Програма за запис на звуци
Name[bn]=শব্দ রেকর্ডকারী
Name[bs]=Snimač zvuka
Name[ca]=Enregistrador de so
Name[cs]=Záznamník zvuků
Name[cy]=Recordydd sain
Name[da]=Lydoptager
Name[de]=Audio-Recorder
Name[el]=Εγγραφέας Ήχου
Name[en_CA]=Sound Recorder
Name[en_GB]=Sound Recorder
Name[es]=Grabador de sonido
Name[et]=Helisalvestaja
Name[eu]=Soinu-grabagailua
Name[fa]=ضبط صدا
Name[fi]=Ääninauhuri
Name[fr]=Enregistreur de sons
Name[gl]=Gravador de son
Name[gu]=ધ્વનિ રેકોર્ડ કરનાર
Name[he]=רשמקול
Name[hi]=ध्वनि रेकॉर्डर
Name[hr]=Zvučni poslužitelj
Name[hu]=Hangrögzítő
Name[id]=Perekam Suara
Name[it]=Registratore di suoni
Name[ja]=サウンド・レコーダ
Name[ko]=녹음기
Name[lt]=Garso įrašymo programa
Name[lv]=Skaņu Ierakstītājs
Name[mk]=Снимач на звук
Name[mn]=Дуу Бичигч
Name[ms]=Perekod Bunyi
Name[nb]=Lydinnspilling
Name[ne]=ध्वनि रेकर्डयन्त्र
Name[nl]=Geluidsrecorder
Name[nn]=Lydopptakar
Name[no]=Lydinnspilling
Name[pa]=ਧੁਨੀ ਰਿਕਾਰਡਰ
Name[pl]=Rejestrator dźwięku
Name[pt]=Gravador de Som
Name[pt_BR]=Gravador de Som
Name[ro]=Înregistrare sunet
Name[ru]=Звукозапись
Name[sk]=Záznam zvuku
Name[sl]=Snemalnik zvoka
Name[sq]=Regjistruesi i Zërit
Name[sr]=Снимање звука
Name[sr@Latn]=Snimanje zvuka
Name[sv]=Ljudinspelare
Name[ta]=ஒலியை பதிவு சேய் 
Name[th]=บันทึกเสียง
Name[tr]=Ses Kaydedicisi
Name[uk]=Запис звуку
Name[vi]=Bộ thu âm
Name[wa]=Eredjistreu d' sons
Name[xh]=Isishicileli seSandi
Name[zh_CN]=录音机
Name[zh_TW]=錄音程式
Comment=Record sound clips
Comment[ar]=تسجيل قطع صوتية
Comment[az]=Səs kliplərini qeyd et
Comment[be]=Запісаць гукавы кліп
Comment[bg]=Запис на звукови клипове
Comment[bn]=শব্দের টুকরো রেকর্ড করুন
Comment[bs]=Snimi zvučne klipove
Comment[ca]=Enregistra talls de so
Comment[cs]=Vytváření zvukových záznamů
Comment[cy]=Recordio darnau sain
Comment[da]=Optag lydklip
Comment[de]=Audioclips aufnehmen
Comment[el]=Ηχογράφηση ηχητικών κλιπ
Comment[en_CA]=Record sound clips
Comment[en_GB]=Record sound clips
Comment[es]=Grabar clips de sonido
Comment[et]=Heliklippide salvestamine
Comment[eu]=Grabatu soinu-klipak
Comment[fa]=ضبط کلیپ صوتی
Comment[fi]=Äänitä äänitiedostoja
Comment[fr]=Enregistre des échantillons sonores
Comment[gl]=Grabar clips de son
Comment[gu]=ધ્વનિ અંશને રેકોર્ડ કરો
Comment[he]=הקלט קטעי קול
Comment[hi]=ध्वनि क्लिप्स रेकॉर्ड करें
Comment[hr]=Snimi primjerke zvuka
Comment[hu]=Hangfelvétel készítése
Comment[id]=Rekam potongan suara
Comment[it]=Registra dei clip audio
Comment[ja]=サウンド・クリップを記録します
Comment[ko]=사운드 클립을 녹음합니다
Comment[lt]=Rašyti garso klipus
Comment[lv]=Ierakstīt skaņas klipus
Comment[mk]=Сними звучни клипчиња
Comment[mn]=Дууны клипуудыг бичих
Comment[ms]=klip bunyi Rekod
Comment[nb]=Ta opp lydklipp
Comment[ne]=ध्वनि टुक्राहरुलाई रेकर्ड गर
Comment[nl]=Geluidsfragmenten opnemen
Comment[nn]=Ta opp lydklipp
Comment[no]=Ta opp lydklipp
Comment[pa]=ਧੁਨੀ ਅੰਸ਼ ਰਿਕਾਰਡ ਕਰੋ
Comment[pl]=Rejestracja i odtwarzanie dźwięków
Comment[pt]=Gravar trechos de som
Comment[pt_BR]=Grave clipes de som
Comment[ro]=Înregistrează eşantioane sonore
Comment[ru]=Запись звуковых клипов
Comment[sk]=Nahrávanie zvukových klipov
Comment[sl]=Posnami zvočne vzorce
Comment[sq]=Regjistron audio clips
Comment[sr]=Сними исечке звука
Comment[sr@Latn]=Snimi isečke zvuka
Comment[sv]=Spela in ljudklipp
Comment[ta]=ஒலி அமைப்புகளை பதிவு சேய்
Comment[th]=บันทึก sound clips
Comment[tr]=Ses parçalarını kaydet
Comment[uk]=Запис звукових фрагментів
Comment[vi]=Thu đoạn âm thanh
Comment[wa]=Eredjistrer des bokets d' son
Comment[xh]=Izicatshulwa zoshicilelo lwesandi
Comment[zh_CN]=录制声音剪辑
Comment[zh_TW]=錄音
Exec=gnome-sound-recorder
Icon=gnome-grecord.png
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-DocPath=grecord/grecord.xml
Categories=GNOME;Application;AudioVideo;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=Gnome-Sound-Recorder
