[Desktop Entry]
Encoding=UTF-8
Name=Bluetooth File Sharing
Name[bg]=Споделяне на файлове по Bluetooth
Name[cs]=Sdílení souborů přes Bluetooth
Name[de]=Bluetooth-Dateiverteilung
Name[en_CA]=Bluetooth File Sharing
Name[en_GB]=Bluetooth File Sharing
Name[es]=Compartición de archivos por Bluetooth
Name[fr]=Partage de fichier Bluetooth
Name[gl]=Compartir ficheiros por Bluetooth
Name[hu]=Bluetooth fájlmegosztás
Name[it]=Condivisione file Bluetooth
Name[ja]=Bluetooth ファイル共有
Name[nb]=Fildeling av Bluetooth
Name[ne]=ब्लुटुथ फाइल बिभाजन गर्दै
Name[nl]=Bestanden delen met Bluetooth
Name[no]=Fildeling av Bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ ਫਾਇਲ ਸਾਂਝ
Name[pt]=Partilha de Ficheiros Bluetooth
Name[pt_BR]=Compartilhamento de Arquivos via Bluetooth
Name[ru]=Общий доступ к файлам по Bluetooth
Name[sv]=Bluetooth-fildelning
Name[uk]=Спільний доступ до файлів через Bluetooth
Name[zh_CN]=蓝牙文件共享
Comment=Receive files sent by Bluetooth devices
Comment[bg]=Получаване на файлове изпратени от blueetooth устройства
Comment[cs]=Přijímat soubory odesílané zařízeními Bluetooth
Comment[de]=Empfangen von Dateien die von einem Bluetooth-Gerät gesendet werden
Comment[en_CA]=Receive files sent by Bluetooth devices
Comment[en_GB]=Receive files sent by Bluetooth devices
Comment[es]=Recibir archivos enviados por dispositivos Bluetooth
Comment[fr]=Reçoit des fichiers de périphériques Bluetooth
Comment[gl]=Recibir ficheiros enviados por dispositivos Bluetooth
Comment[hu]=Bluetooth eszközök által küldött fájlok fogadása
Comment[it]=Ricezione file inviati da dispositivi Bluetooth
Comment[ja]=Bluetooth デバイスが送信したファイルを受信します
Comment[nb]=Motta filer sendt av Bluetooth-enheter
Comment[ne]=ब्लुटुथ साधनहरू द्वारा पठाएका फाइलहरू प्राप्त
Comment[nl]=Bestanden ontvangen verstuurd door Bluetooth-apparaten
Comment[no]=Motta filer sendt av Bluetooth-enheter
Comment[pa]=ਪ੍ਰਾਪਤ ਫਾਇਲਾਂ ਬਲਿਊਟੁੱਥ ਜੰਤਰ ਨੇ ਭੇਜੀਆਂ ਹਨ
Comment[pt]=Receber ficheiros enviados por dispositivos Bluetooth
Comment[pt_BR]=Receba arquivos enviados por dispositivos Bluetooth
Comment[ru]=Принимает файлы, отправленные устройствами Bluetooth
Comment[sv]=Mottag filer som skickas av Bluetooth-enheter
Comment[uk]=Отримання файлів надісланих через Bluetooth
Comment[zh_CN]=接收由蓝牙设备发送的文件
Icon=../gnome-bluetooth/pixmaps/blueradio-48.png
Exec=gnome-obex-server
Terminal=0
Type=Application
Categories=Application;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=obex-server
