[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Name=GNOME Control Center
Name[af]=GNOME-beheersentrum
Name[ar]=مركز تحكم جنوم
Name[az]=GNOME İdarə Mərkəzi
Name[be]=Цэнтар кіраваньня GNOME
Name[bg]=Контролен център на GNOME
Name[bn]=গনোম নিয়ন্ত্রণ কেন্দ্র
Name[bs]=GNOME Kontrolni centar
Name[ca]=Centre de control del GNOME
Name[cs]=Ovládací centrum GNOME
Name[cy]=Canolfan Reoli GNOME
Name[da]=Gnome-kontrolcenter
Name[de]=GNOME-Kontrollzentrum
Name[el]=Κέντρο Ελέγχου GNOME
Name[en_CA]=GNOME Control Centre
Name[en_GB]=GNOME Control Centre
Name[es]=Centro de control de Gnome
Name[et]=GNOME juhtpaneel
Name[eu]=GNOMEren kontrol-zentroa
Name[fa]=مرکز کنترل گنوم
Name[fi]=Gnomen hallintakeskus
Name[fr]=Centre de contrôle GNOME
Name[gl]=Centro de Control de GNOME
Name[gu]=જીનોમ નિયંત્રણ કેન્દ્ર
Name[he]=לוח הבקרה של GNOME
Name[hi]=गनोम नियंत्रण केंद्र
Name[hr]=GNOME kontrolni centar
Name[hu]=GNOME Vezérlőpult
Name[id]=Pusat Kendali GNOME
Name[is]=GNOME-stjórnstöð
Name[it]=Centro di controllo GNOME
Name[ja]=GNOME コントロール・センター
Name[ko]=그놈 제어판
Name[lt]=GNOME valdymo centras
Name[lv]=GNOME Kontroles Centrs
Name[mk]=Контролен центар на Гном
Name[ml]=ഗ്നോം നിന്ത്രണ കേന്ദ്രം
Name[mn]=GNOME-удирдах төв
Name[ms]=Pusat Kawalan GNOME
Name[nb]=GNOME Kontrollsenter
Name[ne]=जिनोम नियन्त्रण केन्द्र
Name[nl]=GNOME Configuratiecentrum
Name[nn]=GNOME Kontrollsenter
Name[no]=GNOME Kontrollsenter
Name[nso]=Lefelo la Taolo ya GNOME
Name[pa]=ਗਨੋਮ ਕੰਟਰੋਲ ਕੇਂਦਰ
Name[pl]=Centrum Sterowania GNOME
Name[pt]=Centro de Controlo GNOME
Name[pt_BR]=Centro de Controle do GNOME
Name[ro]=Centrul de control GNOME
Name[ru]=Центр управления средой GNOME
Name[sk]=GNOME Ovládacie centrum
Name[sl]=Kontrolni center GNOME
Name[sq]=Qendra e Kontrollit të GNOME
Name[sr]=Гномов управљачки центар
Name[sr@Latn]=Gnomov upravljački centar
Name[sv]=GNOME-kontrollpanelen
Name[ta]=கனோம் கட்டுப்பாட்டு மையம்
Name[te]=గ్నోమ్ నియంత్రణా కేంద్రం
Name[th]=ศูนย์ควบคุม GNOME
Name[tr]=GNOME Kontrol Merkezi
Name[uk]=Центр керування GNOME
Name[vi]=Trung tâm điều khiển GNOME
Name[wa]=Cinte di Contrôle di GNOME
Name[xh]=ULungelelaniso ngasembindini lwe-GNOME
Name[zh_CN]=GNOME 控制中心
Name[zh_TW]=GNOME 控制中心
Name[zu]=GNOME umlawuli ophakathi
GenericName=The GNOME configuration tool
GenericName[af]=Die GNOME-konfigurasienutsgoed
GenericName[ar]=أداة إعداد جنوم
GenericName[az]=GNOME quraşdırma avadanlığı
GenericName[be]=Сродак наладкі GNOME
GenericName[bg]=Инструмент за настройки на GNOME
GenericName[bn]=গনোম কনফিগারেশন প্রক্রিয়া
GenericName[bs]=GNOME alat za podešavanje
GenericName[ca]=L'eina de configuració del GNOME
GenericName[cs]=Nástroj pro nastavení prostředí GNOME
GenericName[cy]=Yr erfyn cyfluniad GNOME
GenericName[da]=Et centralt opsætningsværktøj til Gnome
GenericName[de]=Das GNOME-Konfigurationswerkzeug
GenericName[el]=Το εργαλείο ρύθμισης του GNOME
GenericName[en_CA]=The GNOME configuration tool
GenericName[en_GB]=The GNOME configuration tool
GenericName[es]=Herramienta de configuración de Gnome
GenericName[et]=GNOME kasutajaliidese seadistusprogramm
GenericName[eu]=GNOMEren konfigurazio-tresna
GenericName[fa]=ابزار پیکربندی گنوم
GenericName[fi]=Gnomen hallintatyökalu
GenericName[fr]=L'outil de configuration de GNOME.
GenericName[gl]=A ferramenta de configuración de GNOME
GenericName[gu]=જીનોમ રુપરેખાનું સાધન
GenericName[he]=כלי ההגדרה של GNOME
GenericName[hi]=गनोम कॉन्फ़िगरेशन उपकरण
GenericName[hr]=Alat za podešavanje GNOME-a
GenericName[hu]=A GNOME beállítóeszköze
GenericName[id]=Program pengatur sistem GNOME
GenericName[is]=GNOME stillingatækið
GenericName[it]=Strumento di configurazione per GNOME
GenericName[ja]=デスクトップの各種設定を行います
GenericName[ko]=그놈 설정 도구
GenericName[lt]=GNOME konfigūravimo įrankis
GenericName[lv]=GNOME konfigurācijas rīks
GenericName[mk]=Алатка за конфигурирање на Гном
GenericName[ml]=ഗ്നോം അനുരൂപമാക്കുന്ന ഉപകരണം
GenericName[mn]=GNOME-тохируулгын хэрэгсэл
GenericName[ms]=Radas Konfigurasi GNOME
GenericName[nb]=Konfigurasjonsverktøy for GNOME
GenericName[ne]=जिनोम समायोजना यन्त्र
GenericName[nl]=Het GNOME configuratieprogramma
GenericName[nn]=Oppsettsverktøy for GNOME
GenericName[no]=Konfigurasjonsverktøy for GNOME
GenericName[nso]=Sedirišwa sa go fetola sebopego sa GNOME
GenericName[pa]=ਗਨੋਮ ਸੰਰਚਨਾ ਸੰਦ
GenericName[pl]=Narzędzie konfiguracyjne GNOME
GenericName[pt]=A ferramenta de configuração GNOME
GenericName[pt_BR]=Ferramenta de configuração do GNOME
GenericName[ro]=Unealta de configurare GNOME
GenericName[ru]=Утилита настройки среды GNOME
GenericName[sk]=Nástroj pre nastavenie GNOME
GenericName[sl]=Nastavitveno orodje GNOME-a.
GenericName[sq]=Veglat e konfigurimit të GNOME
GenericName[sr]=Гномов алат за подешавање
GenericName[sr@Latn]=Gnomov alat za podešavanje
GenericName[sv]=Konfigurationsverktyget för GNOME
GenericName[ta]=கனோம் அமைவடிவு கருவி
GenericName[th]=เครื่องมือปรับแต่งระบบของ GNOME
GenericName[tr]=GNOME yapılandırma aracı
GenericName[uk]=Засіб настроювання GNOME
GenericName[vi]=Công cụ cấu hình GNOME
GenericName[wa]=L' usteye d' apontiaedje di GNOME
GenericName[xh]=Isixhobo sokumiselwa kwe-GNOME
GenericName[zh_CN]=GNOME 配置工具
GenericName[zh_TW]=GNOME 設定工具
GenericName[zu]=Ithulusi lokumisa lwe-GNOME
Icon=gnome-control-center
Exec=gnome-control-center
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=control-center
X-GNOME-Bugzilla-Component=shell
X-GNOME-Bugzilla-Version=2.12.1
