[Desktop Entry]
Encoding=UTF-8
Name=Ubuntu Device Database
Name[ca]=Base de dades de dispositius d'Ubuntu
Name[de]=Gerätedatenbank
Name[eu]=Ubntu Gailu datu-basea
Name[fi]=Ubuntun laitetietokanta
Name[fr]=Base de données Ubuntu des périphériques
Name[pt]=Base de Dados de Dispositivos
Name[pt_BR]=Banco de Dados de Dispositivos do Ubuntu
Name[it]=Base dei dati dei dispositivi Ubuntu
Name[nl]=Ubuntu apparaatdatabase
Name[hu]=Ubuntu eszközadatbázis
Name[sk]=Ubuntu databáza zariadení
Name[fa]=بانک اطلاعات سخت افزاری Ubuntu
Comment=Ubuntu Device Database submission Tool
Comment[ca]=Eina d'enviament a la base de dades de dispositius d'Ubuntu
Comment[eu]=Ubuntu Gailu Datu-basearen bidaltze tresna
Comment[de]=Sendet Computerinformationen an die Hardwaredatenbank
Comment[fi]=Ubuntun laitetietokannan lähetystyökalu
Comment[fr]=Outil de contribution à la base de données Ubuntu des périphériques
Comment[pt]=Enviar informações de dispositivos para base de dados Ubuntu
Comment[pt_BR]=Enviar informações de dispositivos para o banco de dados do Ubuntu
Comment[it]=Invia informazioni per la base dei dati dei dispositivi di Ubuntu
Comment[nl]=Toepassing om uw gegevens aan de Ubuntu apparaatdatabase toe te voegen
Comment[hu]=Információk küldése az Ubuntu eszközadatbázisba
Comment[sk]=Nástroj na spoluprácu s databázou zariadení fungujúcich v Ubuntu
Comment[fa]=ابزار معرفی سخت افزار جدید به بانک اطلاعات سخت افزاری Ubuntu
Exec=hwdb-gui
Terminal=false
Type=Application
Categories=GNOME;Application;System;
StartupNotify=true
Icon=/usr/share/hwdb-client/hwdb.png
