[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Web Browser
Name[ru]=Веб-браузер Mozilla
Comment=Browse the World Wide Web
Comment[ru]=Мощная программа для просмотра веб-страниц
Exec=mozilla-suite
Icon=mozilla.png
Terminal=false
Type=Application
Categories=Application;Network
StartupNotify=true
