[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=ooo-base
Type=Application
InitialPreference=2
Categories=Application;Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=ooffice2 -base %U
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base
Name=OpenOffice.org2 Base
Comment=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[en]=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[de]=Verwalten von Datenbanken, Erstellen von Abfragen und Berichten mit Base
Comment[af]=Bestuur databasisse, skep navrae en verslae om u inligting na te speur en te bestuur, met Base.
Comment[be_BY]=Кіруйце базамі дадзеных, стварайце звароты і справаздачы, каб зважаць на, і кіраваць інфармацыяй з дапамогаю Base.
Comment[bg]=С Base можете да управлявате бази от данни и да създавате заявки и справки, за да следите и управлявате Вашата информация.
Comment[ca]=Gestioneu bases de dades i creeu consultes i informes per fer el seguiment i gestionar la vostra informació amb el Base.
Comment[cs]=Spravujte databáze, vytvářejte dotazy a sestavy pro sledování a řízení vašich informací pomocí Base.
Comment[cy]=Rheoli cronfeydd data, creu ymholiadau ac adroddiadau i ddilyn a rheoli eich gwybodaeth drwy ddefnyddio Base.
Comment[da]=Administrer databaser, opret forespørgsler og rapporter til at spore og administrere dine informationer ved at bruge Base.
Comment[el]=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[en_GB]=Manage databases, create queries, reports, track and manage your information using Base.
Comment[es]=Administrar bases de datos, crear consultas e informes para controlar y editar información con Base.
Comment[et]=Base võimaldab kasutada andmebaase ja luua andmete jälgimiseks ning haldamiseks päringuid ja aruandeid.
Comment[fi]=Hallinnoi tietokantoja, luo kyselyjä ja seurantaraportteja, ja hallinnoi tietojasi käyttämällä Base -ohjelmaa.
Comment[fr]=Base - Gestion de bases de données, création de requêtes et rapports
Comment[gu_IN]=ડેટાબેઝોની વ્યવસ્થા કરો, પ્રશ્નો બનાવો અને તમારી જાણકારી આધારની મદદથી ટ્રેક કરવા અને તેની વ્યવસ્થા કરવા માટેના અહેવાલો.
Comment[hr]=Upravljanje bazama podataka, kreiranje upita i izvještaja za praćenje i upravljanje informacija koristeći Base.
Comment[hu]=Adatbázisok kezelése, lekérdezések és jelentések készítése a Base használatával.
Comment[it]=Usando Base, potete gestire i database e creare interrogazioni e rapporti per controllare e organizzare le vostre informazioni.
Comment[ja]=Base を使用することで、データベースを管理し、クエリーとレポートを作成して、情報を追跡および管理します。
Comment[km]=គ្រប់គ្រង​មូលដ្ឋាន​ទិន្នន័យ បង្កើត​សំណួរ និង រាយការណ៍​ ដើម្បី​តាមដាន និង គ្រប់គ្រង​ព័ត៌មាន​របស់​អ្នក​ដោយ​ប្រើ Base ។
Comment[ko]=Base를 사용하여 데이터베이스를 관리하고, 추적할 쿼리와 보고서를 만들며, 정보를 관리합니다.
Comment[nb]=Håndter databaser, lag spørringer og rapporter og håndter informasjon ved hjelp av Base.
Comment[nl]=Met Base kunt u databases beheren, query's en rapporten maken om uw gegevens te controleren en beheren.
Comment[nn]=Med Base kan du handtera databasar, laga spørjingar og rapportar for sporing og handtering av informasjon.
Comment[pa_IN]=ਬੇਸ ਨਾਲ ਆਪਣਾ ਡਾਟਾਬੇਸ ਸੰਭਾਲੋ, ਸਵਾਲ ਬਣਾਓ ਅਤੇ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਨੂੰ ਜਾਂਚਿਆ ਅਤੇ ਪ੍ਰਬੰਧ ਕੀਤਾ ਜਾ ਸਕਦਾ ਹੈ।
Comment[pl]=Administruj bazami danych, twórz kwerendy i raporty aby efektywnie zarządzać informacją używając programu Base.
Comment[pt_BR]=Gerenciar bancos de dados, criar consultas e relatórios para rastrear e gerenciar suas informações por meio do Base.
Comment[ru]=Управление базами данных, создание запросов и отчетов для слежения и управления вашей информацией при помощи Base.  
Comment[rw]=Kuyobora ububikoshingiro, kurema ibibazo na raporo kugira ngo ugenzure kandi uyobore ibyatanzwe byawe ukoresheje Base.
Comment[sh_YU]=Upravlja bazama podataka, pravi upite i izveštaje za praćenje Vaših podataka korićenjem Baze.
Comment[sk]=Spravujte databázy, vytvárajte dotazy a správy pre správu a analýzu vašich informácií s použitím Base.
Comment[sr_CS]=Управља базама података, прави упите и извештаје за праћење Ваших података корићењем Базе.
Comment[st]=Laola didatapeisi, bopa dingongoreho le ditlaleho bakeng sa ho latedisisa le ho laola tlhahisoleseding ya hao ka ho sebedisa Motheo.
Comment[sv]=Hantera databaser, skapa sökningar och rapporter för att spåra och hantera information med hjälp av Base.
Comment[sw_TZ]=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[tr]=Veritabanları yönet, sorgular oluştur ve raporları izle ve Base bilginizi kullanın.
Comment[ts]=Tirha hi swivandla swa marungula, hlutisisa ni ku endla swiviko leswaku u landzelerisisa rungula ra wena hi ku tirhisa xitirho xa Base.
Comment[vi]=Quản lý CSDL, tạo truy vấn và báo cáo để theo dõi và quản lý thông tin của bạn bằng Base.
Comment[xh]=Lawula iziseko zeenkcukacha, dala iintandabuzo neengxelo ukuze ulande ekhondweni ngokunjalo ulawule ulwazi lwakho ngokusebenzisa u-Base.
Comment[zh_CN]=使用 Base 管理数据库并创建查询和报表，以对信息进行跟踪和管理。
Comment[zh_TW]=使用 Base 來管理資料庫、建立查詢與報告，以追蹤及管理您的資訊。
StartupNotify=true
