[Desktop Entry]
Version=0.7.1
Encoding=UTF-8
Name=Smeg
GenericName=Menu Editor
Comment=Simple Menu Editor
Exec=smeg --kde
Icon=kmenu
OnlyShowIn=KDE;
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;System;
