[Desktop Entry]
Name=Time and Date
Name[ar]=الوقت و التّاريخ
Name[bg]=Дата и час
Name[bn]=সময় এবং তারিখ
Name[ca]=Hora i data
Name[cs]=Datum a čas
Name[da]=Dato og klokkeslæt
Name[de]=Datum und Uhrzeit
Name[el]=Ώρα και Ημερομηνία
Name[en_CA]=Time and Date
Name[en_GB]=Time and Date
Name[es]=Hora y fecha
Name[et]=Kellaaeg ja kuupäev
Name[eu]=Ordua eta data
Name[fi]=Aika ja päiväys
Name[fr]=Date et heure
Name[gl]=Hora e data
Name[gu]=સમય અને તારીખ
Name[hi]=समय और तारीख़
Name[hr]=Vrijeme i Datum
Name[hu]=Idő és dátum
Name[id]=Tanggal dan Waktu
Name[it]=Ora e data
Name[ja]=時刻と日付の設定
Name[ko]=시간과 날짜
Name[lt]=Laiko ir datos nustatymai
Name[mk]=Време и датум
Name[ms]=Masa dan Tarikh
Name[nb]=Tid og dato
Name[ne]=समय र मिती
Name[nl]=Datum en tijd
Name[no]=Tid og dato
Name[pa]=ਸਮਾਂ ਅਤੇ ਮਿਤੀ
Name[pl]=Czas i data
Name[pt]=Data e Hora
Name[pt_BR]=Data e Hora
Name[ro]=Oră şi dată
Name[ru]=Дата и время
Name[sk]=Dátum a čas
Name[sq]=Ora dhe Data
Name[sr]=Време и датум
Name[sr@Latn]=Vreme i datum
Name[sv]=Tid och datum
Name[ta]=தேதி மற்றும் நேரம்
Name[th]=เวลาและวันที่
Name[tr]=Zaman ve Tarih
Name[uk]=Дата й час
Name[vi]=Ngày và Giờ
Name[wa]=Date et eure
Name[xh]=UMhla neXesha
Name[zh_CN]=时间和日期
Name[zh_TW]=時刻及日期設定
Comment=Change system time, date, and timezone
Comment[ar]=تغيير وقت النّظام و التّاريخ و المنطقة الزّمنيّة
Comment[bg]=Промяна на датата, часа и часовия пояс на системата
Comment[bn]=সিস্টেমের সময়, তারিখ এবং সময়ের-অঙ্চল পরিবর্তন করো
Comment[ca]=Canvieu l'hora, la data, i el fus horari del sistema
Comment[cs]=Změnit systémový čas, datum a časovou zónu.
Comment[da]=Skift klokkeslæt, dato og tidszone
Comment[de]=Systemzeit, Datum und Zeitzone festlegen
Comment[el]=Αλλαγή ώρας, ημερομηνίας και ζώνης ώρας συστήματος
Comment[en_CA]=Change system time, date, and timezone
Comment[en_GB]=Change system time, date, and timezone
Comment[es]=Cambiar hora, fecha y zona horaria
Comment[et]=Kellaaja, kuupäeva ja ajavööndi muutmine
Comment[eu]=Aldatu sistemako ordua, data eta ordu-zona.
Comment[fi]=Muuta järjestelmän aikaa, päiväystä ja aikavyöhykettä
Comment[fr]=Change la date, l'heure et le fuseau.
Comment[gl]=Cambiar hora, data e fuso horario
Comment[gu]=સિસ્ટમ સમય, તારીખ, અને ટાઈમ ઝોન બદલો
Comment[hi]=बदलें तारीख़, समय और समय क्षेत्र
Comment[hr]=Promijenite vrijeme, datum i vremensku zonu sustava.
Comment[hu]=Rendszeridő, dátum és időzóna megváltoztatása
Comment[id]=Ubah tanggal, waktu, dan zona waktu komputer
Comment[it]=Cambia l'ora, la data e il fuso orario del sistema
Comment[ja]=システム時刻や日付、タイムゾーンを管理します
Comment[ko]=시간, 날짜와 시간대를 설정합니다
Comment[lt]=Keisti sistemos laikui, datai ir laiko juostai
Comment[mk]=Променете го системското време, датум и временска зона
Comment[ms]=Tukar masa , tarikh dan zonwaktu sistem
Comment[nb]=Endre systemets tid, dato og tidssone
Comment[ne]=प्रणाली समय,मिती र समय क्षेत्रलाई परिवर्तन गर्नुहोस् 
Comment[nl]=Datum, tijd en tijdzone aanpassen
Comment[no]=Endre systemets tid, dato og tidssone
Comment[pa]=ਸਿਸਟਮ ਸਮਾਂ, ਮਿਤੀ ਅਤੇ ਸਮਾਂ-ਖੇਤਰ ਤਬਦੀਲ
Comment[pl]=Zmiana czasu, daty i strefy czasowej
Comment[pt]=Alterar a hora, data e zona horária do sistema
Comment[pt_BR]=Altere a hora, a data e o fuso horário do sistema
Comment[ro]=Setare oră, dată şi fus orar
Comment[ru]=Установка времени, даты и часового пояса.
Comment[sk]=Zmena dátumu, času a časová zóna
Comment[sq]=Ndryshon orën e sistemit, datën, dhe zonën e orës
Comment[sr]=Промените време, датум и временску зону система.
Comment[sr@Latn]=Promenite vreme, datum i vremensku zonu sistema.
Comment[sv]=Ändra systemtid, datum och tidszon.
Comment[ta]=கணினி நேரம், தேதி மற்றும் இடத்திற்கேற்ப நேரம் இவைகளை மாற்றவும்
Comment[th]=ตั้งเวลา, วันที่, และเขตเวลาของระบบ
Comment[tr]=Sistem zamanı, tarihi ve zaman dilimini değiştir
Comment[uk]=Змінити системну дату, час і часовий пояс
Comment[vi]=Sửa đổi thời gian, ngày và múi giờ trong hệ thống
Comment[wa]=Candjî l' date, eure eyet coisse d' eureye do sistinme
Comment[xh]=Tshintsha ixesha lenkqubo, umhla nezowuni yexesha
Comment[zh_CN]=更改系统时间、日期和时区
Comment[zh_TW]=改變系統時刻、日期及時區。
Exec=gksudo time-admin
Icon=/usr/share/gnome-system-tools/pixmaps/time.png
Terminal=false
Type=Application
Categories=Application;System;Settings
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-system-tools
X-GNOME-Bugzilla-Component=time-admin
X-GNOME-Bugzilla-Version=1.4.0
StartupNotify=true
Encoding=UTF-8
